<a href="https://colab.research.google.com/github/nurimammasri/Wooky-Python/blob/main/01.%20Intro%20to%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Wooky***

https://blog.sanbercode.com/docs/kurikulum-python-data-science/pendahuluan/

password : IMDS2020
# **Introduction to Python**

This colab will cover some introduction to Python Programming Language : 
- How to output a text
- Comment in Python
- Variables in Python
- Casting
- String
- Operators
- If - Else
- Looping
- Function
- Data Structure in Python


[Python Dunia Ilkom](https://www.duniailkom.com/tutorial-belajar-bahasa-pemrograman-python-untuk-pemula/)

[Youtube Kelas Terbuka](https://www.youtube.com/playlist?list=PLZS-MHyEIRo59lUBwU-XHH7Ymmb04ffOY)

[Python Dunia Ilkom](https://www.duniailkom.com/tutorial-belajar-bahasa-pemrograman-python-untuk-pemula/)

[Belajar Python](https://belajarpython.com/tutorial/apa-itu-python)

[Tutorials Point Python](https://www.tutorialspoint.com/python/index.htm)

[Petani Kode Python](https://www.petanikode.com/tutorial/python/)

Bahasa Pemrograman Python adalah interpreted high-level programming language for general-purpose programming. Terjemahan bebasnya: Python adalah bahasa pemrograman tingkat tinggi (high-level programming language), berjalan dengan sistem interpreted, dan bisa dipakai untuk berbagai jenis tujuan (general-purpose).

Sebutan bahasa pemrograman tingkat tinggi merujuk level kedekatan sebuah bahasa pemrograman ke kode-kode listrik yang dipakai komputer. Sebuah bahasa pemrograman disebut sebagai bahasa pemrograman tingkat tinggi (high-level programming language) karena perintah atau kode program yang dipakai sudah mirip dengan bahasa manusia (bahasa inggris).


Python adalah bahasa pemrograman interpretatif multiguna. Tidak seperti bahasa lain yang susah untuk dibaca dan dipahami, python lebih menekankan pada keterbacaan kode agar lebih mudah untuk memahami sintaks. Hal ini membuat Python sangat mudah dipelajari baik untuk pemula maupun untuk yang sudah menguasai bahasa pemrograman lain.

Bahasa ini muncul pertama kali pada tahun 1991, dirancang oleh seorang bernama Guido van Rossum. Sampai saat ini Python masih dikembangkan oleh Python Software Foundation. Bahasa Python mendukung hampir semua sistem operasi, bahkan untuk sistem operasi Linux, hampir semua distronya sudah menyertakan Python di dalamnya.

Dengan kode yang simpel dan mudah diimplementasikan, seorang programmer dapat lebih mengutamakan pengembangan aplikasi yang dibuat, bukan malah sibuk mencari syntax error.

Python menggunakan metode pemrosesan interpreted, dimana kode program akan diproses baris per baris langsung dari kode program (tidak butuh proses compile).

# **Cara Kerja Program dan Bytecode**

cara menjalankan 

> python Main.py

> python -m py_compile Main.py 

Maka akan ada folder baru _ _pycache_ _


Atau bisa mengguanakan IDLE dan Ipython atau notebook (ipynb)


Python -> Bahasa Pemrograman -> Interpreter

Source Code

![carakerjapython.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/carakerjapython.png)

# **Instalasi Python**

Sebelum Anda menggunakan Python, Anda harus menginstalnya terlebih dahulu di sistem operasi komputer Anda. Saat ini Python memiliki 2 versi yang berbeda, yaitu Python versi 3.4.3 dan Python versi 2.7.10. Disini kita akan belajar bahasa pemrograman Python menggunakan versi terbaru 3.4.3.

Cara menginstal python sangat mudah, ikuti panduan dibawah ini. Dibawah adalah panduan cara instal python di platform Linux, Windows dan Mac OS.\

***Linux***

1. Buka browser, kunjungi http://www.python.org/downloads/source/

2. Download versi terbaru Python berbentuk file zip untuk Unix/Linux

3. Ekstrak file zip yang baru saja di download

4. Edit file Modules/Setup jika Anda ingin kostumisasi Python

5. Jalankan ./configure script

6. make

7. make install

Langkah ini akan menginstal Python di lokasi standar `/usr/local/bin` dan library di `/usr/local/lib/pythonXX` dimana XX adalah versi terbaru Python yang anda gunakan.

> Untuk beberapa distro (distribution store) dari sistem operasi linux sudah terinstal Python di dalamnya. Jadi Anda tidak perlu menginstalnya lagi.


***Windows***

1. Buka browser, kunjungi http://www.python.org/downloads/windows/

2. ATAU, klik direct link https://www.python.org/ftp/python/3.8.1/python-3.8.1.exe

3. Buka (klik 2x) file installer python yang baru saja di download

4. Ikuti langkah instalasi sampai selesai

***Mac OS***

1. Buka browser, kunjungi http://www.python.org/download/mac/

2. Download versi terbaru Python untuk Macintosh

3. Buka file yang baru saja di download
Ikuti langkah instalasi sampai selesai

To check if you have python installed on a Windows PC, search in the start bar for Python or run the following on the Command Line (cmd.exe):

`python --version`

Python is an interpreted programming language, this means that as a developer you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed.

The way to run a python file is like this on the command line:

`python helloworld.py`

The Python Command Line

`python` or `py`

`ipython`

`exit()` -> to exit

* IDLE (Python 3.7) -> Script and Interactive Mode
* Python 3.7
* Python 3.7 Manual
* Python 3.7 Module Docs

![Menu-Python-di-Windows.jpg](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/Menu-Python-di-Windows.jpg)

**<h4>Interactive Mode dan Script Mode Python</h4>**

**Interactive Mode**

Karena Python di proses oleh interpreter, kita bisa menulis kode program Python baris per baris seperti yang sudah di praktekkan dalam tutorial sebelumnya. Cara ini dikenal juga sebagai interactive mode atau immediate mode, dimana setiap perintah akan langsung di proses begitu tombol Enter ditekan. Interactive mode python sangat praktis dan cocok dipakai untuk kode program python yang singkat.

![Cara-menjalankan-perintah-python-dari-cmd-Windows.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/Cara-menjalankan-perintah-python-dari-cmd-Windows.png)

Script Mode
**bold text**
script mode. Di sini kode python akan diproses seperti kebanyakan bahasa pemrograman lain. Kita membuat sebuah file terlebih dahulu, mengetik beberapa (atau ratusan) baris kode program, menyimpannya dan menjalankan file tersebut.

# **Aturan Dasar Penulisan**

1. Statement Terminator

    bahasa Python juga tidak perlu tanda titik koma ( ; ). 

    Meskipun begitu, Python tidak protes seandainya kita tetap ingin menambah tanda titik koma di akhir setiap perintah

    Tanda titik koma ini menjadi harus ditulis jika kita ingin menulis beberapa perintah dalam 1 baris kode program

    `print("Sedang belajar bahasa Python di "+web); print("Semangat!!");`


2. Case Sensitif

    huruf besar dan kecil dianggap berbeda. Perintah print tidak bisa ditulis menjadi Print atau PRINT. Ini berlaku untuk perintah-perintah lain seperti variabel dan keyword.

3. Indentations

    indentasi adalah menggeser atau “menjorokkan” beberapa baris kode program ke arah dalam.

    Biasanya indentasi dipakai untuk sekedar memudahkan pembacaan kode program, namun dalam Python, indentasi berfungsi sebagai penanda blok kode program.

# **Intro Style Guide**

Berikut adalah beberapa style guide menulis kode Python dengan baik dan benar. Panduan gaya penulisan kode ini mengacu pada PEP-008.

[PEP-008](https://www.python.org/dev/peps/pep-0008/)

**<h4>Indentasi</h4>**

Gunakan 4 spasi pada setiap tingkatan indentasi.

**<h4>Baris Lanjutan</h4>**

Seringkali, saat menulis kode, kita harus menggunakan baris lanjutan karena kode tidak cukup dituliskan dalam satu baris. Umumnya, kita dapat menggunakan tanda `hubung, kurung, kurawal`, atau seperti disarankan pada PEP-008, gunakan `hanging indent`.

In [1]:
# Opsi 1
# Rata kiri dengan kurung atau pemisah dengan argumen utama
# foo = long_function_name(var_one, var_two,
#                          var_three, var_four)
 
# Opsi 2
# Tambahkan indentasi ekstra - (level indentasi baru) untuk memisahkan parameter/argument dari bagian lainnya
# def long_function_name(
#         var_one, var_two, var_three,
#         var_four):
#     print(var_one)
 
# Opsi 3
# Hanging indents dengan penambahan level indentasi saja
# foo = long_function_name(
#     var_one, var_two,
#     var_three, var_four)

# **Pengecekan Style Guide PEP8**

**Lint**

Lint adalah proses pengecekan kode atas kemungkinan terjadi kesalahan (error), termasuk dalam proses ini adalah mengecek kesesuaian terhadap arahan gaya penulisan kode (style guide) PEP8. Aplikasi yang digunakan untuk proses ini disebut linter. Integrasi linter dengan editor kode Anda akan membuat efisien dalam menulis kode Python. Pertimbangan ini karena keluaran dari aplikasi linter hanya berupa teks singkat berupa keterangan dan kode Error atau Warning atau Kesalahan Konvensi Penamaan (Naming Conventions), akan dicontohkan selanjutnya.

Dengan lint atau linting akan meminimalkan kode Anda mengalami error, sebagai contoh salah satunya karena kesalahan indentasi di Python. Sebelum kode Anda diprotes oleh interpreter Python dengan IndentationError, lint akan memberitahukannya lebih dahulu ke Anda.

Berikut akan dibahas 3 jenis aplikasi linter, silakan dicermati dahulu, tidak harus semuanya diinstal/dicoba, hanya paket yang menurut Anda sesuai kebutuhan saja yang digunakan. Hasil keluarannya mungkin mirip, tapi pada kondisi tertentu akan ada keluaran atau fitur yang mungkin sesuai dengan kebutuhan Anda saya menulis kode.

* ***Pycodestyle (sebelumnya bernama pep8)***

    Pycodestyle adalah aplikasi open source (berlisensi MIT/Expat) untuk membantu mengecek kode terkait gaya penulisan kode dengan konvensi PEP8.

    Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install pycodestyle`

    `pycodestyle contoh.py`

    cara bacanya : contoh.py:6:1: baris 6 kolom 1

    [pycodestyle](https://github.com/PyCQA/pycodestyle)

* ***Pylint***

    Pylint adalah aplikasi open source (berlisensi GPL v2) untuk melakukan analisis kode Python, mengecek untuk kesalahan (error) pemrograman, memaksakan standar penulisan kode dengan mengecek penulisan kode yang tidak baik, serta memberikan saran untuk refactoring sederhana.

    Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install pylint`

    [pylint](https://github.com/PyCQA/pylint)

* ***Flake8***

    Flake8 adalah aplikasi open source (berlisensi MIT) yang membungkus sejumlah kemampuan aplikasi lain seperti pycodestyle, pyflakes, dan sejumlah (skrip/fitur) lainnya.

    Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install flake8`

    [flake8](https://github.com/PyCQA/flake8)


Cara menggunakannya yakni :

1. Membuat file python
2. install pystylecode, pylint flake8  (cmd)
3. masuk ke folder tempat file python, kemudian jalankan pycodestyle contoh.py, sesuaikan lintnya  (cmd)
4. Hasilnya akan muncul jika style guidenya tidak benar
5. ubah manual pada file python, dengan informasi contoh.py:6:1: baris 6 kolom 1

# **Memformat Kode**

Jika proses lint atau linting hanya melakukan pengecekan, terkait arahan gaya penulisan kode Anda bisa menggunakan aplikasi tambahan untuk memformat kode agar sesuai PEP8. Sehingga untuk Anda yang menggunakan editor kode yang sangat ringan dan ringkas fitur sekalipun, misalnya tanpa fasilitas lint, tetap bisa menghasilkan kode sesuai konvensi PEP8.

* ***Black***

    Black adalah proyek open source yang dikembangkan di repository Python Software Foundation (PSF) dengan lisensi MIT. Untuk mendapatkan gambaran, versi online (tidak resmi) ada di https://black.now.sh.

    Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install black`

    `black contoh.py`

    [Black](https://github.com/psf/black)



* ***YAPF (Yet Another Python Formatter)***

    YAPF adalah proyek open source yang dikembangkan di repository Google, dengan lisensi Apache.

    Untuk mendapatkan gambaran, versi online (tidak resmi) ada di https://yapf.now.sh

    Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install yapf`

    [Yapf](https://github.com/google/yapf)

* ***Autopep8***

    Autopep8 adalah proyek open source (berlisensi MIT) yang termasuk paling awal untuk memformat kode, dengan bantuan lint pycodestyle. Untuk instalasi menggunakan manajer paket pip sebagai berikut: 
    
    `pip install autopep8`

    [Autopep8](https://github.com/hhatto/autopep8)

Catatan:

* untuk black langsung mengubah file

* untuk pemrosesan dengan yapf, autopep8, tidak langsung mengubah isi file .py tetapi tampil ke layar

Cara menggunakannya yakni :

1. Membuat file python
2. install aplikasinya (cmd)
3. masuk ke folder tempat file python, kemudian jalankan `black contoh.py`, sesuaikan aplikasinya (cmd)
4. Black akan langsung mengubah sedangkan yapf dan autopep8 akan menampilkan terlebih dahulu di cmd.

# **Print Command**

To put an output, you can just call print command : **print(  )**

In [2]:
print("Hello DSC Universitas Hasanuddin")

Hello DSC Universitas Hasanuddin

In [3]:
print(10)

10

In [4]:
10

10

Try to print something on your own.

In [5]:
# TODO : Print a text
print("Nur Imam Masri")

Nur Imam Masri

catatan :

Hanya dengan menuliskan kode print seperti yang diatas, anda sudah bisa mencetak apapun yang anda inginkan di dalam tanda kurung (). Dibagian akhir kode pun, anda tidak harus mengakhirnya dengan tanda semicolon ;

Namun jika ingin menyambung syntax pada satu baris harus mengguanakan tanda ;

In [6]:
# print('Nur') print('Imam') print('Masri') Error : invalid syntax

In [7]:
print('Nur'); print('Imam'); print('Masri')

Nur
Imam
Masri

separate `,`

In [8]:
print("My name is", "Python.")
print("Monty Python.")

My name is Python.
Monty Python.

argument `sep=" "` and `end=" "`

In [9]:
print("Nur", "Imam", "Masri", sep="-")

Nur-Imam-Masri

In [10]:
print("Nur Imam Masri", end="+++")
print("Imam")

Nur Imam Masri+++Imam

In [11]:
print("My", "name", "is", "Monty", "Python.", sep="")

MynameisMontyPython.

# **Comment in Python**

Comments can be used to :
- make the code more readable
- prevent execution when testing code

In Python, you can make comment using **#** command.

In [12]:
# This is the explanation of code
print("Comment is not execute.")

Comment is not execute.

For multi-line comment you can use triple quotes and place command inside it.

In [13]:
"This comment to for single"

"""
First line comment
Second line comment
...
"""

print("Comment is not execute")

Comment is not execute

# **Variables in Python**

Data values can be stored in variables. Unlike other programming language, Python don't have command for declaring a variable. A variable is created at the moment you assign a value to it. Also, variable don't need to be declared with any particular type and can even change type after they have been set.

In [14]:
x = 'DSC Unhas' # type of x is string

x = 10          # type of x change to int

print(x)

10

A variable can have a short name (like x and y) or a more descriptive name (age, carName, total_volume). Rules for Python variables:
- A variable name **must** start with a letter or the underscore character
- A variable name **cannot start with a number**
- A variable name can only contain **alpha-numeric characters and underscores** (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [15]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
# 2myvar = "John"
# my-var = "John"
# my var = "John"

Besides, Python also allows you to assign values to **multiple variables** in one line.

In [16]:
a, b, c = "DSC", 'Unhas', 1

print(a)
print(b)
print(c)

DSC
Unhas
1

Or, you can assingn **same value** to multiple variables in one line.

In [17]:
a = b = c = "DSC Unhas"

print(a, b, c)

DSC Unhas DSC Unhas DSC Unhas

# **Print Value Of Variable**

In [18]:
#TYPE
a,b,c = 1,2,3
print(a, b, c)

print("a = %d , b = %d , c = %d" % (a,b,c)) #format identifier
print("a =",a,", b =",b,", c =",c) #type numeric value
print("a = "+str(a)+" , b = "+str(b)+" , c = "+str(c)) #format string
print(f'a = {a} , b = {b} , c = {c}') #f-string

print("a = {} , b = {} , c = {}".format(a,b,c)) # f{} format 01
print("b = {1} , a = {0} , c = {2}".format(a,b,c)) # f{} format 02
print("a = {:.2f} , b = {:.1f} , c = {:.4f}".format(a,b,c)) # f{} format 03
print("b = {1} , a = {0:.2f} , c = {2}".format(a,b,c)) # f{} format 04


print("a = {:>5} , b = {:>5} , c = {:>5.2f}".format(a,b,c)) # f{} format 05

print("I have a {carname}, it is a {model}".format(carname = "Ford", model = "Mustang")) # f{} format 06

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang")) # f{} format 07


print(r'That is Carol\'s cat.') # Raw String

1 2 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
b = 2 , a = 1 , c = 3
a = 1.00 , b = 2.0 , c = 3.0000
b = 2 , a = 1.00 , c = 3
a =     1 , b =     2 , c =  3.00
I have a Ford, it is a Mustang
I have a Ford, it is a Mustang.
That is Carol\'s cat.

In [19]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)

#nilai dan tipe data dalam variabel  dapat diubah
umur = 20               #nilai awal
print(umur)             #mencetak nilai umur
type(umur)              #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur)             #mencetak nilai umur
type(umur)              #mengecek tipe data umur

namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye" 

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang
50

# **Data Types**

Python dikenal sebagai salah satu bahasa yang menerapkan dynamic typing, yakni bahasa pemrograman yang hanya mengetahui tipe variabel saat program berjalan dan dilakukan assignment. Tentu saja, pada Python juga umumnya tidak ada deklarasi variabel, hanya berupa assignment statement.

Tipe data adalah suatu media atau memori pada komputer yang digunakan untuk menampung informasi.

Python sendiri mempunyai tipe data yang cukup unik bila kita bandingkan dengan bahasa pemrograman yang lain.


1. String :	"Ayo belajar Python"	

    Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')

2. Integer :	25 atau 1209	

    Menyatakan bilangan bulat

3. Float :	3.14 atau 0.99	

    Menyatakan bilangan yang mempunyai koma

4. Complex : 1 + 5j	

    Menyatakan pasangan angka real dan imajiner

5. Boolean : True atau False	

    Menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0

6. List : ['xyz', 786, 2.23]	

    Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah

7. Tuple : ('xyz', 768, 2.23)	

    Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah

8. Set : {'xyz', 768, 2.23}



9. Dictionary :	{'nama': 'adi','id':2}	

    Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai

..........................................................

* Text Type:	str

* Numeric Types:	int, float, complex

* Sequence Types:	list, tuple, range

* Mapping Type:	dict

* Set Types:	set, frozenset

* Boolean Type:	bool

* Binary Types:	bytes, bytearray, memoryview

In [20]:
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data Complex
print(5j)

#tipe data Boolean
print(True)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
5j
True
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}

dict

In [21]:
#Tipe Data String
foo = "Belajar Python di Duniailkom"
print(foo)
 
#Tipe Data Integer
foo = 1500
print(foo)
 
#Tipe Data Float
foo = 99.123
print(foo)
 
#Tipe Data Complex Number
foo = 4j
print(foo)
 
#Tipe Data Boolean
foo = True
print(foo)
 
#Tipe Data List
foo = ["satu","dua","tiga","satu"]
print(foo)
 
#Tipe Data Tuple
foo = ("satu","dua","tiga","satu")
print(foo)
 
#Tipe Data Set
foo = {"satu","dua","tiga","empat"}
print(foo)
 
#Tipe Data Dictionary
foo = {"satu":1, "dua":2.13, "tiga":"a", "empat": True}
print(foo)

Belajar Python di Duniailkom
1500
99.123
4j
True
['satu', 'dua', 'tiga', 'satu']
('satu', 'dua', 'tiga', 'satu')
{'dua', 'empat', 'satu', 'tiga'}
{'satu': 1, 'dua': 2.13, 'tiga': 'a', 'empat': True}

In [22]:
# integer
data_integer = 1
print('data = ', data_integer , ', type = ', type(data_integer))

# float
data_float = 1.5
print('data = ', data_float , ', type = ', type(data_float))

# string
data_string = 'imam'
print('data = ', data_string , ', type = ', type(data_string))

# boolean
data_bool = False
print('data = ', data_bool , ', type = ', type(data_bool))

data_bool = 1 # bisa di cast menjadi bool
print('data = ', data_bool , ', type = ', type(data_bool))

data =  1 , type =  <class 'int'>
data =  1.5 , type =  <class 'float'>
data =  imam , type =  <class 'str'>
data =  False , type =  <class 'bool'>
data =  1 , type =  <class 'int'>

In [23]:
# Tipe data khusus

# bilangan data kompleks
data_complex = complex(5,6)
print('data = ', data_complex , ', type = ', type(data_complex))

# tipe data bilangan C
# Char, Short, Long, Double, Long Double, Long Long dll
from ctypes import c_double
data_c_double = c_double(10.5)
print('data = ', data_c_double , ', type = ', type(data_c_double))

data =  (5+6j) , type =  <class 'complex'>
data =  c_double(10.5) , type =  <class 'ctypes.c_double'>

Additionally :

If an integer number is preceded by an `0O` or `0o` prefix (zero-o), it will be treated as an octal value. This means that the number must contain digits taken from the `[0..7] range only`.

`0o123` is an octal number with a (decimal) value equal to 83.

The print() function does the conversion automatically. Try this:

In [24]:
print(0o123)

83

The second convention allows us to use hexadecimal numbers. Such numbers should be preceded by the prefix `0x` or `0X` (zero-x).

`0x123` is a hexadecimal number with a (decimal) value equal to 291. The print() function can manage these values too. Try this:

In [25]:
print(0x123)

291

# **Casting**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- **int()** - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

- **bool()**

- **list(), tuple(), set(), dict()**

In [26]:
# Cast value to int

a = int(10)
b = int(10.82)
c = int('3')
d = int(True) 

print(a, b, c, d)

10 10 3 1

In [27]:
# Cast value to float

a = float(10)
b = float(10.82)
c = float('3.02')
d = float(True) 

print(a, b, c, d)

10.0 10.82 3.02 1.0

In [28]:
# Cast value to string

a = str(10)
b = str(10.82)
c = str('3.02')
d = str(True) 

print(a, b, c, d)

10 10.82 3.02 True

In [29]:
# Cast value to bool
# false only 0 or '' empty string
# true 1 or others or string 

a = bool(0) 
b = bool(1)
c = bool(20)
d = bool('23')
e = bool('')

print(a, b, c, d, e)

False True True True False

Why casting is important? Because you can't concatenate a string and a number. One of the ways to concatenate is to cast number value to string using **str()**.

In [30]:
text = "This year is "
year = 2020

# TODO : fix the error
print(text + str(year))  # this will throw an error. Try to cast year to string first

This year is 2020

# **Input Data**

Secara default, input dari user adalah string.

In [31]:
data = input('Masukkan data : ')
print('data = ', data , ', type = ', type(data))

# Masukkan data : Nur Imam Masri
# data =  Nur Imam Masri , type =  <class 'str'>

# Masukkan data : 5
# data =  5 , type =  <class 'str'>

# Masukkan data : 10.7
# data =  10.7 , type =  <class 'str'>

# Masukkan data : True
# data =  True , type =  <class 'str'>

Masukkan data : 10.7
data =  10.7 , type =  <class 'str'>

jika dilihat bahwa apapun yang di input akan tetap bertype string. Maka dilakukan casting pada input

In [32]:
angka = int(input('Masukkan angka : '))
print('angka = ', angka , ', type = ', type(angka))

# Masukkan angka : 345
# angka =  345 , type =  <class 'int'>

# Masukkan angka : 0.5
# invalid literal for int() with base 10: '0.5'

Masukkan angka : 345
angka =  345 , type =  <class 'int'>

In [33]:
f_angka = float(input('Masukkan f_angka : '))
print('f_angka = ', f_angka , ', type = ', type(f_angka))

# Masukkan f_angka : 5.05
# f_angka =  5.05 , type =  <class 'float'>

Masukkan f_angka : 5.05
f_angka =  5.05 , type =  <class 'float'>

Sedangkan untuk boolean maka harus agak teliti. karena nilainya akan tetap True walaupun inputnya False

In [34]:
boolean = bool(input('Masukkan boolean : '))
print('boolean = ', boolean , ', type = ', type(boolean))

# Masukkan boolean : True
# boolean =  True , type =  <class 'bool'>

# Namun jika input false akan menyebabkan nilai tetap True
# Masukkan boolean : False
# boolean =  True , type =  <class 'bool'>

# Masukkan boolean : 1
# boolean =  True , type =  <class 'bool'>

# Masukkan boolean : 0
# boolean =  True , type =  <class 'bool'>

Masukkan boolean : False
boolean =  True , type =  <class 'bool'>

Namun jika input false akan menyebabkan nilai tetap True

Masukkan boolean : False

boolean =  True , type =  <class 'bool'>

Maka untuk melakukan detection False maka akan harus mengguanakan nilai integer (cast int).

In [35]:
biner = bool(int(input('Masukkan biner : ')))
print('biner = ', biner , ', type = ', type(biner))

# Masukkan biner : 1
# biner =  True , type =  <class 'bool'>

# Masukkan biner : 0
# biner =  False , type =  <class 'bool'>

Masukkan biner : 0
biner =  False , type =  <class 'bool'>

Python 2.7

In [36]:
# username = raw_input("Enter username:")
# print("Username is: " + username)

# **Boolean**

In programming you often need to know if an expression is True or False.

True ->

Most Values are True

Almost any value is evaluated to True if it has some sort of content.

* Any `string` is `True`, except `empty strings`.

* Any `number` is `True`, except `0`.

* Any `list, tuple, set, and dictionary` are `True`, except `empty ones`.


False ->

* Konstanta yang sudah didefinisikan bernilai salah: None dan False

* Angka nol dari semua tipe numeric: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)

* Urutan (sequence) dan koleksi (collection) yang kosong: '', (), {}, set(), range(0)

In [37]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [38]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [39]:
# Cast value to bool
# false only 0 or '' empty string
# true 1 or others or string 

a = bool(0) 
b = bool(1)
c = bool(20)
d = bool('23')
e = bool('')

print(a, b, c, d, e)

False True True True False

# **Number**

Number adalah tipe data Python yang menyimpan nilai numerik. Number adalah tipe data yang tidak berubah. Ini berarti, mengubah nilai dari sejumlah tipe data akan menghasilkan objek yang baru dialokasikan.

Python mendukung beberapa tipe data Number diantaranya :

* Int
* Float
* Complex

**Konversi Tipe Data Number Python**

Pada Python Anda bisa mengkonversi tipe data dengan menggunakan fungsi. Dibawah ini adalah beberapa fungsi untuk mengkonversi tipe data number Python.

* **int(x)** untuk meng-konversi x menjadi plain integer.

* **long(x)** untuk meng-konversi x menjadi long integer.

* **float(x)** untuk meng-konversi x menjadi floating point number.

* **complex(x)** untuk meng-konversi x menjadi complex number dengna real part x dan imaginary part zero.

* **complex(x, y)** untuk meng-konversi x dan y menjadi complex number dengan real part x dan imaginary part y. x dan numeric expressions y.

**Fungsi Matematika Python**

![fungsimatematika01.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/fungsimatematika01.png)

![fungsimatematika02.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/fungsimatematika02.png)


**Fungsi Nomor Acak Python**

![fungsinomoracak.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/fungsinomoracak.png)


**Fungsi Trigonometri Python**

![fungsitrigonometri.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/fungsitrigonometri.png)

**Konstanta Matematika Python**

![fungsikonstanta.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/fungsikonstanta.png)

Tambahan

**fungsi zfill( )**

awalan 0 (0001 untuk angka 1, 0101 untuk angka 101, dan sebagainya). Anda dapat menggunakan fungsi zfill(). Catatannya adalah angka harus dikonversi ke string terlebih dahulu

`str(x).zfill(5)`


## **Additionally :**

### **Float**

As you can probably imagine, the value of zero point four could be written in Python as:

`0.4`

But don't forget this simple rule - you can omit zero when it is the only digit in front of or after the decimal point.

In essence, you can write the value 0.4 as:

`.4`

For example: the value of 4.0 could be written as:

`4.`


### **Scientific Notation**

Take, for example, the speed of light, expressed in meters per second. Written directly it would look like this: 300000000.

To avoid writing out so many zeros, physics textbooks use an abbreviated form, which you have probably already seen: 3 x 108.

It reads: three times ten to the power of eight.

In Python, the same effect is achieved in a slightly different way - take a look:

3E8

The letter E (you can also use the lower-case letter e - it comes from the word exponent) is a concise record of the phrase times ten to the power of.

Note:

the exponent (the value after the E) has to be an integer;
the base (the value in front of the E) may be an integer.

# **String**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**

Di dalam bahasa Python, terdapat 3 cara untuk membuat tipe data string:

* Menggunakan tanda kutip satu ( ‘ )

* Menggunakan tanda kutip dua ( ” )

* Menggunakan tanda kutip satu atau dua sebanyak 3 kali ( ‘ ‘ ‘ ) atau (” ” “)

In [40]:
print('hello' == "hello")  # will return True

True

In [41]:
foo = "Teks ini akan dipecah\nke dalam 2 baris"
print(foo)
foo = 'Teks ini\nakan dipecah\nke dalam 3 baris'
print(foo)

Teks ini akan dipecah
ke dalam 2 baris
Teks ini
akan dipecah
ke dalam 3 baris

For multiline string, you can use triple quotes " " " ... " " " or triple single quote ' ' ' ... ' ' '

In [42]:
text = """Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, 
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. """

print(text)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

## **Strings are Arrays**
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [43]:
text = "Universitas Hasanuddin"

# Get a character in position 2
print(text[2])

i

but not support assignment

In [44]:
text = "Universitas Hasanuddin"
print(text)

# assignment
# text[0]='A'
# print(text)
# ERROR = 'str' object does not support item assignment

Universitas Hasanuddin

We've also told you that Python's `strings are immutable`. This is a very important feature.

## **Subsetting(Indexing) and Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string. Also, you can use negative indexes to start the slice from the end of the string.

In [45]:
text = "DSC Universitas Hasanuddin"
print(text[2])
print(text[-2])

print(text[:3])     # print text start from beginning to index 3(not include)
print(text[4:15])   # print text start from index 4 to index 15(not include)
print(text[:-2])    # print text start from beginning to index 1 from end (not include)

C
i
DSC
Universitas
DSC Universitas Hasanudd

In [46]:
text = "DSC Universitas Hasanuddin"

# TODO : Try to print 'versit' from text using slicing

print(text[7:13])

versit

In [47]:
# Slices

alpha = "abdefg"

print(alpha[1:3])
print(alpha[3:])
print(alpha[:3])
print(alpha[3:-2])
print(alpha[-3:4])
print(alpha[::2])
print(alpha[1::2])

bd
efg
abd
e
e
adf
beg

## **String Concatenation**

String concatenation in Python can be done these ways :
- Using str() function
- Using % operator
- Using format() function
- Using f-string

In [48]:
date = 21
month = 'February'

print('Today is ' + month + ', ' + str(date) + 'st.')

Today is February, 21st.

In [49]:
date = 21
month = 'February'

print('Today is %s, %dst.' % (month, date))

Today is February, 21st.

In [50]:
date = 21
month = 'February'

print('Today is {}, {}st.'.format(month, date))

print('Today is {1}, {0}st.'.format(date, month))

Today is February, 21st.
Today is February, 21st.

In [51]:
date = 21
month = 'February'

print(f'Today is {month}, {date}st.')

Today is February, 21st.

In [52]:
#TYPE
a,b,c = 1,2,3
print("a = %d , b = %d , c = %d" % (a,b,c)) #format identifier
print("a =",a,", b =",b,", c =",c) #type numeric value
print("a = "+str(a)+" , b = "+str(b)+" , c = "+str(c)) #format string
print(f'a = {a} , b = {b} , c = {c}') #f-string
print("a = {} , b = {} , c = {}".format(a,b,c)) # f{} format 01
print("b = {1} , a = {0} , c = {2}".format(a,b,c)) # f{} format 02
print("a = {:.2f} , b = {:.1f} , c = {}".format(a,b,c)) # f{} format 03
print("b = {1} , a = {0:.2f} , c = {2}".format(a,b,c)) # f{} format 04

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang")) # f{} format 05

print(r'That is Carol\'s cat.') # Raw String

a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
b = 2 , a = 1 , c = 3
a = 1.00 , b = 2.0 , c = 3
b = 2 , a = 1.00 , c = 3
I have a Ford, it is a Mustang.
That is Carol\'s cat.

## **Escape Characters**

* \a : Bell atau alert

* \b : Backspace

* \cx : Control-x

* \C-x : Control-x

* \e : Escape

* \f : Formfeed

* \M-\C-x : Meta-Control-x

* \n : Newline

* \nnn : Octal notation, dimana n berada di range 0.7

* \r : Carriage return

* \s : Space

* \t : Tab

* \v : Vertical tab

* \x : Character x

* \xnn : Notasi Hexadecimal, dimana n berada di range 0.9, a.f, atau A.F

## **Operator Spesial String Python**

Asumsikan variabel string adalah 'Belajar' dan variabel b adalah 'Python', lalu dibawah ini adalah operator yang bisa dipakai pada kedua string di variabel tersebut. a = "Belajar" b = "Python"

* \+ --> a + b	
    
    akan menghasilkan BelajarPython Concatenation - Menambahkan nilai pada kedua sisi operator

* \* --> a\*2 or or 2\*a
    
    akan menghasilkan BelajarBelajar Pengulangan - Membuat string baru, menggabungkan beberapa salinan dari string yang sama

* [] -->	a[1]	

    akan menghasilkan e Slice - Memberikan karakter dari indeks yang diberikan

* [ : ] -->	a[1:4]	
    
    akan menghasilkan ela Range Slice - Memberikan karakter dari kisaran yang diberikan

* in -->	B in a	
    
    akan menghasilkan 1 Keanggotaan - Mengembalikan nilai true jika ada karakter dalam string yang diberikan

* not in --> Z not in a	
    
    akan menghasilkan 1 Keanggotaan - Mengembalikan nilai true jika karakter tidak ada dalam string yang diberikan

* r/R --> 	`print r'\n'` `prints \n` dan `print R'\n'` `prints \n Raw String` 	
    
    Menekan arti aktual karakter Escape. Sintaks untuk string mentah sama persis dengan string biasa kecuali operator string mentah, huruf “r”, yang mendahului tanda petik. “R” bisa berupa huruf kecil (r) atau huruf besar (R) dan harus ditempatkan tepat sebelum tanda kutip pertama.

* % --> Format - Melakukan format String

In [53]:
a = "Belajar"
b = "Python"

print('a+b = ',a+b)
print('a*2 = ',a*2)
print('3*a = ',3*a)
print('B in a = ','B' in a)
print('Z not in a = ', 'Z' not in a)
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

a+b =  BelajarPython
a*2 =  BelajarBelajar
3*a =  BelajarBelajarBelajar
B in a =  True
Z not in a =  True
My name is Zara and weight is 21 kg!

## **Operator Format String Python**

* %c = character
* %s = Konversi string melalui str () sebelum memformat
* %i = Dianggap sebagai bilangan bulat desimal
* %d = Dianggap sebagai bilangan bulat desimal
* %u = Unsigned decimal integer
* %o = Bilangan bulat oktal
* %x = Bilangan bulat heksadesimal (huruf kecil)
* %X = Bilangan bulat heksadesimal (huruf besar)
* %e = Notasi eksponensial (dengan huruf kecil ‘e’)
* %E = Notasi eksponensial (dengan huruf besar ‘E’)
* %f = Bilangan real floating point
* %g = Yang lebih pendek dari% f dan% e
* %G = Lebih pendek dari% f dan% E

In [54]:
#TYPE
a,b,c = 1,2,3
print("a = %d , b = %d , c = %d" % (a,b,c)) #format identifier
print("a =",a,", b =",b,", c =",c) #type numeric value
print("a = "+str(a)+" , b = "+str(b)+" , c = "+str(c)) #format string
print(f'a = {a} , b = {b} , c = {c}') #f-string
print("a = {} , b = {} , c = {}".format(a,b,c)) # f{} format 01
print("b = {1} , a = {0} , c = {2}".format(a,b,c)) # f{} format 02
print("a = {:.2f} , b = {:.1f} , c = {}".format(a,b,c)) # f{} format 03
print("b = {1} , a = {0:.2f} , c = {2}".format(a,b,c)) # f{} format 04

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang")) # f{} format 05

print(r'That is Carol\'s cat.') # Raw String

a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
a = 1 , b = 2 , c = 3
b = 2 , a = 1 , c = 3
a = 1.00 , b = 2.0 , c = 3
b = 2 , a = 1.00 , c = 3
I have a Ford, it is a Mustang.
That is Carol\'s cat.

## **String Format { }**

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Use the format() method to insert numbers into strings:

In [55]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [56]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [57]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## **String Method and Unicode Python**

* `capitalize()`	

    Mengkapitalkan huruf pertama string

* `center(width, fillchar)`

    Mengembalikan string yang dilapisi dengan fillchar dengan string asli yang dipusatkan pada total width kolom.

* `count(str, beg = 0,end = len(string))`	
    
    Menghitung berapa kali str yang terjadi dalam string atau dalam substring string jika memulai indeks beg dan end index end diberikan.

* `decode(encoding = 'UTF-8',errors = 'strict')`

    Dekode string menggunakan codec yang terdaftar untuk pengkodean. Encoding default ke pengkodean string default.

* `encode(encoding = 'UTF-8',errors = 'strict')`

    Mengembalikan versi string yang dikodekan string; Pada kesalahan, default adalah menaikkan ValueError kecuali jika kesalahan diberikan dengan ‘ignore’ atau ‘replace’.

* `expandtabs(tabsize = 8)`	

    Memperluas tab dalam string ke banyak ruang; Default ke 8 spasi per tab jika tabsize tidak tersedia.

* `find(str, beg = 0 end = len(string))`	

    Tentukan jika str terjadi dalam string atau dalam substring string jika memulai indeks beg dan end index end diberikan return index jika ditemukan dan -1 sebaliknya.

* `index(str, beg = 0, end = len(string))`	

    Sama seperti find (), namun menimbulkan pengecualian jika str tidak ditemukan.


* `isalnum()`

    Mengembalikan true jika string memiliki minimal 1 karakter dan semua karakternya alfanumerik dan false sebaliknya.

* `isalpha()`

    Mengembalikan true jika string memiliki minimal 1 karakter dan semua karakter adalah abjad dan false sebaliknya.

* `isdigit()`

    Mengembalikan true jika string hanya berisi digit dan false sebaliknya.

* `islower()`

    Mengembalikan true jika string memiliki setidaknya 1 karakter casing dan semua karakter casing dalam huruf kecil dan false sebaliknya.

* `isnumeric()`	

    Mengembalikan true jika string unicode hanya berisi karakter numerik dan false sebaliknya.

* `isspace()`

    Mengembalikan true jika string hanya berisi karakter spasi dan false sebaliknya.

* `istitle()`	

    Mengembalikan true jika string benar “titlecased” dan false sebaliknya.

* `isupper()`

    Mengembalikan true jika string memiliki setidaknya satu karakter casing dan semua karakter casing ada dalam huruf besar dan false sebaliknya.

* `join(seq)`

    Merges (concatenates) representasi string elemen dalam urutan seq menjadi string, dengan string pemisah.

* `len(string)`

    Mengembalikan panjang string

* `ljust(width[, fillchar])`

    Mengembalikan string berlapis ruang dengan string asli dibiarkan dibenarkan ke kolom lebar total.

* `lstrip()`

    Menghapus semua spasi utama dalam string.

* `maketrans()`

    Mengembalikan tabel terjemahan untuk digunakan dalam fungsi terjemahan.

* `max(str)`

    Mengembalikan karakter alfabetik dari string str.

* `min(str)`

    Mengembalikan min karakter abjad dari string str.

* `replace(old, new [, max])`	

    Menggantikan semua kemunculan lama dalam string dengan kejadian baru atau paling maksimal jika max diberikan.

* `rfind(str, beg = 0,end = len(string))`

    Sama seperti find (), tapi cari mundur dalam string.

* `rindex( str, beg = 0, end = len(string))`
    Sama seperti index (), tapi cari mundur dalam string.

* `rjust(width,[, fillchar])`	

    Mengembalikan string berlapis ruang dengan senar asli benar-dibenarkan untuk total kolom lebar.

* `rstrip()`

    Menghapus semua spasi spasi string.

* `split(str="", num=string.count(str))`	

    Membagi string sesuai dengan pemisah str (ruang jika tidak disediakan) dan mengembalikan daftar substring; Terpecah menjadi paling banyak substring jika diberikan.

* `splitlines( num=string.count('\n'))`	

    Membagi string sama sekali (atau num) NEWLINEs dan mengembalikan daftar setiap baris dengan NEWLINEs dihapus.

* `startswith(str, beg=0,end=len(string)`	

    Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

* `endswith(suffix, beg = 0, end = len(string))`	

    Menentukan apakah string atau substring string (jika memulai indeks memohon dan mengakhiri akhir indeks diberikan) berakhir dengan akhiran; Mengembalikan nilai true jika benar dan salah.

* `strip([chars])`

    Lakukan kedua lstrip () dan rstrip () pada string

* `swapcase()`	

    Kasus invers untuk semua huruf dalam string.

* `title()`	

    Mengembalikan versi string “titlecased”, yaitu, semua kata diawali dengan huruf besar dan sisanya huruf kecil.

* `translate(table, deletechars="")`

    Menerjemahkan string sesuai dengan tabel terjemahan str (256 karakter), menghapus string del.

* `upper()`	

    Mengonversi huruf kecil dalam bentuk string ke huruf besar.

* `lower()`

    Mengonversi semua huruf besar dalam bentuk string menjadi huruf kecil.

* `zfill (width)`	

    Mengembalikan string asli yang tertinggal dengan angka nol ke total karakter lebar; Dimaksudkan untuk angka, zfill () mempertahankan tanda apapun yang diberikan (kurang satu nol).

* `isdecimal()`

    Mengembalikan nilai true jika string unicode hanya berisi karakter desimal dan false sebaliknya.



Python has a set of built-in methods that you can use on strings. Reference : [String Method](https://www.w3schools.com/python/python_ref_string.asp)

### Example (len, strip, lower, upper, isupper, islower, replace, split, count)

The `len(string)`, Mengembalikan panjang string

In [58]:
# Example 1

word = 'by'
print(len(word))


# Example 2

empty = ''
print(len(empty))


# Example 3

i_am = 'I\'m'
print(len(i_am))

2
0
3

In [59]:
multiline = '''Line #1
Line #2'''

print(len(multiline))

15

The `strip()` method removes any whitespace from the beginning or the end:

In [60]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

The `lower()` method returns the string in lower case:

In [61]:
a = "Hello, World!"
print(a.lower())

hello, world!

The `upper()` method returns the string in upper case:

In [62]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [63]:
'abc12345'.islower()

True

In [64]:
'12345'.islower()

False

In [65]:
'12345'.isupper()

False

In [66]:
print('Hello'.upper())
print('Hello'.upper().lower())
print('Hello'.upper().lower().upper())
print('HELLO'.lower())
print('HELLO'.lower().islower())

HELLO
hello
HELLO
hello
True

The `replace()` method replaces a string with another string:

In [67]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [68]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = [x.replace('.hpp','.h') for x in filenames]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

The `split()` method splits the string into substrings if it finds instances of the separator:

In [69]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

the `.count('')` digunakan untuk menghitung banyak huruf di dalam string

In [70]:
kalimat = "Corona cepat selesai"
# gunakan method untuk menghitung berapa huruf e di dalam kalimat
print(kalimat.count("e"))

3

### **Metode isX dari String untuk Pengecekan**

Selain islower() and isupper(), terdapat beberapa metode lain yang dapat digunakan untuk memeriksa isi dari string. Semua method berikut mengembalikan nilai boolean:

* `isalpha()` mengembalikan True jika string berisi hanya huruf dan tidak kosong.

* `isalnum()` mengembalikan True jika string berisi hanya huruf atau angka, dan tidak kosong.

* `isdecimal()` mengembalikan True jika string berisi hanya angka/numerik dan tidak kosong.

`isdigit()` digit only

* `isspace()` mengembalikan True jika string berisi hanya spasi, tab, newline, atau whitespaces lainnya dan tidak kosong.

* `istitle()` mengembalikan True jika string berisi kata yang diawali huruf kapital dan dilanjutkan dengan huruf kecil seterusnya.

In [71]:
'hello'.isalpha()

True

In [72]:
'hello123'.isalpha()

False

In [73]:
print("Moooo".isalpha())
print('Mu40'.isalpha())

True
False

In [74]:
'hello123'.isalnum()

True

In [75]:
'hello'.isalnum()

True

In [76]:
# Demonstrating the isalnum() method:
print('lambda30'.isalnum())
print('lambda'.isalnum())
print('30'.isalnum())
print('@'.isalnum())
print('lambda_30'.isalnum())
print(''.isalnum())

True
True
True
False
False
False

In [77]:
'123'.isdecimal()

True

In [78]:
'    '.isspace()

True

In [79]:
'This Is Title Case'.istitle()

True

In [80]:
'This Is Title Case 123'.istitle()

True

In [81]:
'This Is not Title Case'.istitle()

False

In [82]:
'This Is NOT Title Case Either'.istitle()

False

In [83]:
print('2018'.isdigit())
print("Year2019".isdigit())

True
False

In [84]:
while True:
    print('Enter your age:')
    age = input()
    if age.isdecimal():
        break
    print('Please enter a number for your age.')
while True:
    print('Select a new password (letters and numbers only):')
    password = input()
    if password.isalnum():
        break
    print('Passwords can only have letters and numbers.')

Enter your age:
20
Select a new password (letters and numbers only):
nurimammasri

### **Metode startswith() dan endswith() dari String**

Fungsi startswith() dan endswith() akan mengembalikan nilai True berdasarkan nilai awalan atau akhiran string.

In [85]:
'Hello world!'.startswith('Hello')

True

In [86]:
'Hello world!'.endswith('world!')

True

In [87]:
'abc123'.startswith('abcdef')

False

In [88]:
t = "zeta"
print(t.endswith("a"))
print(t.endswith("A"))
print(t.endswith("et"))
print(t.endswith("eta"))

True
False
False
True

### **Metode join() dan split() dari String**

Fungsi join() berguna saat Anda memiliki sejumlah string yang perlu digabungkan.

In [89]:
', '.join(['cats', 'rats', 'bats'])

'cats, rats, bats'

In [90]:
' '.join(['My', 'name', 'is', 'Simon'])

'My name is Simon'

In [91]:
'ABC'.join(['My', 'name', 'is', 'Simon'])

'MyABCnameABCisABCSimon'

In [92]:
'My name is Simon'.split()

['My', 'name', 'is', 'Simon']

In [93]:
'MyABCnameABCisABCSimon'.split('ABC')

['My', 'name', 'is', 'Simon']

In [94]:
'My name is Simon'.split(" ", 1)

['My', 'name is Simon']

In [95]:
'My name is Simon'.split(" ", 2)

['My', 'name', 'is Simon']

In [96]:
'My name is Simon'.split(" ", 3)

['My', 'name', 'is', 'Simon']

### **Teks rata kanan, kiri, tengah dengan rjust(), ljust(), dan center()**

Anda dapat merapikan pencetakan teks di layar dengan rjust(), ljust() atau center(). rjust() dan ljust() akan menambahkan spasi pada string untuk membuatnya sesuai (misalnya rata kiri atau rata kanan). Argumennya berupa integer yang merupakan panjang teks secara keseluruhan (bukan jumlah spasi yang ditambahkan)

In [97]:
'Hello'.rjust(10)

'     Hello'

In [98]:
'Hello'.ljust(10)

'Hello     '

In [99]:
'Hello'.center(20)

'       Hello        '

'Hello'.rjust(10) dapat diartikan sebagai kita ingin menuliskan Hello dalam mode rata kanan dengan total panjang string 10.

In [100]:
'Hello'.rjust(20, '*')

'***************Hello'

In [101]:
'Hello'.ljust(20, '-')

'Hello---------------'

In [102]:
'Hello'.center(20, '=')

'=======Hello========'

In [103]:
print('[' + 'Beta'.center(2) + ']')
print('[' + 'Beta'.center(4) + ']')
print('[' + 'Beta'.center(6) + ']')

[Beta]
[Beta]
[ Beta ]

In [104]:
print('[' + 'gamma'.center(20, '*') + ']')

[*******gamma********]

### **Hapus Whitespace dengan strip(), rstrip(), dan lstrip()**

Saat Anda menerima string sebagai parameter, seringkali masih terdapat karakter whitespace (spasi, tab, dan newline) di bagian awal dan atau akhir string yang dimaksud. Metode strip() akan menghapus whitespace pada bagian awal atau akhir string. lstrip() dan rstrip() akan menghapus sesuai dengan namanya, awal saja atau akhir saja

In [105]:
spam = '    Hello World     '
spam.strip()

'Hello World'

In [106]:
spam.lstrip()

'Hello World     '

In [107]:
spam.rstrip()

'    Hello World'

Anda juga bisa menentukan mana karakter atau bagian yang ingin dihilangkan, misalnya:

In [108]:
spam = 'SpamSpamBaconSpamEggsSpamSpam'
spam.strip('ampS')

'BaconSpamEggs'

Saat mengirimkan ‘ampS’ sebagai argumen strip, maka Python akan menghapus setiap huruf a, m, p dan S kapital dari string yang dioperasikan. Urutan untuk parameter ini tidak berpengaruh, sehingga strip('ampS') akan berlaku sama dengan ('mapS') atau strip('Spam').

In [109]:
def format_name(first_name, last_name):
	name = (last_name +", "+ first_name).strip(", ")
	string = ""
	if(first_name != "" or last_name != ""):
		string = "Name: "+name
	return string

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

### **Menghapus aatu Mengganti string/substring dengan replace()**

In [110]:
string = "Ayo belajar Coding di Dicoding"
print(string.replace("Coding", "Pemrograman"))

Ayo belajar Pemrograman di Dicoding

Opsional, Parameter ketiga pada replace dapat diisi jumlah substring yang ingin diganti.

In [111]:
string = "Ayo belajar Coding di Dicoding karena Coding adalah bahasa masa depan"
print(string.replace("Coding", "Pemrograman", 1))

Ayo belajar Pemrograman di Dicoding karena Coding adalah bahasa masa depan

Menghapus alpabet atau string pada string

In [112]:
string = "Ayo belajar Coding di Dicoding karena Coding!"
string.replace("!", "")

'Ayo belajar Coding di Dicoding karena Coding'

In [113]:
string = "Ayo belajar Coding di Dicoding karena Coding!"
string.replace("Ayo ", "")

'belajar Coding di Dicoding karena Coding!'

### **index()**

The index() method (it's a method, not a function) searches the sequence from the beginning, in order to find the first element of the value specified in its argument.

In [114]:
# Demonstrating the index() method:
print("aAbByYzZaA".index("b"))
print("aAbByYzZaA".index("Z"))
print("aAbByYzZaA".index("A"))

2
7
1

###**rindex()**
str.rindex(str, beg=0 end=len(string))
Parameters
str − This specifies the string to be searched.

beg − This is the starting index, by default its 0

len − This is ending index, by default its equal to the length of the string.

https://www.tutorialspoint.com/python/string_rindex.htm#:~:text=Python%20string%20method%20rindex(),string%5Bbeg%3Aend%5D.

In [115]:
str1 = "this is string example....wow!!!";
str2 = "is";

print(str1.rindex(str2))
print(str1.index(str2))

5
2

### **ASCII/UNICODE code point**

If you want to know a `specific character's ASCII/UNICODE code point value`, you can use a function named `ord()` (as in ordinal).

The function needs a one-character string as its argument - breaching this requirement causes a TypeError exception, and returns a number representing the argument's code point.

In [116]:
# Demonstrating the ord() function.

char_1 = 'a'
char_2 = ' '  # space

print(ord(char_1))
print(ord(char_2))

97
32

If you know the code point (number) and want to get the corresponding character, you can use a function named `chr()`.

The function `takes a code point and returns its character`.

Invoking it with an invalid argument (e.g., a negative or invalid code point) causes ValueError or TypeError exceptions.

In [117]:
# Demonstrating the chr() function.

print(chr(97))
print(chr(945))

a
α

### **capitalize()**

The capitalize() method does exactly what it says - it creates a new string filled with characters taken from the source string

In [118]:
# Demonstrating the capitalize() method:
print("Alpha".capitalize())
print('ALPHA'.capitalize())
print(' Alpha'.capitalize())
print('123'.capitalize())
print("αβγδ".capitalize())

Alpha
Alpha
 alpha
123
Αβγδ

### **swapcase()**

The `swapcase()` method `makes a new string by swapping the case of all letters within the source string`: lower-case characters become upper-case, and vice versa.

In [119]:
# Demonstrating the swapcase() method:
print("I know that I know nothing.".swapcase())

i KNOW THAT i KNOW NOTHING.

### **title()**

The `title()` method performs a somewhat similar function - it `changes every word's first letter to upper-case, turning all other ones to lower-case`.

In [120]:
# Demonstrating the title() method:
print("I know that I know nothing. Part 1.".title())

I Know That I Know Nothing. Part 1.

### **find()**

The `find()` method is similar to `index()`, which you already know - `it looks for a substring and returns the index of first occurrence of this substring, but`:

* it's safer - it `doesn't generate an error for an argument containing a non-existent substring` (it returns -1 then)
* it `works with strings only` - don't try to apply it to any other sequence.

In [121]:
# Demonstrating the find() method:
print("Eta".find("ta"))
print("Eta".find("mma"))

1
-1

### **rfind()**

The one-, two-, and three-parameter methods named `rfind()` do nearly the same things as their counterparts (the ones devoid of the r prefix), but `start their searches from the end of the string`, not the beginning (hence the prefix r, for right).

In [122]:
# Demonstrating the rfind() method:
print("tau tau tau".rfind("ta"))
print("tau tau tau".rfind("ta", 9))
print("tau tau tau".rfind("ta", 3, 9))

8
-1
4

# **A few words about None**

Let us introduce you to a very curious value (to be honest, a none value) named `None`.

Its data doesn't represent any reasonable value - actually, it's not a value at all; hence, it mustn't take part in any expressions.

For example, a snippet like this:

`print(None + 2)`


will cause a runtime error, described by the following diagnostic message:

`TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'`

Note: None is a keyword.

There are only two kinds of circumstances when None can be safely used:

when you assign it to a variable (or return it as a function's result)
when you compare it with a variable to diagnose its internal state.

In [123]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

Don't forget this: if a function doesn't return a certain value using a return expression clause, it is assumed that it implicitly returns None.

# **Operators**

Operators are used to perform operations on variables and values.

Bahasa pemrograman Python mendukung berbagai macam operator, diantaranya :

* Operator Aritmatika (Arithmetic Operators)

* Operator Perbandingan (Comparison (Relational) Operators)

* Operator Penugasan (Assignment Operators)

* Operator Logika (Logical Operators)

* Operator Bitwise (Bitwise Operators)

* Operator Keanggotaan (Membership Operators)

* Operator Identitas (Identity Operators)

## **Arithmetic Operators**
Arithmetic operators are used with numeric values to perform common mathematical operations.
- \+ : Addition
- \- : Subtraction		
- \* : Multiplication
- /	 : Division
- %	 : Modulus
- ** : Exponentiation	
- // : Floor division

In [124]:
print(10 + 4)   # 14
print(10 - 4)   # 6
print(10 * 4)   # 40
print(10 / 4)   # 2.5
print(10 % 4)   # 2
print(10 ** 4)  # 1000
print(10 // 4)  # 2

14
6
40
2.5
2
10000
2

## **Relational (Comparison) Operators**

Comparison operators are used to compare two values:
- **==** : Equal
- **!=** : Not equal
- **>** : Greater than
- **<** : Less than
- **>=** : Greater than or equal to
- **<=** : Less than or equal to

## **Assignment Operators**

* =
* +=
* -=
* *=
* /=
* %=
* **=
* //=
* &=
* |=
* ^=
* <<=
* \>\>=

## **Logical Operators**

Logical operators are used to combine conditional statements:

- **and** : Returns True if both statements are true
- **or** : Returns True if one of the statements is true
- **not** : Reverse the result, returns False if the result is true

Python supports the following logical operators:

* `and` → if both operands are true, the condition is true, e.g., (`True and True) is True`,
* `or` → if any of the operands are true, the condition is true, e.g., `(True or False) is True`,
* `not` → returns false if the result is true, and returns true if the result is false, e.g., `not True is False`.

In [125]:
print(10 > 5 and 'A' < 'a')     # True and True => True

print(10 >= 10 or 10 > 10)      # True or False => True 

print(not('hello' == "hello"))  # not True => False

True
True
False

In [126]:
# Example 1:
var = 2
print(not (var <= 0))


# Example 2:
print(not (var == 0))

True
True

In [127]:
i = 1
j = not not i
print(j)

True

In [128]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

## **Bitwise Operators**

Here are all of them:

* `& (ampersand)` - bitwise conjunction;
* `| (bar)` - bitwise disjunction;
* `~ (tilde)` - bitwise negation;
* `^ (caret)` - bitwise exclusive or (xor).

    * & :	And	

        10 & 12	

        -> 1010 & 1100	

        -> 1000	8

    * | :	Or	

        10 | 12	

        -> 1010 | 1100	

        -> 1110	14

    * ^ :	Xor	

        10 ^ 12	

        -> 1010 ^ 1100	

        -> 0110	6

    * ~ :	Not

        ~ 10	

        -> ~1010	

        -> 0101  -11 (two complement)

    * << : Left shift

        10 << 1

        -> 1010 << 1	

        -> 10100	20

    * \>\> : Right shift

        10 >> 1	

        -> 1010 >> 1	

        -> 101	5

You can use bitwise operators to manipulate single bits of data. The following sample data:

* x = 15, which is 0000 1111 in binary,
* y = 16, which is 0001 0000 in binary.

will be used to illustrate the meaning of bitwise operators in Python. Analyze the examples below:

* `&` does a bitwise and, e.g., `x & y = 0`, which is `0000 0000` in binary,
* `|` does a bitwise or, e.g., `x | y = 31`, which is `0001 1111` in binary,
* `˜` does a bitwise not, e.g., `˜ x = 240*`, which is `1111 0000` in binary,
* `^` does a bitwise xor, e.g., `x ^ y = 31`, which is `0001 1111` in binary,
* `>>` does a bitwise right shift, e.g., `y >> 1 = 8`, which is `0000 1000` in binary,
* `<<` does a bitwise left shift, e.g., `y << 3 = 128`, which is `1000 0000` in binary,

In [129]:
x = 10
y = 12
 
print('x berisi angka',x ,'desimal atau',bin(x),'biner')
print('y berisi angka',y ,'desimal atau',bin(y),'biner')
 
print('\n')
 
print('x & y  :', x & y)
print('x | y  :', x | y)
print('x ^ y  :', x ^ y)
print('~x     :', ~x)
print('x << 1 :', x << 1)
print('x >> 1 :', x >> 1)

x berisi angka 10 desimal atau 0b1010 biner
y berisi angka 12 desimal atau 0b1100 biner


x & y  : 8
x | y  : 14
x ^ y  : 6
~x     : -11
x << 1 : 20
x >> 1 : 5

In [130]:
x = 4
y = 1

a = x & y
b = x | y
c = ~x  # tricky!
d = x ^ 5
e = x >> 2
f = x << 2

print(a, b, c, d, e, f)

0 5 -5 1 1 16

## **Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

- **is** : Returns true if both variables are the same object
- **is not** : Returns true if both variables are not the same object

In [131]:
x = 5
y = 5
print('nilai x = ', x , ', id = ', hex(id(x)))
print('nilai y = ', y , ', id = ', hex(id(y)))

# dilihat untuk x dan y menunjuk ke memory location yang sama 
# karena memiliki nilai yang sama

print(x is y) # maka nilai identity dri x dan y adalah True
print(x is not y)

nilai x =  5 , id =  0x55710bdb5a80
nilai y =  5 , id =  0x55710bdb5a80
True
False

In [132]:
#  untuk literal
x = 5
print(x is 5) # akan ada warning (lebih baik menggunakan == )

True

In [133]:
list1 = ['a', 'b', 'c']
list2 = ['a', 'b', 'c']

print(list1 == list2)   # True because the value is the same

print(list1 is list2)   # False because list1 and list2 have different memory location

True
False

In [134]:
list1 = ['a', 'b', 'c']
list2 = list1

print(list1 is list2)

True

## **Membership Operators**

Membership operators are used to test if a sequence is presented in an object.
- **in** : Returns True if a sequence with the specified value is present in the object
- **not in** : Returns True if a sequence with the specified value is not present in the object

In [135]:
print('ni' in 'Universitas Hasanuddin')     # True because ni exist in thet text

True

## **Priority Operations**

Priority |	Operator | Imam
--- | ---	| ---
1 | +  | -	unary 
2 |	** |    	
3	| *, /, //, %	|
4	| +, - |	binary

*   ( )
*   exponen **
* perkalian, pembagian, modulus dan floor * / % //
* pertambahan dan pengurangan + -

.............................................................................................



*   ** (exponen)
*   ~ + - (Bitwise)
*   \* / % // 
*   \+ \-
*   \>\>, <<
*   &
*   ^, |
*   <=, <, >, >=
*   <>, ==, !=
*   =, %=, /=, //=, -=, +=, *=, **=
*   is, is not
*   in, not in
*   not, or, and

# **Conditions**

-------------------------

IF EXPRESSION

`if conditions :`

...`expression`

-------------------------

IF ELSE EXPRESSION

`if conditions :`

...`expression`

`else :`

...`expression`

-------------------------

IF ELIF EXPRESSION

`if conditions:`

...`expression`

`elif conditions:`

...`expression`

-------------------------

IF ELIF EXPRESSION

`if conditions:`

...`expression`

`elif conditions:`

...`expression`

`else :`

...`expression`

## **If**

An if statement is a programming conditional statement that, if proved true, performs a function or displays information.

An "if statement" is written by using the **if** keyword.

In [136]:
if 40 > 20 :
    print('40 is larger than 20!')

40 is larger than 20!

Things to remember is that if statement using indentation to define scope in the code while other programming language often use curly-brackets.

## **Elif**

The **elif** keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [137]:
num1 = 10
num2 = 10

if num1 > num2:
    print("{} is greater than {}".format(num1, num2))
elif num1 == num2:
    print("{} and {} are equal".format(num1, num2))

10 and 10 are equal

## **Else**

The **else** keyword catches anything which isn't caught by the preceding conditions.

In [138]:
num1 = 10
num2 = 100

if num1 > num2:
    print("{} is greater than {}".format(num1, num2))
elif num1 == num2:
    print("{} and {} are equal".format(num1, num2))
else:
    print("{} is less than {}".format(num1, num2))

10 is less than 100

In [139]:
nilai = 'D'
 
if nilai == 'A':
  print('Pertahankan')
elif nilai == 'B':
  print('Harus lebih baik lagi')
elif nilai == 'C':
  print('Perbanyak belajar')
elif nilai == 'D':
  print('Jangan keseringan main')
elif nilai == 'E':
  print('Kebanyakan bolos...')
else:
  print('Maaf, format nilai tidak sesuai')

Jangan keseringan main

## **Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [140]:
num1 = 100
num2 = 10

if num1 > num2: print("num1 is greater than num2")

num1 is greater than num2

In [141]:
# Read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Choose the larger number
if number1 > number2: larger_number = number1
else: larger_number = number2

# Print the result
print("The larger number is:", larger_number)

Enter the first number: 3
Enter the second number: 5
The larger number is: 5

## **Short Hand If - Else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [142]:
num1 = 100
num2 = 10

print("The bigger number is :")
print("num1") if num1 > num2 else print("num2")

The bigger number is :
num1

In [143]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## **Nested If**

You can have if statements inside if statements, this is called nested if statements.

In [144]:
num = 30

if num > 10:
  print("Above ten,")
  if num > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## **Conditions with Logika Operators**

In [145]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [146]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [147]:
nilai = 60

if 80 <= nilai <= 100 :
  print('nilai anda adalah A')
elif 70 <= nilai < 80 :
  print('nilai anda adalah B')
elif 60 <= nilai < 70 :
  print('nilai anda adalah C')
elif 50 <= nilai < 60 :
  print('nilai anda adalah T, Lakukan perbaikan')
else :
  print('Maaf Anda tidak lulus')

nilai anda adalah C

## **Conditions with Membership and Identity Operators**

In [148]:
nilai1 = 60
nilai2 = 50

if nilai1 is 60 :
  print('Nilainya benar sama dengan 60')

if nilai2 is not 60 :
  print('Nilainya benar tidak sama dengan 60')

Nilainya benar sama dengan 60
Nilainya benar tidak sama dengan 60

In [149]:
data = [1, 2, 3, 4, 5, 6, 7, 8]

if 4 in data:
  print('Nilainya 4 ada')

if 9 not in data:
  print('Nilai 9 tidak ada')

nama = 'Nur Imam Masri'

if 'I' in nama:
  print('Huruf I ada')

if not 'U' in nama:
  print('Huruf U  tidak ada')

Nilainya 4 ada
Nilai 9 tidak ada
Huruf I ada
Huruf U  tidak ada

In [150]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

if "zamek" in pol_eng_dictionary:
    print("Yes")
else:
    print("No")

Yes

## **Ternary**

Ternary operator lebih dikenal sebagai conditional expressions pada Python. Operator menentukan sesuatu berdasarkan kondisi True atau False. Jika statement atau klausa if Anda cukup sederhana, maka ternary Operators akan sangat membantu.

`condition_if_true if condition else condition_if_false`

`(condition_if_false, condition_if_true)[condition]`

In [151]:
is_nice = True
if is_nice:
  state = "nice"
else:
  state = "not nice"

print(state)

is_nice = True
state = "nice" if is_nice else "not nice"

print(state)

nice
nice

Opsi lain dari ternary operators melibatkan tuples. 

Pada tuple ini, dimanfaatkan nilai [0] sebagai False dan [1] sebagai True.

Contoh kodenya berikut:

In [152]:
nice = True
if (nice):
  personality="nice"
else:
  personality="mean"

print(personality)

nice = True
personality = ("mean", "nice")[nice]

print(personality)

nice
nice

# **Looping**

Python has two primitive loop commands:
- **while** loops
- **for** loops

## **While Loop**

With the while loop we can execute a set of statements as long as a condition is true.

In [153]:
# Print one to five
i = 1
while i <= 5:
    print(i)
    i += 1          # increment by one

1
2
3
4
5

In [154]:
"""
TODO : Try to print a triangle like this :
*
**
***
****
*****
""";
i=1
while i<=5:
  j=1
  while j<=i :
    print('*', end='')
    j+=1
  print('', end='\n')
  i+=1

*
**
***
****
*****

### **Break Statement**

With the **break** statement we can stop the loop even if the while condition is true.

In [155]:
i = 1
while i <= 5:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

In [156]:
i = 1
while i <= 5:
    if i == 4:
        break
    print(i)
    i += 1

1
2
3

In [157]:
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

### **Continue Statement**

With the **continue** statement we can stop the current iteration, and continue with the next. Remember to put increment before continue statement.

In [158]:
i = 0
while i < 5:
    i += 1
    if i == 4:
        continue
    print(i)

1
2
3
5

### **Pass Statement**

Digunakan jika Anda menginginkan sebuah pernyataan atau blok pernyataan (statement), namun tidak melakukan apapun - melanjutkan eksekusi sesuai dengan seharusnya. Kontrol ini banyak digunakan saat Anda belum melakukan implementasi (dan mengisi pernyataan dengan seharusnya), serta membiarkan program tetap berjalan saat misalnya Anda mengalami kegagalan atau exception.

Pass statement adalah operasi bersifat Null (kosong), tidak ada yang terjadi saat ia dipanggil. 

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [159]:
a = 33
b = 200

if b > a:
  pass

### **While Else**

With the else statement we can run a block of code once when the condition no longer is true

Berbeda dengan Else setelah For, pada statement while, blok statement else akan selalu dieksekusi saat kondisi pada while menjadi salah.

In [160]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [161]:
n = 5
while n > 0:
    n = n - 1
    if n == 2:
        break
    print(n)
else:
    print("Loop is finished")

4
3

## **For Loop**

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [162]:
#Contoh pengulangan for sederhana
angka = [1,2,3,4,5]
for x in angka:
    print(x)

#Contoh pengulangan for
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

1
2
3
4
5
Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

In [163]:
for text in ['DSC', 'Universitas', 'Hasanuddin']:
    print(text)

DSC
Universitas
Hasanuddin

Even strings are iterable objects, they contain a sequence of characters.

In [164]:
for char in 'DSC Unhas':
    print(char)

D
S
C

U
n
h
a
s

### **range()**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

You can pass up to 3 parameter to range() :
- *start* : **Optional**. An integer number specifying at which position to start. Default is 0.
- *stop* : **Required**. An integer number specifying at which position to end.
- *step* : **Optional**. An integer number specifying the incrementation. Default is 1.

 range(5) => 0, 1, 2, 3, 4

 range(2, 5) => 2, 3, 4

 range(1, 8, 2) => 1, 3, 5, 7

In [165]:
range(10)

range(0, 10)

In [166]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [167]:
for i in range(5,10):
  print(i, end=" ")

5 6 7 8 9

In [168]:
for i in range(3,100,3):
  print(i, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [169]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2

for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

0 1 2 6 4 2

In [170]:
# TODO : Try to print 3, 7, 11, 15, 19, 23
for i in range(3, 24, 4):
  print(i, end=" ")

3 7 11 15 19 23

### **Nested Loop**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [171]:
adjectives = ["big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adjective in adjectives:
  for fruit in fruits:
    print(adjective, fruit)

big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### **Break Statement**

With the **break** statement we can stop the loop even if the while condition is true.

*keluar/selesai pada looping terdekat*

In [172]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [173]:
for i in range(2) : # lanjut kesini
  for j in range(10):
    print(j, end=' ')      
    if j == 7 :
      break # akan keluar pada looping terdekat
  print()

0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7

### **Continue Statement**

With the **continue** statement we can stop the current iteration, and continue with the next. Remember to put increment before continue statement.

In [174]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### **Pass Statement**

Digunakan jika Anda menginginkan sebuah pernyataan atau blok pernyataan (statement), namun tidak melakukan apapun - melanjutkan eksekusi sesuai dengan seharusnya. Kontrol ini banyak digunakan saat Anda belum melakukan implementasi (dan mengisi pernyataan dengan seharusnya), serta membiarkan program tetap berjalan saat misalnya Anda mengalami kegagalan atau exception.

Pass statement adalah operasi bersifat Null (kosong), tidak ada yang terjadi saat ia dipanggil. 

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [175]:
for x in [0, 1, 2]:
  pass

### **For Else**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished

if there is break statement maka else tidak akan di eksekusi

In [176]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [177]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

# **Function**

`def nama_fungsi( parameter )`

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In Python, a function is defined using **def** keyword. And to call a function, use the function name followed by parenthesis.

Anda dapat menentukan fungsi untuk menyediakan fungsionalitas yang dibutuhkan. Berikut adalah aturan sederhana untuk mendefinisikan fungsi dengan Python.

* Fungsi blok dimulai dengan def kata kunci diikuti oleh nama fungsi dan tanda kurung (()).

* Setiap parameter masukan atau argumen harus ditempatkan di dalam tanda kurung ini. Anda juga dapat menentukan parameter di dalam tanda kurung ini.

* Pernyataan pertama dari sebuah fungsi dapat berupa pernyataan opsional - string dokumentasi fungsi atau docstring.

* Blok kode dalam setiap fungsi dimulai dengan titik dua (:) dan indentasi.

* Pernyataan kembali [ekspresi] keluar dari sebuah fungsi, secara opsional menyampaikan kembali ekspresi ke pemanggil. Pernyataan pengembalian tanpa argumen sama dengan return None.

`def nama_fungsi( parameter ):`

    `"dokumentasi fungsi"`

    `statemen atau kode fungsi`

   `return [expression]`

In [178]:
def print_hello():
  "function_docstring"
  print("Hello")

print_hello()

Hello

In [179]:
def ubah(list_saya):
    "Deklarasi Variabel list_saya berikut hanya dikenali (berlaku) di dalam fungsi ubah"
    list_saya = [1, 2, 3, 4] 
    print ('Nilai di dalam fungsi: {}'.format(list_saya))
 
# Panggil fungsi ubah
list_saya = [10, 20, 30]
ubah(list_saya)
print('Nilai di luar fungsi: {}'.format(list_saya))

Nilai di dalam fungsi: [1, 2, 3, 4]
Nilai di luar fungsi: [10, 20, 30]

### **Arguments**

**<h4>*What's the different between parameter and arguments*</h4>**

From a function's perspective:

* A parameter is the variable listed inside the parentheses in the function definition.

* An argument is the value that is sent to the function when it is called.

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

-----------------------------------------------------------------------------------------------------------

**Sebagai nilai yang akan dimasukkan pada saat fungsi dipanggil, ada dua jenis argumen:**

* Keyword Argument, yakni argumen yang disertai identifier atau nama parameter yang secara eksplisit disebutkan. Hal ini termasuk jika kita mengirimkan nilai melalui dictionary yang diawali dua tanda * (**).

* Positional Argument, yakni argumen selain keyword argument. Jika kita mengirimkan variabel bersifat iterable, maka harus diawali tanda *.

Contoh:

Keyword Argument

`daftar(tanggal=1, bulan='Januari', tahun=2020)`

`daftar(**{'tanggal': 1, 'bulan': 'Januari', 'tahun'=2020})`

Positional Argument

`daftar(1,'Januari',2020)`

`daftar(*(1, 'Januari, 2020))`

Sintaksis prefix * digunakan sebagai penanda iterable di Python, sedangkan prefix ** digunakan sebagai penanda kontainer/dictionary.

In [180]:
def print_hi(name):
    print("Hi, " + name)

print_hi("DSC Unhas")

Hi, DSC Unhas

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [181]:
def print_hi(first_name, last_name):
    print("Hi, " + first_name + ' ' + last_name)

print_hi('Kevin', 'Chandra')

Hi, Kevin Chandra

**<h4>*Passing a List as an Argument*</h4>**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [182]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

**<h4>*Passing a Function Return as Argumnet*</h4>**

In [183]:
def multiply_by_10(num):
    return num * 10

def multiply_by_num(num1, num2):
    return num1 * num2

print(multiply_by_num(10, multiply_by_10(10)))

1000

**<h4>*Keyword Arguments*</h4>**

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [184]:
def print_hi(first_name, last_name):
    print("Hi, " + first_name + ' ' + last_name)


print_hi(first_name='Imam', last_name='Masri')
print_hi(last_name='Chandra', first_name='Kevin')

Hi, Imam Masri
Hi, Kevin Chandra

**<h4>*Arbitrary Arguments* </h4> (**args)*

If you do not know how many arguments that will be passed into your function, add a **\*** before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [185]:
def kids_list(*kids):
    print("The oldest child is " + kids[0])

kids_list('Bill', 'Jeff', 'Mark')

The oldest child is Bill


**<h4>*Arbitrary Keyword Arguments* </h4> (**kwargs)**

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

In [186]:
def kids_list(**kids):
  print("The oldest child is " + kids["first"])

kids_list(first = "Bill", second = "Jeff", last = "Mark")

The oldest child is Bill

In [187]:
def printinfo(*args, **kwargs):
    for a in args:
        print('argumen posisi {}'.format(a))
    for key, value in kwargs.items():
        print('argument kata kunci {}:{}'.format(key, value))
 
 
# Panggil printinfo
printinfo()
printinfo(1, 2, 3)
printinfo(i=7, j=8, k=9)
printinfo(1, 2, j=8, k=9)
printinfo(*(2, 3), **{'i':7, 'j':8})

argumen posisi 1
argumen posisi 2
argumen posisi 3
argument kata kunci i:7
argument kata kunci j:8
argument kata kunci k:9
argumen posisi 1
argumen posisi 2
argument kata kunci j:8
argument kata kunci k:9
argumen posisi 2
argumen posisi 3
argument kata kunci i:7
argument kata kunci j:8

### **Default Parameter Value**

Default Parameter value is the value that you assigned to a parameter so that if you call the function without argument, it uses the default value.

In [188]:
def print_lucky_num(num = 10):
    print("My lucky number is " + str(num))

print_lucky_num(100)
print_lucky_num()

My lucky number is 100
My lucky number is 10

In [189]:
def penjagaSekolah (nama, shift='siang', galak='tidak') :
  print('penjaga sekolah ini bernama = ', nama)
  print('shiftnya = ', shift)
  print('galak? = ', galak)
  print()

penjagaSekolah('Entis')
penjagaSekolah('Imam', shift='malam')
penjagaSekolah('Asep', galak='sangat')
# penjagaSekolah(shift='malam', galak-'iya') ERROR

penjaga sekolah ini bernama =  Entis
shiftnya =  siang
galak? =  tidak

penjaga sekolah ini bernama =  Imam
shiftnya =  malam
galak? =  tidak

penjaga sekolah ini bernama =  Asep
shiftnya =  siang
galak? =  sangat

### **Return Values**

To let a function return a value, use the **return** statement.

In [190]:
def multiply_by_10(num):
    return num * 10

print(multiply_by_10(12))

120

bisa juga berupa list, tuple, dict dll

In [191]:
def kali(angka1, angka2) :
  x = angka1*2
  y = angka2*3
  return x,y

hasil = kali(2,3)
print("hasil : ", hasil)

num1, num2 = kali(1,2)
print("num1 : ", num1)
print("num2 : ", num2)

hasil :  (4, 9)
num1 :  2
num2 :  6

In [192]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100

### **Recursion**

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In [193]:
def factorial(num):
    if num < 0:
        return "Negative value don't have factorial"
    elif num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num-1)

print(factorial(-5))
print(factorial(0))
print(factorial(5))

Negative value don't have factorial
1
120

In [194]:
def factorial(n):
    result = 1
    for x in range(1,n):
        result = result * x
    return result

for n in range(0,10):
    print(n, factorial(n+1))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

## **Lambda**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax

`lambda arguments : expression`

`lambda [arg1 [,arg2,.....argn]]:expression`

A lambda function that adds 10 to the number passed in as an argument, and print the result:

In [195]:
x = lambda a : a + 10
print(x(5))

15

another example

In [196]:
kali = lambda nilai1, nilai2: nilai1 * nilai2;
print ("Hasil : ", kali( 11, 21 ))
print ("Hasil : ", kali( 2, 2 ))

Hasil :  231
Hasil :  4

Lambda functions can take any number of arguments

A lambda function that multiplies argument a with argument b and print the result:

In [197]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [198]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [199]:
two = lambda: 2
sqr = lambda x: x * x
pwr = lambda x, y: x ** y

for a in range(-2, 3):
    print(sqr(a), end=" ")
    print(pwr(a, two()))

4 4
1 1
0 0
1 1
4 4

**<h4>Why Use Lambda Functions?</h4>**

The power of lambda is better shown when you use them as an anonymous function inside another function.

In [200]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) # make mydouble as lambda by return

print(mydoubler(11)) # call lambda

22

## **map()**

```
map(function, list)
```

takes two arguments:

* a function;
* a list.

The above description is extremely simplified, as:

* the second `map()` argument may be any entity that can be iterated (e.g., a tuple, or just a generator)
* `map()` can accept more than two arguments.

The map() `function applies the function passed by its first argument to all its second argument's elements, and returns an iterator delivering all subsequent function results.`

You can use the resulting iterator in a loop, or convert it into a list using the `list()` function.

In [201]:
list_1 = [x for x in range(5)]
list_2 = list(map(lambda x: 2 ** x, list_1))
print(list_2)

for x in map(lambda x: x * x, list_2):
    print(x, end=' ')
print()

[1, 2, 4, 8, 16]
1 4 16 64 256

## **filter()**

Another Python function which can be significantly beautified by the application of a lambda is `filter()`.

It expects the same kind of arguments as `map()`, but does something different - it `filters its second argument while being guided by directions flowing from the function specified as the first argument` (the function is invoked for each list element, just like in `map()`).

The elements which return `True` from the function `pass the filter` - the others are rejected.

The example in the editor shows the `filter()` function in action.

In [202]:
from random import seed, randint

seed()
data = [randint(-10,10) for x in range(5)]
filtered = list(filter(lambda x: x > 0 and x % 2 == 0, data))

print(data)
print(filtered)

[1, 6, -1, -2, 8]
[6, 8]

## **Scope Local and Global**

Cakupan variabel secara umum dibagi menjadi dua, yakni variabel Lokal dan variabel Global.

Variabel yang didefinisikan dalam fungsi bersifat lokal (di fungsi tersebut), dan yang didefinisikan di luar fungsi bersifat global. 

Artinya, variabel Lokal hanya dapat diakses dan dioperasikan dalam fungsi tempat variabel tersebut dideklarasikan.

In [203]:
# scope variable : local

namaKucing = 'Imam'

def rubahNamaKucing(namaBaru) :
  namaKucing = namaBaru # local
  print('saya rubah nama kucing menjadi', namaKucing)

rubahNamaKucing('ketie')
print('nama kucing saya menjadi', namaKucing) # tidak akan berubah

saya rubah nama kucing menjadi ketie
nama kucing saya menjadi Imam

Mengapa variable namaKucing tidak berubah, karena untuk dalam fungsi variable merupakan variable local sehingga variable diluar akan tidak berpengaruh.

In [204]:
# scope variable : global

namaKucing = 'Imam'

def rubahNamaKucing(namaBaru) :
  global namaKucing # global
  namaKucing = namaBaru 
  print('saya rubah nama kucing menjadi', namaKucing)

rubahNamaKucing('ketie')
print('nama kucing saya menjadi', namaKucing) # tidak akan berubah

saya rubah nama kucing menjadi ketie
nama kucing saya menjadi ketie

In [205]:
# scope variable : global

namaKucing = 'Imam'
makananKucing = 'wiskas'

def rubahNamaKucing(namaBaru) :
  global namaKucing # global
  namaKucing = namaBaru 
  print('saya rubah nama kucing menjadi', namaKucing)

def kasihMakanKucing(makanan, nama) :
  global namaKucing, makananKucing
  namaKucing = nama 
  makananKucing = makanan

rubahNamaKucing('ketie')

kasihMakanKucing('universal', 'alex')

print('nama kucing saya menjadi', namaKucing) # tidak akan berubah

saya rubah nama kucing menjadi ketie
nama kucing saya menjadi alex

#**Docstring**

In [206]:
def to_second(hours, minutes, seconds):
  """Returns the ammount of seconds in the given hours, minutes, an seconds.""" #--> This is docstring
  return hours*3600+minutes*60+seconds

help(to_second)

Help on function to_second in module __main__:

to_second(hours, minutes, seconds)
    Returns the ammount of seconds in the given hours, minutes, an seconds.

# **Math**

[link text](https://www.w3schools.com/python/module_math.asp)

min() / max()

In [207]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

abs()

absolute (positive) value of the specified number

In [208]:
x = abs(-7.25)

print(x)

7.25

pow(x, y)

In [209]:
x = pow(4, 3)

print(x)

64

**The Math Module**

Python has also a built-in module called math, which extends the list of mathematical functions.

math.sqrt()

In [210]:
import math

x = math.sqrt(64)

print(x)

8.0

math.ceil() and math.floor()

In [211]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

math.pi

In [212]:
import math

x = math.pi

print(x)

3.141592653589793

# **Data Structures in Python**

There are four collection data types in the Python programming language:

- **List** is a collection which is 
    * ordered
    * changeable
    * Allows duplicate members.
- **Tuple** is a collection which is 
    * ordered
    * unchangeable
    * Allows duplicate members.
- **Set** is a collection which is 
    * unordered
    * unindexed
    * unchangeable
    * No duplicate members.
- **Dictionary** is a collection which is 
    * unordered
    * changeable
    * indexed (key)
    * No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## **List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

List adalah tipe data yang paling serbaguna yang tersedia dalam bahasa Python, yang dapat ditulis sebagai daftar nilai yang dipisahkan koma (item) antara tanda kurung siku. Hal penting tentang daftar adalah item dalam list tidak boleh sama jenisnya.

Membuat list sangat sederhana, tinggal memasukkan berbagai nilai yang dipisahkan koma di antara tanda kurung siku. Dibawah ini adalah contoh sederhana pembuatan list dalam bahasa Python. List bisa diisi dengan berbagai jenis data, tidak harus tipe data yang sama.

Contoh sederhana pembuatan list pada bahasa pemrograman python

`list1 = ['kimia', 'fisika', 1993, 2017]`

`list2 = [1, 2, 3, 4, 5 ]`

`list3 = ["a", "b", "c", "d"]`

**<h4>The list() Constructor</h4>**

`thislist = list(("apple", "banana", "cherry")) # note the double round-brackets`

`print(thislist)`

In [213]:
foo = ["Belajar", "Python", "di", "Duniailkom"]
bar = [100, 200, 300, 400]
baz = ["Python", 200, 6.99, True]
  
print(foo)
print(bar)
print(baz)

print(type(foo))
print(type(bar))
print(type(baz))

['Belajar', 'Python', 'di', 'Duniailkom']
[100, 200, 300, 400]
['Python', 200, 6.99, True]
<class 'list'>
<class 'list'>
<class 'list'>

### **Access Items**

You access the list items by referring to the index number (index number start from 0). 

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

***Indexing (Subsetting)* and *Slicing***

In [214]:
name = ['Bill', 'Jeff', 'Mark']

print(name[0])     # Bill
print(name[-2])    # Jeff

Bill
Jeff

In [215]:
#Cara mengakses nilai di dalam list Python

list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

Data Lengkap Teknik Slicing and Indexing

In [216]:
data = [1, 4, 9, 16, 25, 36, 49, 64]

print('---Indexing/Subsetting---', end='\n')
print('data[0] = ', data[0]) # index ke-0
print('data[-0] = ', data[-0]) # index ke(-0)
print('data[3] = ', data[3]) # index ke-3
print('data[-3] = ', data[-3]) # index ke(-3)
print()

print('---Slicing---', end='\n')
print('data[:] = ', data[:]) # semua
print('data[0:4] = ', data[0:4]) # 0-3
print('data[2:4] = ', data[2:4]) # 2-3
print('data[2:] = ', data[2:]) # 0-3
print('data[2:4] = ', data[2:4]) # 2-3
print('data[0:4] = ', data[0:4]) # 0-3
print('data[2:4] = ', data[2:4]) # 2-3

---Indexing/Subsetting---
data[0] =  1
data[-0] =  1
data[3] =  16
data[-3] =  36

---Slicing---
data[:] =  [1, 4, 9, 16, 25, 36, 49, 64]
data[0:4] =  [1, 4, 9, 16]
data[2:4] =  [9, 16]
data[2:] =  [9, 16, 25, 36, 49, 64]
data[2:4] =  [9, 16]
data[0:4] =  [1, 4, 9, 16]
data[2:4] =  [9, 16]

***Multidimensional List***

In [217]:
data = [[1, 2, 3, 4, 5], [5, 4, 3, 2, 1]]

print('data[:] = ', data[:])
print('data[0] = ', data[0])
print('data[1] = ', data[1])

print('data[0][2] = ', data[0][2])
print('data[1][1] = ', data[1][1])

data[:] =  [[1, 2, 3, 4, 5], [5, 4, 3, 2, 1]]
data[0] =  [1, 2, 3, 4, 5]
data[1] =  [5, 4, 3, 2, 1]
data[0][2] =  3
data[1][1] =  4

***Unpacking Sequence***

In [218]:
# Unpacking Sequence

matkul = ['fisika', 'kimia', 'matematika']

f, k, m = matkul
print (f, k, m)

fisika kimia matematika

### **Update Items**

Anda dapat memperbarui satu atau beberapa nilai di dalam list dengan memberikan potongan di sisi kiri operator penugasan, dan Anda dapat menambahkan nilai ke dalam list dengan metode append (). Sebagai contoh :

Lists are **mutable** object which means you can modify a list object after it has been created. To change the value of a specific item, refer to the index number.

In [219]:
name = ['Bill', 'Jeff', 'Mark']

name[2] = 'Elon'

print(name)

['Bill', 'Jeff', 'Elon']

To determine how many items a list has, use the **len()** function

In [220]:
name = ['Bill', 'Jeff', 'Mark']
print(len(name))

3

Beda hasilnya jika dengan menggunakan .insert()

In [221]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
colors

['red', 'white', 'yellow', 'blue']

In [222]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.insert(0, i + 1)

print(my_list)

[5, 4, 3, 2, 1]

### **Add Items**

To add an item to the end of the list, use the **append()** method. And to add an item at the specified index, use the **insert()** method.

* append(elmnt)
* prepend()
* extend(iterable)
* insert (pos, elmnt)

**<h4>append</h4>**

append(item) menambahkan item dari belakang.

In [223]:
name = ['Bill', 'Jeff', 'Mark']

name.append('Elon')
print(name)

['Bill', 'Jeff', 'Mark', 'Elon']

In [224]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [225]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

Given a = [1,3,4,6,8]. Suppose that we want to create a list [6,8,1,3,4] from a.

In [226]:
a = [1,3,4,6,8]
print(a[3:] + a[:3])

res = a[3:]
res.append(a[:3])
print(res)

res = a[3:]
for el in a[:3]:
  res.append(el)
print(res)

res = a[3:]
res[:0] = a[:3]
print(res)

[6, 8, 1, 3, 4]
[6, 8, [1, 3, 4]]
[6, 8, 1, 3, 4]
[1, 3, 4, 6, 8]

**<h4>prepend</h4>**

prepend(item) menambahkan item dari depan;

In [227]:
#list mula-mula
# buah = ["jeruk", "apel", "mangga", "duren"]

# buah.prepend("Anggur")
# buah
# 'list' object has no attribute 'prepend'

**<h4>extend</h4>**

In [228]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [229]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [230]:
fruits = ['apple', 'banana', 'cherry']

fruits.extend(['grape'])

fruits.extend('grape') # by iterable string

fruits

['apple', 'banana', 'cherry', 'grape', 'g', 'r', 'a', 'p', 'e']

**<h4>insert</h4>**

insert(index, item) menambahkan item dari indeks tertentu

In [231]:
name = []

name.insert(1, 'Elon')
print(name)

['Elon']

In [232]:
name = ['Bill', 'Jeff', 'Mark']

name.insert(1, 'Elon')
print(name)

['Bill', 'Elon', 'Jeff', 'Mark']

**List on List**

In [233]:
fruits = ['apple', 'banana', 'cherry']

points = [1, 2, 3, 4]

rand = [fruits, points]

rand

[['apple', 'banana', 'cherry'], [1, 2, 3, 4]]

### **Remove Item**

There are several methods to remove items from a list.
- remove(elmnt) : remove specified item
- pop(pos) : remove the specified index (default : last item)
- del : remove specified index
- clear() : empty the list

**<h4>remove</h4>**

In [234]:
name = ['Bill', 'Jeff', 'Mark']

name.remove('Bill')
print(name)

['Jeff', 'Mark']

In [235]:
name = ['Bill', 'Jeff', 'Mark', 'Bill']

name.remove('Bill')
print(name)

['Jeff', 'Mark', 'Bill']

**<h4>pop</h4>**

In [236]:
name = ['Bill', 'Jeff', 'Mark']

name.pop(1) # pop(index)
print(name)

['Bill', 'Mark']

In [237]:
name = ['Bill', 'Jeff', 'Mark']

name.pop()
print(name)

['Bill', 'Jeff']

**<h4>del</h4>**

In [238]:
name = ['Bill', 'Jeff', 'Mark']

del name[0]
print(name)

['Jeff', 'Mark']

In [239]:
my_list = [1, 2, 3, 4, 5]
del my_list[0:2]
print(my_list)  # outputs: [3, 4, 5]

del my_list[:]
print(my_list)  # deletes the list content, outputs: []

[3, 4, 5]
[]

**<h4>clear</h4>**

In [240]:
name = ['Bill', 'Jeff', 'Mark']

name.clear()
print(name)

[]

### **Loop and If in**

***For Iterable***

In [241]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [242]:
buah = ['watermelon', 'banana', 'apple']
sayur = ['carrot', 'tomato', 'brocoli']
gorengan = ['pisang goreng', 'tahu isi', 'cireng']

daftar = [buah, sayur, gorengan]

for x in daftar :
  print(x)

['watermelon', 'banana', 'apple']
['carrot', 'tomato', 'brocoli']
['pisang goreng', 'tahu isi', 'cireng']

In [243]:
buah = ['watermelon', 'banana', 'apple']
sayur = ['carrot', 'tomato', 'brocoli']
gorengan = ['pisang goreng', 'tahu isi', 'cireng']

daftar = [buah, sayur, gorengan]

for x in daftar :
  for y in x :
    print(y)

watermelon
banana
apple
carrot
tomato
brocoli
pisang goreng
tahu isi
cireng

In [244]:
def guest_list(guests):
	for name, age, profession in guests:
		message = "{} is {} years old and works as {}"
		print(message.format(name, age, profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

***Enumerate Iterable***

In [245]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))

# converting to list
print(list(enumerateGrocery))

# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [246]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
  print(item)

print('\n')
for count, item in enumerate(grocery):
  print(count, item)

print('\n')
# changing default start value
for count, item in enumerate(grocery, 100):
  print(count, item)

(0, 'bread')
(1, 'milk')
(2, 'butter')


0 bread
1 milk
2 butter


100 bread
101 milk
102 butter

***If In***

In [247]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### **Standard Operations**

List Python merespons operator + dan * seperti string; Itu artinya penggabungan dan pengulangan di sini juga berlaku, kecuali hasilnya adalah list baru, bukan sebuah String.

Sebenarnya, list merespons semua operasi urutan umum yang kami gunakan pada String di bab sebelumnya. Dibawah ini adalah tabel daftar operasi dasar pada list python.

........................................................................

***len(), +, *, in, not in (membership), for iterator***

........................................................................

`len([1, 2, 3, 4])`  -> 	4	: Length

`[1, 2, 3] + [4, 5, 6]`  ->	[1, 2, 3, 4, 5, 6] : Concatenation

`['Halo!'] * 4` ->	['Halo!', 'Halo!', 'Halo!', 'Halo!'] : Repetition

`2 in [1, 2, 3]` -> True : Membership

`for x in [1,2,3] : print (x,end = ' ')` -> 1 2 3 : Iteration

In [248]:
number = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
for x in number :
  print(x, end=' ')
  
print()
print('Panjang list = ', len(number))

1 3 5 7 9 2 4 6 8 10
Panjang list =  10

In [249]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list_combine = list1 + list2
list_combine

[1, 2, 3, 4, 5, 6]

In [250]:
# or
number = [1, 2, 3] + [4, 5, 6]
number

[1, 2, 3, 4, 5, 6]

In [251]:
halo = ['Halo']*5
halo

['Halo', 'Halo', 'Halo', 'Halo', 'Halo']

In [252]:
[0]*3

[0, 0, 0]

In [253]:
[[0]*3]

[[0, 0, 0]]

In [254]:
[[0]]*3

[[0], [0], [0]]

In [255]:
number = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
print('8 in list? = ', 8 in number)
print('20 not in list? = ', 20 not in number)

8 in list? =  True
20 not in list? =  True

In [256]:
number = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
for x in number :
  print(x, end=' ')

1 3 5 7 9 2 4 6 8 10

### **Copy a List**

You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a ***reference*** to `list1`, and changes made in `list1` will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [257]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist
print(thislist)
print(mylist)

mylist[0]='watermelon'
print(thislist) # change also
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['watermelon', 'banana', 'cherry']
['watermelon', 'banana', 'cherry']

Make a copy of a list with the `copy()`method:

In [258]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method `list()`.

In [259]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

or copy list with `data[:]`

In [260]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

### **Concatenate List**

One of the easiest ways are by using the `+` operator.

In [261]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

if you use like this, it can't concated but added on items of list 2D

In [262]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = [list1, list2]
print(list3)

[['a', 'b', 'c'], [1, 2, 3]]

Another way to join two lists are by `appending` all the items from `list2` into `list1`, one by one:

In [263]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another list:

In [264]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### **List Comprehension**

membuat list dengan inline loop dan if

`new_list = [expression for_loop_one_or_more conditions]`

Ada kalanya Anda perlu untuk membuat sebuah list baru dari dengan sebuah operasi dari list sebelumnya. Misalnya membuat nilai kuadrat dari semua item dalam list:

In [265]:
[_ for _ in range(1, 9, 2)]  # list comprehension

[1, 3, 5, 7]

In [266]:
squares = [x ** 2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [267]:
twos = [2 ** i for i in range(8)]
twos

[1, 2, 4, 8, 16, 32, 64, 128]

In [268]:
odds = [x for x in squares if x % 2 != 0 ]
odds

[1, 9, 25, 49, 81]

In [269]:
board = [[i for i in range(8)] for j in range(8)]
board

[[0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7]]

In [270]:
rooms = [[[False for r in range(20)] for f in range(2)] for t in range(2)]
print(rooms)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]

In [271]:
#Cara 1
numbers = [1, 2, 3, 4]
squares = []
for n in numbers:
  squares.append(n**2)
print(squares)

#Cara 2 List Comprehension
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]
[1, 4, 9, 16]

In [272]:
#Contoh3 menemukan bilangan yang ada di kedua list
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common_num = []
for a in list_a:
  for b in list_b:
    if a == b:
      common_num.append(a)
     
print(common_num)  # Output [2, 3, 4]

#Contoh4 Implementasi dengan list comprehension
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common_num = [a for a in list_a for b in list_b if a == b]
print(common_num) # Output: [2, 3, 4]

[2, 3, 4]
[2, 3, 4]

In [273]:
# Contoh 5 kecilkan semua huruf
data = ["Hello", "World", "In", "Python"]
small_data = [x.lower() for x in data]
print(small_data) # Output: ['hello', 'world', 'in', 'python']

['hello', 'world', 'in', 'python']

In [274]:
list_a = range(1, 10, 2)
x = [[a**2, a**3] for a in list_a]
print(x)

[[1, 1], [9, 27], [25, 125], [49, 343], [81, 729]]

In [275]:
S = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

T = [item for item in S if (item%2 == 0)]

print(T)

[0, 4, 16, 36, 64]

In [538]:
def choice(command, result):
    items = command.strip().split()
    if items[0] == "insert":
        result.insert(int(items[1]), int(items[2]))
    elif items[0] == "remove":
        result.remove(int(items[1]))
    elif items[0] == "append":
        result.append(int(items[1]))
    elif items[0] == "sort":
        result.sort()
    elif items[0] == "pop":
        result.pop()
    elif items[0] == "reverse":
        result.reverse()
    elif items[0] == "print":
        return 0
    else:
        return "Your command is not available, retry!"
    return result


N = int(input())
list_num = []
for i in range(N):
  command = input()
  result = choice(command, list_num)
  if result == 0 :
    print(list_num)
  elif isinstance(result, str):
    print(result)
  else:
    list_num = result

# Consider a list (list = []). You can perform the following commands:

# insert i e: Insert integer  at position .
# print: Print the list.
# remove e: Delete the first occurrence of integer .
# append e: Insert integer  at the end of the list.
# sort: Sort the list.
# pop: Pop the last element from the list.
# reverse: Reverse the list.

# Example
# 13
# insert 0 5
# insert 1 10
# insert 0 6
# print
# remove 6
# append 9
# append 1
# sort
# prin --> example wrong instruction
# print
# pop
# reverse
# print

13
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
prin
Your command is not available, retry!
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### **Build-In Functions List**

**<h4>Python Function<h4>**

* `len(list)`
    
    Memberikan total panjang * list.

* `max(list)`

    Mengembalikan item dari list dengan nilai maks.

* `min(list)`

    Mengembalikan item dari list dengan nilai min.

* `list(seq)`

    Mengubah tuple menjadi list.


**<h4>Python Methods<h4>**

* `list.append(obj)`

    Menambahkan objek obj ke list

* `list.count(obj)`

    Jumlah pengembalian berapa kali obj terjadi dalam list

* `list.clear()`

    Menghapus semua element di list

* `list.copy()`

* `list.extend(seq)`

    Tambahkan isi seq ke list

* `list.index(obj)`

    Mengembalikan indeks terendah dalam list yang muncul obj

* `list.insert(index, obj)`

    Sisipkan objek obj ke dalam list di indeks offset

* `list.pop(obj = list[-1])`

    Menghapus dan mengembalikan objek atau obj terakhir dari list

* `list.remove(obj)`

    Removes object obj from list

* `list.reverse()`

    Membalik list objek di tempat

* `list.sort([func])` -> `list.sort(reverse=True|False, key=myFunc)`

    reverse ->	Optional. reverse=True will sort the list descending. Default is reverse=False
    
    key ->	Optional. A function to specify the sorting criteria(s)

    Urutkan objek list, gunakan compare func jika diberikan

    * Metode sort tidak dapat mengurutkan list yang memiliki angka dan string sekaligus di dalamnya. 

    `z = [1, 3, 2, 4, 'Alice', 'Bob']`
    
    `z.sort()`

    TypeError: unorderable types: str() < int()

    * Metode sort menggunakan urutan ASCII, sehingga nilai huruf kapital (uppercase) akan lebih dahulu dibandingkan huruf kecil (lowercase). Contohnya:

    `m = ['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']`
    
    `m.sort()`
    
    Output:

    ['Alice', 'Bob', 'Carol', 'ants', 'badgers', 'cats']

* `sorted(iterable, key=key, reverse=reverse)`

    iterable -->	Required. The sequence to sort, list, dictionary, tuple etc.

    key --> 	Optional. A Function to execute to decide the order. Default is None

    reverse -->	Optional. A Boolean. False will sort ascending, True will sort descending. Default is False

    `sorted(numbers)`

    [1, 3, 6, 9]
    
    `numbers`
    
    [6, 9, 3, 1]

    The output from this code is a new, sorted list. When the original variable is printed, the initial values are unchanged.

    This example shows four important characteristics of sorted():

  * The function sorted() did not have to be defined. It’s a built-in function that is available in a standard installation of Python.
  * sorted(), with no additional arguments or parameters, is ordering the values in numbers in an ascending order, meaning smallest to largest.
  * The original numbers variable is unchanged because sorted() provides sorted output and does not change the original value in place.
  * When sorted() is called, it provides an ordered list as a return value.

In [277]:
fruits = ['apple', 'banana', 'cherry', 'grape', 'cherry']

x = fruits.count("cherry")
x

2

In [278]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
x

2

In [279]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [280]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
x # on first caught

3

In [281]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
fruits

['cherry', 'banana', 'apple']

In [282]:
# Sort the list descending:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [283]:
# Sort the list asscending:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

In [284]:
# Sort the list by the length of the values:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [285]:
# Demonstrating the sorted() function:
first_greek = ['omega', 'alpha', 'pi', 'gamma']
first_greek_2 = sorted(first_greek)

print(first_greek)
print(first_greek_2)

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

In [286]:
# Sort a list of dictionaries based on the "year" value of the dictionaries:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
cars

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [287]:
# Sort the list by the length of the values and reversed:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [288]:
m = ['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']
m.sort()
m

['Alice', 'Bob', 'Carol', 'ants', 'badgers', 'cats']

In [289]:
spam = ['a', 'z', 'A', 'Z']
spam.sort(key=str.lower)
spam

['a', 'A', 'z', 'Z']

sorted()

In [290]:
numbers = [6, 9, 3, 1]
sorted(numbers)

[1, 3, 6, 9]

In [291]:
numbers

[6, 9, 3, 1]

In [292]:
numbers_tuple = (6, 9, 3, 1)
numbers_set = {5, 5, 10, 1, 0}
numbers_tuple_sorted = sorted(numbers_tuple)
numbers_set_sorted = sorted(numbers_set)
print(numbers_tuple_sorted)
print(numbers_set_sorted)

[1, 3, 6, 9]
[0, 1, 5, 10]

In [293]:
string_value = 'I like to sort'
sorted_string = sorted(string_value.split())
sorted_string

['I', 'like', 'sort', 'to']

In [294]:
names = ['Harry', 'Suzy', 'Al', 'Mark']
print(sorted(names))
print(sorted(names, reverse=True))

['Al', 'Harry', 'Mark', 'Suzy']
['Suzy', 'Mark', 'Harry', 'Al']

In [295]:
words = ['banana', 'pie', 'Washington', 'book']
sorted(words, key=len)

['pie', 'book', 'banana', 'Washington']

In [296]:
names_with_case = ['harry', 'Suzy', 'al', 'Mark']
sorted(names_with_case, key=str.lower)

['al', 'harry', 'Mark', 'Suzy']

### **Bubble Short**

In [297]:
my_list = []
swapped = True
num = int(input("How many elements do you want to sort: "))

for i in range(num):
    val = float(input("Enter a list element: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nSorted:")
print(my_list)

How many elements do you want to sort: 5
Enter a list element: 2
Enter a list element: 6
Enter a list element: 1
Enter a list element: 6
Enter a list element: 3

Sorted:
[1.0, 2.0, 3.0, 6.0, 6.0]

### **Find Number**

In [298]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 5
found = False

for i in range(len(my_list)):
    found = my_list[i] == to_find
    if found:
        break

if found:
    print("Element found at index", i)
else:
    print("absent")

Element found at index 4

## **Tuple**

A tuple is a sequence of **immutable** Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Sebuah tupel adalah urutan objek Python yang tidak berubah. Tupel adalah urutan, seperti daftar. Perbedaan utama antara tupel dan daftarnya adalah bahwa tupel tidak dapat diubah tidak seperti List Python. Tupel menggunakan tanda kurung, sedangkan List Python menggunakan tanda kurung siku.

Membuat tuple semudah memasukkan nilai-nilai yang dipisahkan koma. Secara opsional, Anda dapat memasukkan nilai-nilai yang dipisahkan koma ini di antara tanda kurung juga. Sebagai contoh :

Contoh sederhana pembuatan tuple pada bahasa pemrograman python

`tup1 = ('fisika', 'kimia', 1993, 2017)`

`tup2 = ( 1, 2, 3, 4, 5 )`

`tup3 = "a", "b", "c", "d"`

`tup4 = ( 50, )` -> satu item harus pke koma 

`empty_tup = ()`

Tupel kosong ditulis sebagai dua tanda kurung yang tidak berisi apa-apa, contohnya : tup1 = (); Untuk menulis tupel yang berisi satu nilai, Anda harus memasukkan koma, meskipun hanya ada satu nilai, contohnya : tup1 = (50,) Seperti indeks String, indeks tuple mulai dari 0, dan mereka dapat diiris, digabungkan, dan seterusnya

**<h4>The tuple() Constructor</h4>**

`thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets`

`print(thistuple)`

In [299]:
tuple_ = ('Bill', 'Jeff', 'Mark')
print(tuple_)

('Bill', 'Jeff', 'Mark')

### **Access Items**

***Indexing (Subsetting)* and *Slicing***

You access the tuple items by referring to the index number (index number start from 0).

In [300]:
print(tuple_[2])

Mark

In [301]:
print(tuple_[:-1])

('Bill', 'Jeff')

In [302]:
#Cara mengakses nilai tuple

tup1 = ('fisika', 'kimia', 1993, 2017)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  fisika
tup2[1:5]:  (2, 3, 4, 5)

***Unpacking Sequence***

In [303]:
# Unpacking Sequence

matkul = ('fisika', 'kimia', 'matematika')

f, k, m = matkul
print (f, k, m)

fisika kimia matematika

### **Update Items**

Tuples are **immutable** which means you cannot update or change the values of tuple elements.

In [304]:
# Following action is not valid for tuples
# tuple_[0] = 'Elon'

Tuple tidak berubah, yang berarti Anda tidak dapat memperbarui atau mengubah nilai elemen tupel. Anda dapat mengambil bagian dari tupel yang ada untuk membuat tupel baru seperti ditunjukkan oleh contoh berikut.

In [305]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Aksi seperti dibawah ini tidak bisa dilakukan pada tuple python
# Karena memang nilai pada tuple python tidak bisa diubah
# tup1[0] = 100;

# Jadi, buatlah tuple baru sebagai berikut
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [306]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### **Remove Item**

Note: You cannot remove items in a tuple.

Removing individual tuple elements is not possible.

To explicitly remove an entire tuple, just use the del statement.

Menghapus elemen tuple individual tidak mungkin dilakukan. Tentu saja, tidak ada yang salah dengan menggabungkan tupel lain dengan unsur-unsur yang tidak diinginkan dibuang.

Untuk secara eksplisit menghapus keseluruhan tuple, cukup gunakan del statement. Sebagai contoh

In [307]:
tuple_ = ('Bill', 'Jeff', 'Mark')
print(tuple_)

# del tuple_
# print(tuple_)       # This will cause an error because tuple_ is no longer exist

('Bill', 'Jeff', 'Mark')

In [308]:
tup = ('fisika', 'kimia', 1993, 2017);

print(tup)
del tup
print("Setelah menghapus tuple : ")
# print(tup) name 'tup' is not defined

('fisika', 'kimia', 1993, 2017)
Setelah menghapus tuple :

### **Loop and If in**

In [309]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [310]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

### **Concatenate Tuple**

In [311]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### **Standard Operations**

........................................................................

***len(), +, *, in, not in (membership), for iterator***

........................................................................

`len((1, 2, 3, 4))`  -> 	4	: Length

`(1, 2, 3) + (4, 5, 6)`  ->	(1, 2, 3, 4, 5, 6) : Concatenation

`('Halo!',) * 4` ->	('Halo!', 'Halo!', 'Halo!', 'Halo!') : Repetition

`2 in (1, 2, 3)` -> True : Membership

`for x in (1,2,3) : print (x,end = ' ')` -> 1 2 3 : Iteration

In [312]:
number = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
print('Panjang list = ', len(number))

Panjang list =  10

In [313]:
list1 = (1, 2, 3)
list2 = (4, 5, 6)

list_combine = list1 + list2
list_combine

(1, 2, 3, 4, 5, 6)

In [314]:
# or
number = (1, 2, 3) + (4, 5, 6)
number

(1, 2, 3, 4, 5, 6)

In [315]:
halo = ('Halo',)*5
halo

('Halo', 'Halo', 'Halo', 'Halo', 'Halo')

In [316]:
number = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
print('8 in list? = ', 8 in number)
print('20 not in list? = ', 20 not in number)

8 in list? =  True
20 not in list? =  True

In [317]:
number = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)
for x in number :
  print(x, end=' ')

1 3 5 7 9 2 4 6 8 10

### **Build-In Functions Tuple**

**<h4>Python Function<h4>**

* `len(tuple)`
    
    Memberikan total panjang * tuple.

* `max(tuple)`

    Mengembalikan item dari tuple dengan nilai maks.

* `min(tuple)`

    Mengembalikan item dari tuple dengan nilai min.

* `tuple(seq)`

    Mengubah tuple menjadi tuple.
* `sorted()`


**<h4>Python Methods<h4>**

* `tuple.count(obj)`

    Jumlah pengembalian berapa kali obj terjadi dalam tuple

* `tuple.index(obj)`

    Mengembalikan indeks terendah dalam tuple yang muncul obj

In [318]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [319]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

Tambahan :

Tuple lebih cepat dibandingkan dengan list

In [320]:
import timeit

data_list = timeit.timeit(stmt="[1,2,3,4,5,6,7,8,9]",number=1000000)
data_tuple = timeit.timeit(stmt="(1,2,3,4,5,6,7,8,9)",number=1000000)

print("waktu untuk memproses list:",data_list)
print("waktu untuk memproses tuple:",data_tuple)

waktu untuk memproses list: 0.13403614599997127
waktu untuk memproses tuple: 0.01264797300001419

Tuple lebih ringan dibandingkan dengan list

In [321]:
import sys

data_list = [1,2,3,4,5,6,7,8,9,10,"pisang goreng","syahrini","via vallen", False, 3.14]
data_tuple = (1,2,3,4,5,6,7,8,9,10,"pisang goreng","syahrini","via vallen", False, 3.14)

besar_datalist = sys.getsizeof(data_list)
besar_datatuple = sys.getsizeof(data_tuple)

print("besar data list:", besar_datalist)
print("besar data tuple:", besar_datatuple)

besar data list: 192
besar data tuple: 176

## **Set**

Tipe data Set Python adalah tipe data yang berisi kumpulan tipe data dan dipakai untuk mengolah himpunan (set). Jika dibandingkan dengan tipe data berbentuk array lain di Python, tipe data set berbeda dalam hal index, pengurutan dan keunikan nilai (unique value).

Tipe data set tidak memiliki index, sehingga tidak ada mekanisme pengurutan. Maksudnya, ketika kita menginput beberapa nilai ke dalam tipe data set, posisi nilai tersebut bisa berada di mana saja, tidak persis seperti apa yang tertulis. Akibat tidak memiliki index, maka kita tidak bisa menambah nilai baru ke dalam tipe data set dengan cara menulis nomor index (seperti di dalam tipe data list)

Ciri khas selanjutnya dari tipe data set adalah tidak bisa menerima nilai ganda, setiap nilai di dalam set harus unik. Jika kita menginput beberapa nilai yang sama, hanya satu yang tersimpan di dalam set.

**<h4>The set() Constructor</h4>**

`thisset = set(("apple", "banana", "cherry")) # note the double round-brackets`

`print(thisset)`

In [322]:
foo = {"Belajar", "Python", "di", "Duniailkom"}
bar = {100, 200, 300, 400}
baz = {"Python", 200, 6.99, True}
 
print(foo)
print(bar)
print(baz)

{'di', 'Belajar', 'Duniailkom', 'Python'}
{200, 100, 400, 300}
{200, True, 'Python', 6.99}

### **Sifat Tipe Data Set Python**

Seperti yang dibahas pada bagian pengertian, sifat dari tipe data set adalah 

* tidak ber-index (unindex and unordered)

* hanya bisa menerima anggota dengan nilai yang berbeda (unique value).

 Mari lihat dengan contoh kode program:

In [323]:
foo = {"Belajar", "Python", "di", "Duniailkom", "di"}
bar = {100, 200, 300, 400, 200, 300}
 
print(foo)
print(bar)

{'di', 'Belajar', 'Duniailkom', 'Python'}
{200, 100, 400, 300}

In [324]:
foo = {"Belajar", "Python", "di", "Duniailkom", "di"}
 
# print(foo[1])  'set' object does not support indexing

### **Access Items**

You cannot access items in a set by referring to an `index`, since sets are unordered the items has no index.

But you can loop through the set items using a `for loop`, or ask if a specified value is present in a set, by using the in keyword.

In [325]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

### **Update Items**

`Once a set is created, you cannot change its items, but you can add new items.`

### **Add Items**

To add one item to a set use the `add()` method.

To add more than one item to a set use the `update()` method.

In [326]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [327]:
# Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'banana', 'apple', 'orange', 'cherry', 'mango'}

To determine how many items a set has, use the **len()** function

In [328]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### **Remove Items**

To remove an item in a set, use the `remove()`, or the `discard()` method.

* remove()
* discard()
* pop() -> you will not know which item that gets removed
* del -> just to delete all
* clear()

Note:

* If the item to remove does not exist, remove() will raise an error.

* If the item to remove does not exist, discard() will NOT raise an error.

* Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

**<h4>Remove</h4>**

In [329]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

**<h4>Discard</h4>**

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [330]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

**<h4>Pop</h4>**

You can also use the `pop()`, method to remove an item, but this method will remove the last item. Remember that sets are `unordered`, so you will not know what item that gets removed.

The return value of the `pop()` method is the removed item.

In [331]:
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

**<h4>Del</h4>**

In [332]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

# print(thisset) -> name 'thisset' is not defined

**<h4>Clear</h4>**

In [333]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

### **Concatenate Set**

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

Note: 

Both union() and update() will exclude any duplicate items.

In [334]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 'a', 'b', 1, 2, 3}

In [335]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 'a', 'b', 1, 2, 3}

### **Operasi Himpunan tipe data Set Python**

Tipe data set pada dasarnya adalah tipe data khusus yang dipakai untuk operasi himpunan, seperti operasi gabungan (union), operasi irisan (intersection), dst. Lebih rinci tentang operasi himpunan ini akan kita bahas dalam tutorial khusus tenang operator di dalam bahasa Python.

In [336]:
foo = {1, 2, 3, 4, 5}
bar = {3, 4, 5, 6, 7}
 
print (foo | bar) # union
print (foo & bar) # intersection

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [337]:
ganjil = {1,3,5,7,9}
genap = {2,4,6,8,10}
prima = {2,3,5,7}

print(ganjil.union(genap))
print(ganjil.intersection(prima))
print(ganjil.intersection_update(prima))
print(ganjil.difference(prima)) # Remove the items that exist in ganjil
print(ganjil.difference_update(prima)) # Remove the items that exist in both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 5, 7}
None
set()
None

### **Build-In Method Set**

**<h4>Python Method<h4>**

Python has a set of built-in methods that you can use on sets.

* `add()`

    Adds an element to the set

* `clear()`

    Removes all the elements from the set

* `copy()`

    Returns a copy of the set

* `difference()`

    Returns a set containing the difference between two or more sets

* `difference_update()`

    Removes the items in this set that are also included in another, specified set

* `discard()`

    Remove the specified item

* `intersection()`

    Returns a set, that is the intersection of two other sets

* `intersection_update()`

    Removes the items in this set that are not present in other, specified set(s)

* `isdisjoint()`

    Returns whether two sets have a intersection or not

* `issubset()`

    Returns whether another set contains this set or not

* `issuperset()`

    Returns whether this set contains another set or not

* `pop()`

    Removes an element from the set

* `remove()`

    Removes the specified element

* `symmetric_difference()`

    Returns a set with the symmetric differences of two sets

* `symmetric_difference_update()`

    inserts the symmetric differences from this set and another

* `union()`

    Return a set containing the union of sets

* `update()`

    Update the set with the union of this set and others

In [338]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'banana', 'cherry', 'apple'}

In [339]:
ruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [340]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'cherry', 'apple'}

In [341]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [342]:
# Remove the items that exist in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [343]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [344]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [345]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [346]:
# Remove the items that is not present in both x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [347]:
# Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [348]:
# Return True if all items set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [349]:
# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [350]:
# Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'apple'}

In [351]:
# Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [352]:
# Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

In [353]:
# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

In [354]:
# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'cherry', 'microsoft', 'apple', 'google'}

In [355]:
# Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'apple', 'google'}

## **Dictionary**

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. Each key is separated from its value by a colon (:), the items are separated by commas.

Dictionary Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

`nama_variabel = { "key1": "value1", "key2": "value2", "key3": "value3" }`

atau dengan dict( )

`nama = dict(key1 = value1, key2 = value2, key3 = value3)`

Nilai kamus bisa berupa tipe apa pun, namun key harus berupa tipe data yang tidak berubah seperti string, angka, atau tupel.

**<h4>The dict() Constructor</h4>**

`thisdict = dict(brand="Ford", model="Mustang", year=1964)`
`# note that keywords are not string literals`
`# note the use of equals rather than colon for the assignment`
`print(thisdict)`

......................................................................................

`dict.items()` -> untuk mengambil key dan value

`dict.keys()` -> untuk mengambil key

`dict.values()` -> untuk mengambil value

In [356]:
foo = { 1: "Belajar", 2: "Python", 3: "di Duniailkom" }
bar = { "mengapa": "Belajar", "apa": "Python", "dimana": "di Duniailkom" }
baz = { 1: "Belajar", "apa": "Python", "dimana": "di Duniailkom" }
 
print(type(foo))
print(type(bar))
print(type(baz))
 
print(foo)
print(bar)
print(baz)

<class 'dict'>
<class 'dict'>
<class 'dict'>
{1: 'Belajar', 2: 'Python', 3: 'di Duniailkom'}
{'mengapa': 'Belajar', 'apa': 'Python', 'dimana': 'di Duniailkom'}
{1: 'Belajar', 'apa': 'Python', 'dimana': 'di Duniailkom'}

In [357]:
foo = { 1: "Belajar", 
        2: ["Pascal", "C", "Python"],
        "website": "Duniailkom",
        "menyerah" : False,
        "target": 2020,
        "riwayat_sekolah": {
          "SD": "SDN 3 Hijau Daun",
          "SMP": "SMP 7 Hijau Lumut",
          "SMA": "SMA 8 Hijau Rumput"}
      }
       
print(foo)

{1: 'Belajar', 2: ['Pascal', 'C', 'Python'], 'website': 'Duniailkom', 'menyerah': False, 'target': 2020, 'riwayat_sekolah': {'SD': 'SDN 3 Hijau Daun', 'SMP': 'SMP 7 Hijau Lumut', 'SMA': 'SMA 8 Hijau Rumput'}}

### **items(), keys(), values()**

In [358]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [359]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [360]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [361]:
data = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
print(data.keys())
print(data.values())
print(data.items())

dict_keys(['Name', 'Age', 'Address'])
dict_values(['Bill', 20, 'Poros Malino'])
dict_items([('Name', 'Bill'), ('Age', 20), ('Address', 'Poros Malino')])

In [362]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

### **Access Items**

To access dictionary elements, you can use the square brackets along with the key to obtain its value.

* with [key]
* with get(key)

In [363]:
dict_ = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
print(dict_['Address'])

Poros Malino

In [364]:
#Contoh cara membuat Dictionary pada Python

bio = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("bio['Name']: ", bio['Name'])
print ("bio['Age']: ", bio['Age'])

bio['Name']:  Zara
bio['Age']:  7

In [365]:
foo = { "kegiatan": "Belajar Python",
        "website": "Duniailkom",
        "hasil": "Yakin bisa!" }
 
print(foo["website"])

Duniailkom

In [366]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
x

'Mustang'

### **Update Items**

You can change the value of a specific item by referring to its key name.

Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada seperti ditunjukkan pada contoh sederhana yang diberikan di bawah ini.

In [367]:
dict_ = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
dict_['Name'] = 'Jeff'
print(dict_)

{'Name': 'Jeff', 'Age': 20, 'Address': 'Poros Malino'}

In [368]:
# Update dictionary python

bio = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
bio['Age'] = 8; # Mengubah entri yang sudah ada
bio['School'] = "DPS School" # Menambah entri baru

print ("bio['Age']: ", bio['Age'])
print ("bio['School']: ", bio['School'])

bio['Age']:  8
bio['School']:  DPS School

### **Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [369]:
dict_ = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
print(dict_)

dict_['year_of_birth'] = 2000
print(dict_)

{'Name': 'Bill', 'Age': 20, 'Address': 'Poros Malino'}
{'Name': 'Bill', 'Age': 20, 'Address': 'Poros Malino', 'year_of_birth': 2000}

In [370]:
foo = { "kegiatan": "Belajar Python",
        "website": "Duniailkom",
        "hasil": "Yakin bisa!" }
 
foo["target"] = 2020
print(foo)

{'kegiatan': 'Belajar Python', 'website': 'Duniailkom', 'hasil': 'Yakin bisa!', 'target': 2020}

In [371]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### **Removing Items**

There are several methods to remove items from a dictionary.

* pop()
* popitem()
* del
* clear()

The **pop()** method removes the item with the specified key name

In [372]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.pop('Age')
print(dict_)

{'Name': 'Bill', 'Address': 'Poros Malino', 'year_of_birth': 2000}

The **popitem()** method removes the last inserted item.

In [373]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.popitem()
print(dict_)

{'Name': 'Bill', 'Age': 20, 'Address': 'Poros Malino'}

The **del** keyword removes the item with the specified key name. The **del** keyword can also delete the dictionary completely.

In [374]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

del dict_['Address']
print(dict_)

{'Name': 'Bill', 'Age': 20, 'year_of_birth': 2000}

The **clear()** keyword empties the dictionary.

In [375]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.clear()
print(dict_)

{}

### **Loop Through a Dictionary**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

bisa memanfaatkan fungsi `.items()`, `.keys()` dan `.values()`

In [376]:
dict_ = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
print(dict_)

{'Name': 'Bill', 'Age': 20, 'Address': 'Poros Malino'}

In [377]:
for key in dict_:
    print(key)

Name
Age
Address

In [378]:
# To print value from dictionary :
for key in dict_:
    print(dict_[key])

Bill
20
Poros Malino

In [379]:
# Or use values() function
for value in dict_.values():
    print(value)

Bill
20
Poros Malino

In [380]:
# Loop through both keys and values using items()
for key, value in dict_.items():
    print(key, value)

Name Bill
Age 20
Address Poros Malino

In [381]:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in text.lower():
    # Check if the letter needs to be counted or not
    if letter.isspace() or letter.isdecimal() or letter == "!":
      continue
    else:
      if letter not in result:
        result[letter] = 0
      result[letter] += 1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1, '+': 1, '=': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1, '.': 1}

### **Check if Key Exists**

In [382]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### **Copy a Dictionary**

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [383]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()

In [384]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [385]:
# Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### **Concenate Dictionary**

In [386]:
d1={'A':1,'B':2}
d2={'C':3}
d1.update(d2)
print("Concatenated dictionary is:")
print(d1)

Concatenated dictionary is:
{'A': 1, 'B': 2, 'C': 3}

### **Sorting Dictionary**

In [387]:
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
{k: v for k, v in sorted(x.items(), key=lambda item: item[1])}

{0: 0, 1: 2, 2: 1, 3: 4, 4: 3}

In [388]:
dict(sorted(x.items(), key=lambda item: item[1]))

{0: 0, 1: 2, 2: 1, 3: 4, 4: 3}

In [389]:
import operator
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_x = sorted(x.items(), key=operator.itemgetter(1))
sorted_x

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [390]:
import operator
x = {"A": 2, "D": 4, "C": 3, "B": 1, "E": 0}
sorted_x = sorted(x.items(), key=operator.itemgetter(0))
sorted_x

[('A', 2), ('B', 1), ('C', 3), ('D', 4), ('E', 0)]

### **Nested Dictionaries**

In [391]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [392]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

### **Build-In Functions Dictionary**

**<h4>Python Function<h4>**

* `len(dict)``

    Memberikan panjang total Dictionary. Ini sama dengan jumlah item dalam Dictionary.

* `str(dict)`

    Menghasilkan representasi string yang dapat dicetak dari Dictionary

* `type(variable)`

    Mengembalikan tipe variabel yang lulus. Jika variabel yang dilewatkan adalah Dictionary, maka akan mengembalikan tipe Dictionary.


**<h4>Python Methods<h4>**

* `dict.clear()`

    Menghapus semua elemen Dictionary

* `dict.copy()`

    Mengembalikan salinan Dictionary

* `dict.fromkeys()`

    `dict.fromkeys(keys, value)`

    Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.

* `dict.get(key, default=None)`

    For key, nilai pengembalian atau default jika tombol tidak ada dalam Dictionary

* `dict.has_key(key)`

    Mengembalikan true jika key dalam Dictionary, false sebaliknya

* `dict.items()`

    Mengembalikan daftar dari pasangan tuple dictionary (key, value)

* `dict.keys()`

    Mengembalikan daftar key dictionary

* `dict.setdefault(key, default=None)`	

    Mirip dengan get (), tapi akan mengatur dict [key] = default jika kunci belum ada di dict

* `dict.update(dict2)`

    Menambahkan pasangan kunci kata kunci dict2 ke dict

* `dict.values()`

    Mengembalikan daftar nilai dictionary

In [393]:
# Create a dictionary with 3 keys, all with the value 0:

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [394]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [395]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [396]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [397]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [398]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [399]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [400]:
# Get the value of the "model" item:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [401]:
# Remove the last item from the dictionary:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

### **Grouping Dict**

In [402]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for group, user in group_dictionary.items():
		# Now go through the users in the group
		for item in user:
			if item not in user_groups:
				user_groups[item] = []
			user_groups[item].append(group)

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [403]:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in text.lower():
    # Check if the letter needs to be counted or not
    if letter.isalpha():
      if letter not in result:
        result[letter] = 0
      result[letter] += 1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

## **Teknik Looping Data Struktur**

### ***Enumerate(List) --> Index, Value***

In [404]:
# teknik looping

nama_band = ['Payung Teduh',
             'Fourtwnty',
             'Dialog Dini Hari',
             'Mr. Sonjaya',
             'Parahyena',
             'Syahrini']

kumpulan_lagu = ['Akad',
        'Zona Nyaman',
        'Rumahku',
        'Sang Filsuf',
        'Sindoro',
        'Jodohku']

# enumerate

for index,band in enumerate(nama_band):
    print(index,':',band)

0 : Payung Teduh
1 : Fourtwnty
2 : Dialog Dini Hari
3 : Mr. Sonjaya
4 : Parahyena
5 : Syahrini

In [405]:
print("Contoh Foor Loop")
angka = [12, 34, 56, 78, 90, 13, 35, 57]
print(angka)
print("Mengurutkan :")
for index, value in enumerate(sorted(angka)) :
  print("Nilai ke-"+str(index)+" = "+ str(value))

Contoh Foor Loop
[12, 34, 56, 78, 90, 13, 35, 57]
Mengurutkan :
Nilai ke-0 = 12
Nilai ke-1 = 13
Nilai ke-2 = 34
Nilai ke-3 = 35
Nilai ke-4 = 56
Nilai ke-5 = 57
Nilai ke-6 = 78
Nilai ke-7 = 90

In [406]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for index, value in enumerate(obj_list):
    print(index*value)

0
16
22
30
20

### ***Zip(list, list) --> itemlist, itemlist***

In [407]:
# teknik looping

nama_band = ['Payung Teduh',
             'Fourtwnty',
             'Dialog Dini Hari',
             'Mr. Sonjaya',
             'Parahyena',
             'Syahrini']

kumpulan_lagu = ['Akad',
        'Zona Nyaman',
        'Rumahku',
        'Sang Filsuf',
        'Sindoro',
        'Jodohku']

# zip

for band,lagu in zip(nama_band,kumpulan_lagu):
    print(band,'menyanyikan lagu yang berjudul:',lagu)

Payung Teduh menyanyikan lagu yang berjudul: Akad
Fourtwnty menyanyikan lagu yang berjudul: Zona Nyaman
Dialog Dini Hari menyanyikan lagu yang berjudul: Rumahku
Mr. Sonjaya menyanyikan lagu yang berjudul: Sang Filsuf
Parahyena menyanyikan lagu yang berjudul: Sindoro
Syahrini menyanyikan lagu yang berjudul: Jodohku

### ***Set***

In [408]:
# teknik looping

nama_band = ['Payung Teduh',
             'Fourtwnty',
             'Dialog Dini Hari',
             'Mr. Sonjaya',
             'Parahyena',
             'Syahrini']

kumpulan_lagu = ['Akad',
        'Zona Nyaman',
        'Rumahku',
        'Sang Filsuf',
        'Sindoro',
        'Jodohku']

# set
playlist = {'baby baby', 'ada apa dengan cinta', 'cenat-cenut', 'jaran goyang', 'jaran goyang', 'gorgom', 'kuda', 'kucing'}

for lagu in sorted(playlist):
    print(lagu)

ada apa dengan cinta
baby baby
cenat-cenut
gorgom
jaran goyang
kucing
kuda

### ***Items, keys, values --> dict***

In [409]:
# dictionary

print('='*100)

playlist2 = {'Payung Teduh': 'akad',
             'Fourtwnty':'Zona Nyaman',
             'Dialog Dini Hari':'Rumahku',
             }

for i,v in playlist2.items():
    print(i,'lagunya:',v)

for i in reversed(range(1,10,1)):
    print(i, end = " ")

====================================================================================================
Payung Teduh lagunya: akad
Fourtwnty lagunya: Zona Nyaman
Dialog Dini Hari lagunya: Rumahku
9 8 7 6 5 4 3 2 1

In [410]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

# **Let's play a game**

## **Hangman**

This is a Python script of the classic game "Hangman". The word to guess is represented by a row of dashes. If the player guess a letter which exists in the word, the script writes it in all its correct positions. The player has 10 turns to guess the word. You can easily customize the game by changing the variables.

In [411]:
words = ['think', 'could', 'should', 'become', 'leave', 'begin', 'start', 'might',
 'believe', 'bring', 'happen', 'write', 'provide', 'stand', 'include', 'continue',
 'learn', 'change', 'understand', 'watch', 'follow', 'create', 'speak', 'allow',
 'spend', 'offer', 'remember', 'consider', 'appear', 'serve', 'expect', 'build',
 'reach']

import random
word = random.choice(words) # here we set the secret

guesses = ''                # creates an variable with an empty value

turns = 10                  # determine the number of turns

while turns > 0:            # check if the turns are more than zero
    failed = 0              # make a counter that starts with zero
  
    for char in word:       # for every character in secret_word  

        if char in guesses:               # see if the character is in the players guess
            print (char, end=" ")         # print then out the character

        else:
            print ("_", end=" ")          # if not found, print a dash
            failed += 1                   # and increase the failed counter with one

    if failed == 0:                       # if failed is equal to zero print You Won
        print ("You won")
        break                             # exit the script

    print() 
    guess = input("guess a char:")        # ask the user go guess a character

    guesses += guess                      # set the players guess to guesses

    if guess not in word:                 # if the guess is not found in the secret word
 
        turns -= 1                        # turns counter decreases with 1 (now 9)
        print ("Wrong")                   # print wrong
 
        print ("You have", turns, 'more guesses')   # how many turns are left

        if turns == 0:                              # if the turns are equal to zero
            print ("You Lose")                      # print "You Lose"
            print ("The right word :", word)

_ _ _ _ _
guess a char:d
Wrong
You have 9 more guesses
_ _ _ _ _
guess a char:a
_ _ a _ _
guess a char:c
Wrong
You have 8 more guesses
_ _ a _ _
guess a char:b
Wrong
You have 7 more guesses
_ _ a _ _
guess a char:e
_ e a _ _
guess a char:p
Wrong
You have 6 more guesses
_ e a _ _
guess a char:l
l e a _ _
guess a char:r
l e a r _
guess a char:n
l e a r n You won

# **Stacks and Queues**

Stack -> proses menambah data dan menghapus data bagian akhir

In [412]:
tumpukan = [1,2,3,4,5,6]
print('data sekarang: ',tumpukan)

# memasukan data baru
tumpukan.append(7)
print('data masuk: ',7)
print('data sekarang: ',tumpukan)
tumpukan.append(8)
print('data masuk: ',8)
print('data sekarang: ',tumpukan)

out = tumpukan.pop()
print('data keluar: ',out)
print('data sekarang: ',tumpukan)

data sekarang:  [1, 2, 3, 4, 5, 6]
data masuk:  7
data sekarang:  [1, 2, 3, 4, 5, 6, 7]
data masuk:  8
data sekarang:  [1, 2, 3, 4, 5, 6, 7, 8]
data keluar:  8
data sekarang:  [1, 2, 3, 4, 5, 6, 7]

Queues -> proses menambah data dan menghapus data bagian depan

maka kita menggunakan library tertentu

In [413]:
from collections import deque

antrian = deque([1,2,3,4,5])

print('data sekarang: ',antrian)

# menambahkan data
antrian.append(6)
print('data masuk: ',6)
print('data sekarang: ',antrian)

antrian.append(7)
print('data masuk: ',7)
print('data sekarang: ',antrian)

# mengurangi antrian
out = antrian.popleft()
print('data keluar: ',out)
print('data sekarang: ',antrian)

out = antrian.popleft()
print('data keluar: ',out)
print('data sekarang: ',antrian)

out = antrian.popleft()
print('data keluar: ',out)
print('data sekarang: ',antrian)

antrian.append(8)
print('data masuk: ',8)
print('data sekarang: ',antrian)

data sekarang:  deque([1, 2, 3, 4, 5])
data masuk:  6
data sekarang:  deque([1, 2, 3, 4, 5, 6])
data masuk:  7
data sekarang:  deque([1, 2, 3, 4, 5, 6, 7])
data keluar:  1
data sekarang:  deque([2, 3, 4, 5, 6, 7])
data keluar:  2
data sekarang:  deque([3, 4, 5, 6, 7])
data keluar:  3
data sekarang:  deque([4, 5, 6, 7])
data masuk:  8
data sekarang:  deque([4, 5, 6, 7, 8])

# **Date and Time**

Program Python dapat menangani tanggal dan waktu dengan beberapa cara. Konversi antara format tanggal adalah tugas umum untuk komputer. Modul waktu dan kalender Python melacak tanggal dan waktu.

**<h4>Apa itu Tick?<h4>**

Interval waktu adalah bilangan floating-point dalam satuan detik. Instansi tertentu dalam waktu dinyatakan dalam hitungan detik sejak pukul 12:00 1 Januari 1970.

Dibawah ini adalah contoh penggunanaya.

In [414]:
import time;  # Digunakan untuk meng-import modul time

ticks = time.time()
print("Berjalan sejak 12:00am, January 1, 1970:", ticks)

Berjalan sejak 12:00am, January 1, 1970: 1633439583.04393

**<h4>Apa itu TimeTuple Python?<h4>**

Banyak fungsi waktu Python menangani waktu sebagai tuple dari 9 nomor, seperti yang terdapat pada tabel di bawah ini.

* 0	tm_year	2008

* 1	tm_mon	1 sampai 12

* 2	tm_mday	1 sampai 31

* 3	tm_hour	0 sampai 23

* 4	tm_min	0 sampai 59

* 5	tm_sec	0 sampai 61

* 6	tm_wday	0 sampai 6 (0 adalah Senin)

* 7	tm_yday	1 sampai 366

* 8	tm_isdst	-1, 0, 1, -1 means library determines DST

Mendapatkan Waktu Saat Ini

Untuk menerjemahkan waktu instan dari satu detik sejak nilai floating-point ke waktu menjadi tupel waktu, lewati nilai floating-point ke fungsi (mis., Localtime) yang mengembalikan waktu tupel dengan semua sembilan item valid.

In [415]:
import time;

localtime = time.localtime(time.time())
print("Waktu lokal saat ini :", localtime)

Waktu lokal saat ini : time.struct_time(tm_year=2021, tm_mon=10, tm_mday=5, tm_hour=13, tm_min=13, tm_sec=3, tm_wday=1, tm_yday=278, tm_isdst=0)

Mendapatkan Waktu yang berformat

Anda dapat memformat kapan saja sesuai kebutuhan Anda, namun metode sederhana untuk mendapatkan waktu dalam format yang mudah dibaca adalah asctime ()

In [416]:
import time;

localtime = time.asctime( time.localtime(time.time()) )
print("Waktu lokal saat ini :", localtime)

Waktu lokal saat ini : Tue Oct  5 13:13:03 2021

Mendapatkan kalender dalam sebulan

Modul kalender memberikan berbagai macam metode untuk dimainkan dengan kalender tahunan dan bulanan. Di sini, kami mencetak kalender untuk bulan tertentu (Jan 2008)

In [417]:
import calendar

cal = calendar.month(2008, 1)
print("Dibawah ini adalah kalender:")
print(cal)

Dibawah ini adalah kalender:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

Modul time pada Python

Ada modul waktu populer yang tersedia dengan Python yang menyediakan fungsi untuk bekerja dengan waktu dan untuk mengkonversi antara representasi. Dibawah ini adalah tabel dari modul time pada python yang ada.

* `time.altzone`

    Diimbangi zona waktu DST lokal, dalam detik di sebelah barat UTC, jika seseorang didefinisikan. Ini negatif jika zona waktu DST lokal berada di sebelah timur UTC (seperti di Eropa Barat, termasuk Inggris). Gunakan saja ini jika siang hari tidak nol.

* `time.asctime([tupletime])`

    Menerima time-tupel dan mengembalikan string 24-karakter yang dapat dibaca seperti ‘Tue Dec 11 18:07:14 2008’.

* `time.clock()`

    Mengembalikan waktu CPU saat ini sebagai jumlah floating-point detik. Untuk mengukur biaya komputasi dari berbagai pendekatan, nilai time.clock lebih bermanfaat daripada time.time ().

* `time.ctime([secs])`

    Seperti asctime (localtime (detik)) dan tanpa argumen seperti asctime ()

* `time.gmtime([secs])`

    Menerima instan yang diungkapkan dalam hitungan detik sejak zaman dan mengembalikan waktu tuple t dengan waktu UTC. Catatan: t.tm_isdst selalu 0

* `time.localtime([secs])`

    Menerima instan yang dinyatakan dalam hitungan detik sejak zaman dan mengembalikan waktu tuple t dengan waktu setempat (t.tm_isdst adalah 0 atau 1, tergantung pada apakah DST berlaku seketika oleh peraturan lokal).

* `time.mktime(tupletime)`

    Menerima instan dinyatakan sebagai time-tuple di waktu setempat dan mengembalikan nilai floating-point dengan instan yang dinyatakan dalam hitungan detik sejak zaman.

* `time.sleep(secs)`

    Menangguhkan panggilan untuk beberapa detik.

* `time.strftime(fmt[,tupletime])`

    Menerima instan dinyatakan sebagai tupel waktu di waktu lokal dan mengembalikan sebuah string yang mewakili instan seperti yang ditentukan oleh string fmt
    
* `time.strptime(str,fmt=’%a %b %d %H:%M:%S %Y’)`

    Parses str sesuai dengan format string fmt dan mengembalikan format instant-tuple.

* `time.time()`

    Mengembalikan waktu saat ini secara instan, jumlah detik mengambang beberapa detik sejak zaman itu.

* `time.tzset()`

    Mengatur ulang aturan konversi waktu yang digunakan oleh rutinitas perpustakaan. Variabel lingkungan TZ menentukan bagaimana hal ini dilakukan.

Ada dua atribut penting yang tersedia dengan modul waktu:


* `time.timezone`
    
    Atribut time.timezone adalah offset dalam detik zona waktu lokal (tanpa DST) dari UTC (> 0 di Amerika; <= 0 di sebagian besar Eropa, Asia, Afrika).

* `time.tzname`

    Atribut time.tzname adalah sepasang string yang bergantung pada lokal, yang merupakan nama zona waktu lokal tanpa dan dengan DST.

Modul calendar pada Python

Modul kalender menyimpan fungsi yang berhubungan dengan kalender, termasuk fungsi untuk mencetak kalender teks untuk bulan atau tahun tertentu.

Secara default, kalender mengambil hari Senin sebagai hari pertama dalam minggu dan minggu sebagai yang terakhir. Untuk mengubah ini, fungsi call calendar.setfirstweekday ().

Berikut adalah daftar fungsi yang tersedia dengan modul kalender:

* `calendar.calendar(year,w=2,l=1,c=6)`	

    Mengembalikan string multiline dengan kalender untuk tahun tahun yang diformat menjadi tiga kolom yang dipisahkan oleh ruang c. W adalah lebar karakter setiap tanggal; Setiap baris memiliki panjang 21 * w + 18 + 2 * c. L adalah jumlah baris untuk setiap minggu.

* `calendar.firstweekday( )`

    Mengembalikan pengaturan saat ini untuk hari kerja yang dimulai setiap minggu. Secara default, saat kalender pertama kali diimpor, ini adalah 0, yang berarti Senin.

* `calendar.isleap(year)`

    Pengembalian True jika tahun adalah tahun kabisat; Jika tidak, False

* `calendar.leapdays(y1,y2)`

    Mengembalikan jumlah lompatan hari dalam tahun-tahun dalam rentang (y1, y2).

* `calendar.month(year,month,w=2,l=1)`

    Mengembalikan string multiline dengan kalender untuk bulan bulan tahun, satu baris per minggu ditambah dua baris header. W adalah lebar karakter setiap tanggal; Setiap baris memiliki panjang 7 * w + 6. L adalah jumlah baris untuk setiap minggu.

* `calendar.monthcalendar(year,month)`	

    Mengembalikan daftar daftar int. Setiap sublist menunjukkan seminggu. Hari di luar bulan bulan tahun diatur ke 0; Hari dalam bulan ditetapkan ke hari ke bulan, 1 dan ke atas.

* `calendar.monthrange(year,month)`	

    Mengembalikan dua bilangan bulat. Yang pertama adalah kode hari kerja untuk hari pertama bulan bulan di tahun; Yang kedua adalah jumlah hari dalam sebulan. Kode hari kerja adalah 0 (Senin) sampai 6 (Minggu); Angka bulan adalah 1 sampai 12.

* `calendar.prcal(year,w=2,l=1,c=6)`

    Seperti kalender cetak.calendar (tahun, w, l, c).

* `calendar.prmonth(year,month,w=2,l=1)`	

    Seperti kalender cetak. Bulan (tahun, bulan, w, l).

* `calendar.setfirstweekday(weekday)`	

    Mengatur hari pertama setiap minggu sampai hari kerja kode hari kerja. Kode hari kerja adalah 0 (Senin) sampai 6 (Minggu).

* `calendar.timegm(tupletime)`

    Kebalikan dari time.gmtime: menerima waktu instan dalam bentuk tupel waktu dan mengembalikan detik yang sama seperti jumlah floating-point dalam hitungan detik sejak zaman.

* `calendar.weekday(year,month,day)`	

    Mengembalikan kode hari kerja untuk tanggal yang ditentukan. Kode hari kerja adalah 0 (Senin) sampai 6 (Minggu); Bulan adalah 1 (Januari) sampai 12 (Desember).

02

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [418]:
import datetime

x = datetime.datetime.now()
print(x)

2021-10-05 13:13:03.083885

When we execute the code from the example above the result will be:

2020-07-21 16:44:36.878413

The date contains year, month, day, hour, minute, second, and microsecond.

In [419]:
# Return the year and name of weekday:

import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2021
Tuesday

**Creating Date Objects**

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

In [420]:
import datetime

# (year, month, day, hour, minute, second, microsecond, tzone)

x = datetime.datetime(2020, 5, 17) 
y = datetime.datetime(2020, 5, 17, 23, 34, 50, 78)

print(x)
print(y)

2020-05-17 00:00:00
2020-05-17 23:34:50.000078

**The strftime() Method**

The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string

* %a -> Weekday, short version	Wed	

* %A -> Weekday, full version	Wednesday	

* %w -> Weekday as a number 0-6, 0 is Sunday	3	

* %d -> Day of month 01-31	31	

* %b -> Month name, short version	Dec	

* %B -> Month name, full version	December	

* %m -> Month as a number 01-12	12	

* %y -> Year, short version, without century	18	

* %Y -> Year, full version	2018	

* %H -> Hour 00-23	17	

* %I -> Hour 00-12	05	

* %p -> AM/PM	PM	

* %M -> Minute 00-59	41	

* %S -> Second 00-59	08	

* %f -> Microsecond 000000-999999	548513	

* %z -> UTC offset	+0100	

* %Z -> Timezone	CST	

* %j -> Day number of year 001-366	365	

* %U -> Week number of year, Sunday as the first day of week, 00-53	52	

* %W -> Week number of year, Monday as the first day of week, 00-53	52	

* %c -> Local version of date and time	Mon Dec 31 17:41:00 2018	

* %x -> Local version of date	12/31/18	

* %X -> Local version of time	17:41:00	

* %% -> A % character	%

In [421]:
import datetime

x = datetime.datetime.now()
print(x.strftime("%B %d, %Y"))

October 05, 2021

In [422]:
# Display the name of the month:

import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

# **JSON**

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

Import the json module:

`import json`

## **Convert from JSON to Python**

If you have a JSON string, you can parse it by using the `json.loads()` method.

In [423]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

## **Convert from Python to JSON**

If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

You can convert Python objects of the following types, into JSON strings:

* dict

* list

* tuple

* string

* int

* float

* True

* False

* None

In [424]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [425]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [426]:
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [427]:
# (", ", ": ") default
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [428]:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

# **RegEx**

* RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

* RegEx can be used to check if a string contains the specified search pattern.

**RegEx Module**

The special characters are:

https://docs.python.org/3/library/re.html

In [429]:
import re

## **RegEx in Python**

In [430]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

## **RegEx Functions**

* `findall` ->	Returns a list containing all matches

* `search` ->	Returns a Match object if there is a match anywhere in the string

* `split` ->	Returns a list where the string has been split at each match

* `sub` ->	Replaces one or many matches with a string

The findall() function returns a list containing all matches.

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:

In [431]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [432]:
# Return an empty list if no match was found:

import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

If no matches are found, the value None is returned:

In [433]:
# Search for the first white-space character in the string:

import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [434]:
# Make a search that returns no match:

import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

The split() function returns a list where the string has been split at each match

You can control the number of occurrences by specifying the maxsplit parameter

In [435]:
# Split the string only at the first occurrence:

import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

The sub() function replaces the matches with the text of your choice:

In [436]:
# Replace every white-space character with the number 9:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [437]:
# Replace the first 2 occurrences:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

## **Metacharacters**

* [ _ ] -> "[a-m]"	

    A set of characters

* \	-> "\d"

    Signals a special sequence (can also be used to escape special characters)		

* .	-> "he..o"

    Any character (except newline character)		

* ^ -> "^hello"

    Starts with		

* \$ -> "world\$"

    Ends with		

* \* -> "aix*"

    Zero or more occurrences		

* \+ -> "aix+"

    One or more occurrences		

* { } -> "al{2}"	

    Exactly the specified number of occurrences	

* | -> "falls|stays"

    Either or		

* ()

    Capture and group

In [438]:
import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [439]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [440]:
import re

txt = "hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

In [441]:
import re

txt = "hello world"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [442]:
import re

txt = "hello world"

#Check if the string ends with 'world':

x = re.findall("world$", txt)
if x:
  print("Yes, the string ends with 'world'")
else:
  print("No match")

Yes, the string ends with 'world'

In [443]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

x = re.findall("aix*", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ai', 'ai', 'ai', 'ai']
Yes, there is at least one match!

In [444]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

x = re.findall("aix+", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [445]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "a" followed by exactly two "l" characters:

x = re.findall("al{2}", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['all']
Yes, there is at least one match!

In [446]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

## **Special Sequences**

* \A -> "\AThe"	

    Returns a match if the specified characters are at the beginning of the string	

* \b -> r"\bain" -> r"ain\b"

    Returns a match where the specified characters are at the beginning or at the end of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string")	
	

* \B -> r"\Bain" -> r"ain\B"	

    Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string")	

* \d

    Returns a match where the string contains digits (numbers from 0-9)		

* \D

    Returns a match where the string DOES NOT contain digits	"\D"	

* \s

    Returns a match where the string contains a white space character	"\s"	

* \S

    Returns a match where the string DOES NOT contain a white space character	"\S"	

* \w

    Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	

* \W

    Returns a match where the string DOES NOT contain any word characters	"\W"	

* \Z

    Returns a match if the specified characters are at the end of the string	"Spain\Z"

## **Sets Characters**

* [arn]

    Returns a match where one of the specified characters (a, r, or n) are present	

* [a-n]

    Returns a match for any lower case character, alphabetically between a and n	

* [^arn]

    Returns a match for any character EXCEPT a, r, and n	

* [0123]

    Returns a match where any of the specified digits (0, 1, 2, or 3) are present	

* [0-9]

    Returns a match for any digit between 0 and 9	

* [0-5][0-9]

    Returns a match for any two-digit numbers from 00 and 59	

* [a-zA-Z]

    Returns a match for any character alphabetically between a and z, lower case OR upper case	

* [+]

    In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

# **Modules, Packages and PIP**

* importing and using Python modules;
* using some of the most useful Python standard library modules;
* constructing and using Python packages;
* PIP (Python Installation Package) and how to use it to install and uninstall ready-to-use packages from PyPI.

## **Python Modules**

Python modules are separate files that contain classes, functions, and other data that allow us to import and make use of these methods and classes in our own code. Python comes with a lot of modules out of the box. These modules are referred to as the Python Standard Library. You can make use of these modules by using the import keyword, followed by the module name.

### **Random**

A random number generator takes a value called a seed, treats it as an input value, calculates a "random" number based on it (the method depends on a chosen algorithm) and produces a new seed value.

For example, we'll import the random module, and then call the randint function within this module:

In [447]:
import random
random.randint(1,10)
# his function takes two integer parameters and returns a 
# random integer between the values we pass it; in this case, 1 and 10.

9

**The random function**

The most general function named `random()` (not to be confused with the module's name) `produces a float number x coming from the range (0.0, 1.0)` - in other words: (0.0 <= x < 1.0).

In [448]:
from random import random

for i in range(5):
    print(random())

0.5184975651568094
0.5099861795808217
0.5460402336613935
0.0705851840761893
0.3129157585432054

**The seed function**

The `seed()` function is able to directly set the generator's seed. We'll show you two of its variants:

* `seed()` - sets the seed with the current time;

* `seed(int_value)` - sets the seed with the integer value int_value.

In [449]:
from random import random, seed

seed(0)

for i in range(5):
    print(random())

0.8444218515250481
0.7579544029403025
0.420571580830845
0.25891675029296335
0.5112747213686085

**The randrange and randint functions**

If you want integer random values, one of the following functions would fit better:

* `randrange(end)`
* `randrange(beg, end)`
* `randrange(beg, end, step)`
* `randint(left, right)`

The first three invocations will generate an integer taken (pseudorandomly) from the range (respectively):

* `range(end)`
* `range(beg, end)`
* `range(beg, end, step)`

Note the implicit right-sided exclusion!

The last function is an equivalent of `randrange(left, right+1)` - it generates the integer value i, which falls in the range [left, right] (no exclusion on the right side).

In [450]:
from random import randrange, randint

print(randrange(1), end=' ')
print(randrange(0, 1), end=' ')
print(randrange(0, 1, 1), end=' ')
print(randint(0, 1))

0 0 0 1

The previous functions have one important disadvantage - they may produce repeating values even if the number of subsequent invocations is not greater than the width of the specified range.

In [451]:
from random import randint

for i in range(10):
    print(randint(1, 10), end=',')

10,4,9,3,5,3,2,10,5,9,

**The choice and sample functions**

As you can see, this is not a good tool for generating numbers in a lottery. Fortunately, there is a better solution than writing your own code to check the uniqueness of the "drawn" numbers.


It's a function named in a very suggestive way - `choice`:

* `choice(sequence)`
* `sample(sequence, elements_to_choose)`

The first variant chooses a "random" element from the input sequence and returns it.

The second one builds a list (a sample) consisting of the `elements_to_choose` element "drawn" from the input sequence.

In other words, the function chooses some of the input elements, returning a list with the choice. The elements in the sample are placed in random order. Note: the `elements_to_choose` must not be greater than the length of the input sequence.

In [452]:
from random import choice, sample

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(choice(my_list))
print(sample(my_list, 5))
print(sample(my_list, 10))

10
[3, 5, 2, 6, 1]
[6, 8, 2, 3, 4, 7, 9, 5, 10, 1]

### **datetime**

Let's take a look at another module: datetime. This module is super helpful when working with dates and times.

When we call the print function with an instance of the datetime class, we get the date and time printed in a specific format. This is because the datetime class has a __str__ method defined which generates the formatted string we see here.

In [453]:
import datetime
now = datetime.datetime.now()
type(now)
print(now)

2021-10-05 13:13:03.585647

In [454]:
now.year

2021

In [455]:
print(now + datetime.timedelta(days=28))

2021-11-02 13:13:03.585647

**date**

One of the classes provided by the datetime module is a class called date. Objects of this class represent a date consisting of the year, month, and day. Look at the code in the editor to see what it looks like in practice and get the current local date using the today method.

In [456]:
from datetime import date

my_date = date(2019, 11, 4)
print(my_date)

2019-11-04

In [457]:
from datetime import date

today = date.today()

print("Today:", today)
print("Year:", today.year)
print("Month:", today.month)
print("Day:", today.day)

Today: 2021-10-05
Year: 2021
Month: 10
Day: 5

The date class gives us the ability to create a date object from a timestamp.

In [458]:
from datetime import date
import time

timestamp = time.time()
print("Timestamp:", timestamp)

d = date.fromtimestamp(timestamp)
print("Date:", d)

Timestamp: 1633439583.6375155
Date: 2021-10-05

The `datetime` module provides several methods to create a `date` object. One of them is the `fromisoformat` method, which takes a date in the `YYYY-MM-DD` format compliant with the ISO 8601 standard.

In [459]:
from datetime import date

d = date.fromisoformat('2019-11-04')
print(d)

2019-11-04

Sometimes you may need to replace the year, month, or day with a different value. You can’t do this with the year, month, and day attributes because they're read-only. In this case, you can use the method named `replace`.

The year, month, and day parameters are optional. You can pass only one parameter to the replace method, e.g., year, or all three as in the example.

In [460]:
from datetime import date

d = date(1991, 2, 5)
print(d)

d = d.replace(year=1992, month=1, day=16)
print(d)

1991-02-05
1992-01-16

One of the more helpful methods that makes working with dates easier is the method called `weekday`. It returns the day of the week as an integer, where 0 is Monday and 6 is Sunday. Run the code in the editor.

In [461]:
from datetime import date

d = date(2019, 11, 4)
print(d.weekday())

0

The date class has a similar method called `isoweekday`, which also returns the day of the week as an integer, but 1 is Monday, and 7 is Sunday:

In [462]:
from datetime import date

d = date(2019, 11, 4)
print(d.isoweekday())

1

You already know how to present a date using the `date` object. The `datetime` module also has a class that allows you to present `time`. Can you guess its name? Yes, it's called `time`:

```
time(hour, minute, second, microsecond, tzinfo, fold)
```

`hour`

The hour parameter must be greater than or equal to 0 and less than 23.

`minute`	

The minute parameter must be greater than or equal to 0 and less than 59.

`second`	

The second parameter must be greater than or equal to 0 and less than 59.

`microsecond`	

The microsecond parameter must be greater than or equal to 0 and less than 1000000.

`tzinfo`	

The tzinfo parameter must be a tzinfo subclass object or None (default).

`fold`	

The fold parameter must be 0 or 1 (default 0).

In [463]:
from datetime import time

t = time(14, 53, 20, 1)

print("Time:", t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)

Time: 14:53:20.000001
Hour: 14
Minute: 53
Second: 20
Microsecond: 1

### **math**

In [464]:
import math

for name in dir(math):
    print(name, end="\t")

__doc__	__loader__	__name__	__package__	__spec__	acos	acosh	asin	asinh	atan	atan2	atanh	ceil	copysign	cos	cosh	degrees	e	erf	erfc	exp	expm1	fabs	factorial	floor	fmod	frexp	fsum	gamma	gcd	hypot	inf	isclose	isfinite	isinf	isnan	ldexp	lgamma	log	log10	log1p	log2	modf	nan	pi	pow	radians	remainder	sin	sinh	sqrt	tan	tanh	tau	trunc

The first group of the math's functions are connected with trigonometry:

* sin(x) → the sine of x;
* cos(x) → the cosine of x;
* tan(x) → the tangent of x.

Of course, there are also their inversed versions:

* asin(x) → the arcsine of x;
* acos(x) → the arccosine of x;
* atan(x) → the arctangent of x.

To effectively operate on angle measurements, the math module provides you with the following entities:

* pi → a constant with a value that is an approximation of π;
* radians(x) → a function that converts x from degrees to radians;
* degrees(x) → acting in the other direction (from radians to degrees)

Apart from the circular functions (listed above) the math module also contains a set of their hyperbolic analogues:

* sinh(x) → the hyperbolic sine;
* cosh(x) → the hyperbolic cosine;
* tanh(x) → the hyperbolic tangent;
* asinh(x) → the hyperbolic arcsine;
* acosh(x) → the hyperbolic arccosine;
* atanh(x) → the hyperbolic arctangent.

In [465]:
from math import pi, radians, degrees, sin, cos, tan, asin

ad = 90
ar = radians(ad)
ad = degrees(ar)

print(ad == 90.)
print(ar == pi / 2.)
print(sin(ar) / cos(ar) == tan(ar))
print(asin(sin(ar)) == ar)

True
True
True
True

Another group of the math's functions is formed by functions which are connected with exponentiation:

* e → a constant with a value that is an approximation of Euler's number (e)
* exp(x) → finding the value of ex;
* log(x) → the natural logarithm of x
* log(x, b) → the logarithm of x to base b
* log10(x) → the decimal logarithm of x (more precise than log(x, 10))
* log2(x) → the binary logarithm of x (more precise than log(x, 2))

Note: the pow() function:

* pow(x, y) → finding the value of xy (mind the domains)

In [466]:
from math import e, exp, log

print(pow(e, 1) == exp(log(e)))
print(pow(2, 2) == exp(2 * log(2)))
print(log(e, e) == exp(0))

True
True
True

The last group consists of some general-purpose functions like:

* ceil(x) → the ceiling of x (the smallest integer greater than or equal to x)
* floor(x) → the floor of x (the largest integer less than or equal to x)
* trunc(x) → the value of x truncated to an integer (be careful - it's not an equivalent either of ceil or floor)
* factorial(x) → returns x! (x has to be an integral and not a negative)
* hypot(x, y) → returns the length of the hypotenuse of a right-angle triangle with the leg lengths equal to x and y (the same as sqrt(pow(x, 2) + pow(y, 2)) but more precise)
Look at the code in the editor. Analyze the program carefully.

It demonstrates the fundamental differences between ceil(), floor() and trunc().

In [467]:
from math import ceil, floor, trunc

x = 1.4
y = 2.6

print(floor(x), floor(y))
print(floor(-x), floor(-y))
print(ceil(x), ceil(y))
print(ceil(-x), ceil(-y))
print(trunc(x), trunc(y))
print(trunc(-x), trunc(-y))

1 2
-2 -3
2 3
-1 -2
1 2
-1 -2

### **platform**

**The platform function**

The `platform` module lets you access the underlying platform's data, i.e., hardware, operating system, and interpreter version information.

There is a function that can show you all the underlying layers in one glance, named `platform`, too. It just returns a string describing the environment; thus, its output is rather addressed to humans than to automated processing (you'll see it soon).

This is how you can invoke it:

```
platform(aliased = False, terse = False)
```

And now:

* `aliased` → when set to `True` (or any non-zero value) it may cause the function to present the alternative underlying layer names instead of the common ones;

* `terse` → when set to `True` (or any non-zero value) it may convince the function to present a briefer form of the result (if possible)

In [468]:
from platform import platform

print(platform())
print(platform(1))
print(platform(0, 1))

Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
Linux-5.4.104+-x86_64-with-glibc2.26

**The machine function**

Sometimes, you may just want to know the generic name of the processor which runs your OS together with Python and your code - a function named `machine()` will tell you that. As previously, the function returns a string.

In [469]:
from platform import machine

print(machine())

x86_64

**The processor function**

The `processor()` function returns a string filled with the real processor name (if possible).

In [470]:
from platform import processor

print(processor())

x86_64

**The system function**

A function named `system()` returns the generic OS name as a string.

In [471]:
from platform import system

print(system())

Linux

**The version function**

The OS version is provided as a string by the `version()` function.

In [472]:
from platform import version

print(version())

#1 SMP Sat Jun 5 09:50:34 PDT 2021

**The `python_implementation` and the `python_version_tuple` functions**

If you need to know what version of Python is running your code, you can check it using a number of dedicated functions - here are two of them:

* `python_implementation()` → returns a string denoting the Python implementation (expect `CPython` here, unless you decide to use any non-canonical Python branch)

* `python_version_tuple()` → returns a three-element tuple filled with:
  * the `major` part of Python's version;
  * the `minor` part;
  * the `patch` level number.

In [473]:
from platform import python_implementation, python_version_tuple

print(python_implementation())

for atr in python_version_tuple():
    print(atr)

CPython
3
7
12

### **OS Module**

In this section, you'll learn about a module called os, which lets you interact with the operating system using Python.

It provides functions that are available on Unix and/or Windows systems. If you're familiar with the command console, you'll see that some functions give the same results as the commands available on the operating systems.


In addition to file and directory operations, the os module enables you to:

* get information about the operating system;
* manage processes;
* operate on I/O streams using file descriptors.

**uname**

information about the current operating system. This is really easy because the os module provides a function called uname, which returns an object containing the following attributes:

* `systemname` — stores the name of the operating system;
* `nodename` — stores the machine name on the network;
* `release` — stores the operating system release;
* `version` — stores the operating system version;
* `machine` — stores the hardware identifier, e.g., x86_64.

In [474]:
import os
print(os.uname())

posix.uname_result(sysname='Linux', nodename='8ee13cfc82c2', release='5.4.104+', version='#1 SMP Sat Jun 5 09:50:34 PDT 2021', machine='x86_64')

**name**

Unfortunately, the uname function only works on some Unix systems. If you use Windows, you can use the uname function in the platform module, which returns a similar result.

The os module allows you to quickly distinguish the operating system using the `name` attribute, which supports one of the following names:

* `posix` — you'll get this name if you use Unix;
* `nt` — you'll get this name if you use Windows;
* `java` — you'll get this name if your code is written in Jython.

In [475]:
import os
print(os.name)

posix

**mkdir**

The os module provides a function called mkdir, which, like the mkdir command in Unix and Windows, allows you to create a directory. The mkdir function requires a path that can be relative or absolute. Let's recall what both paths look like in practice:

* `my_first_directory` — this is a relative path which will create the my_first_directory directory in the current working directory;
* `./my_first_directory` — this is a relative path that explicitly points to the current working directory. It has the same effect as the path above;
* `../my_first_directory` — this is a relative path that will create the my_first_directory directory in the parent directory of the current working directory;
* `/python/my_first_directory` — this is the absolute path that will create the my_first_directory directory, which in turn is in the python directory in the root directory.

In [476]:
import os

os.mkdir("my_first_directory")
print(os.listdir())

['.config', 'my_first_directory', 'sample_data']

**makedirs**

The `mkdir` function is very useful, but what if you need to create another directory in the directory you've just created. Of course, you can go to the created directory and create another directory inside it, but fortunately the os module provides a function called `makedirs`, which makes this task easier.

The `makedirs` function enables recursive directory creation, which means that all directories in the path will be created. Let's look at the code in the editor and see how it is in practice.

In [477]:
import os

os.makedirs("my_first_directory/my_second_directory")
os.chdir("my_first_directory")
print(os.listdir())

['my_second_directory']

**getcwd**

the os module provides a function that returns information about the current working directory. It's called `getcwd`. Look at the code in the editor to see how to use it in practice.

Result:

```
.../my_first_directory
.../my_first_directory/my_second_directory
```

**rmdir & removedirs**

The os module also allows you to delete directories. It gives you the option of deleting a single directory or a directory with its subdirectories. To delete a single directory, you can use a function called `rmdir`, which takes the path as its argument. Look at the code in the editor.

In [478]:
import os

os.mkdir("my_first_directory")
print(os.listdir())
os.rmdir("my_first_directory")
print(os.listdir())

['my_first_directory', 'my_second_directory']
['my_second_directory']

To remove a directory and its subdirectories, you can use the `removedirs` function, which requires you to specify a path containing all directories that should be removed:

In [479]:
import os

os.makedirs("my_first_directory/my_second_directory")
os.removedirs("my_first_directory/my_second_directory")
print(os.listdir())

['my_second_directory']

**system**

All functions presented in this part of the course can be replaced by a function called system, which executes a command passed to it as a string.

The `system` function is available in both Windows and Unix. Depending on the system, it returns a different result.

In Windows, it returns the value returned by the shell after running the command given, while in Unix, it returns the exit status of the process.

In [480]:
import os

returned_value = os.system("mkdir my_first_directory")
print(returned_value)

0

## **Import Type 01**

The simplest way to import a particular module is to use the import instruction as follows:

```
import math
```

The clause contains:

the import keyword;
the name of the module which is subject to import.
The instruction may be located anywhere in your code, but it must be placed before the first use of any of the module's entities.


If you want to (or have to) import more than one module, you can do it by repeating the import clause (preferred):

```
import math
import sys
```

or by listing the modules after the import keyword, like here:

```
import math, sys
```

The instruction imports two modules, first the one named math and then the second named sys.

## **Import Type 02**

In the second method, the import's syntax precisely points out which module's entity (or entities) are acceptable in the code:

```
from math import pi
```

The instruction consists of the following elements:

* the `from` keyword;
* the `name of the module` to be (selectively) imported;
* the `import` keyword;
* the `name or list of names of the entity/entities` which are being imported into the namespace.

The instruction has this effect:

* the listed entities (and only those ones) are `imported from the indicated module`;
* the names of the imported entities are `accessible without qualification`.

Note: no other entities are imported. Moreover, you cannot import additional entities using a qualification - a line like this one:

```
print(math.e)
```

will cause an error (e is Euler's number: 2.71828...)

Let's rewrite the previous script to incorporate the new technique.

Here it is:

```
from math import sin, pi

print(sin(pi/2))
```

The output should be the same as previously, as in fact we've used the same entities as before: 1.0. Copy the code, paste it in the editor, and run the program.

## **Import Type 03**

In the third method, the import's syntax is a more aggressive form of the previously presented one:

Importing a module: *

```
from module import *
```

As you can see, the name of an entity (or the list of entities' names) is replaced with a single asterisk (*).

Such an instruction `imports all entities from the indicated module`.

Is it convenient? Yes, it is, as it relieves you of the duty of enumerating all the names you need.

Is it unsafe? Yes, it is - unless you know all the names provided by the module, `you may not be able to avoid name conflicts`. Treat this as a temporary solution, and try not to use it in regular code.

## **Import Type 04**

Importing a module: the as keyword
If you use the import module variant and you don't like a particular module's name (e.g., it's the same as one of your already defined entities, so qualification becomes troublesome) you can give it any name you like - this is called aliasing.

Aliasing causes the module to be identified under a different name than the original. This may shorten the qualified names, too.

Creating an alias is done together with importing the module, and demands the following form of the import instruction:

```
import module as alias
```

The "module" identifies the original module's name while the "alias" is the name you wish to use instead of the original.

Note: as is a keyword.

This is how it can be done:

```
from module import name as alias
```

As previously, the original (unaliased) name becomes inaccessible.

The phrase name as alias can be repeated - use commas to separate the multiplied phrases, like this:

```
from module import n as a, m as b, o as c
```

## **Import**

***modul.py***

`data = "apa kabs?"`

`def cek_modul():`

`---print("hallo gan")`

`print("ini adalah modul saya")`


***main.py***

`import modul`

`print(modul.data)`

`modul.cek_modul()`

output

    ini adalah modul saya

    apa kabs?

    hallo gan

In [481]:
%%writefile modul.py
data = "apa kabs?"

def cek_modul():
  print("hallo gan")

print("ini adalah modul saya")

Writing modul.py

In [482]:
%%writefile main.py
import modul

print(modul.data)

modul.cek_modul()

Writing main.py

In [483]:
!python main.py

ini adalah modul saya
apa kabs?
hallo gan

## **Modul**

In [484]:
%%writefile matematika.py

def tambah(a,b):
    print('fungsi tambah')
    print(a,'+',b,'=',a+b)

def kurang(a,b):
    print('fungsi kurang')
    print(a,'-',b,'=',a-b)

Writing matematika.py

In [485]:
%%writefile main2.py

import matematika

matematika.tambah(3,4)
matematika.kurang(4,5)

# -------------------------------------
# Output

# fungsi tambah
# 3 + 4 = 7

# fungsi kurang
# 4 - 5 = -1

Writing main2.py

In [486]:
!python main2.py

fungsi tambah
3 + 4 = 7
fungsi kurang
4 - 5 = -1

In [487]:
%%writefile main3.py
import matematika as m

m.tambah(3,4)
m.kurang(5,4)

# -------------------------------------
# Output

# fungsi tambah
# 3 + 4 = 7

# fungsi kurang
# 5 - 4 = 1

Writing main3.py

In [488]:
!python main3.py

fungsi tambah
3 + 4 = 7
fungsi kurang
5 - 4 = 1

In [489]:
%%writefile main4.py
from matematika import tambah, kurang
from matematika import *

tambah(4,5)
kurang(5,4)

# -------------------------------------
# Output

# fungsi tambah
# 3 + 4 = 7

# fungsi kurang
# 5 - 4 = 1

Writing main4.py

In [490]:
!python main4.py

fungsi tambah
4 + 5 = 9
fungsi kurang
5 - 4 = 1

In [491]:
%%writefile main5.py
from matematika import tambah as t

t(3,4)

# -------------------------------------
# Output

# fungsi tambah
# 3 + 4 = 7

Writing main5.py

In [492]:
!python main5.py

fungsi tambah
3 + 4 = 7

## **Modul 02**

*hello.py*

In [493]:
%%writefile hello.py

def world():
    print("Hello, World!")

nama = "Nur Imam Masri"

class Reviewer:
    def __init__(self, nama, kelas):
        self.nama = nama
        self.kelas = kelas
    def review(self):
        print("Reviewer " + self.nama + " bertanggung jawab di kelas " + self.kelas)

Writing hello.py

*main.py*

In [494]:
%%writefile main6.py
import hello

hello.world()

print(hello.nama)

diko = hello.Reviewer("Diko", "Python")
diko.review()

# -----------------
# Output
# Hello, World!
# Nur Imam Masri
# Reviewer Diko bertanggung jawab di kelas Python

Writing main6.py

In [495]:
!python main6.py

Hello, World!
Nur Imam Masri
Reviewer Diko bertanggung jawab di kelas Python

## **Package**

![package.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/package.png)

* a `module is a kind of container filled with functions` - you can pack as many functions as you want into one module and distribute it across the world;
* of course, it's generally a good idea not to mix functions with different application areas within one module (just like in a library - nobody expects scientific works to be put among comic books), so group your functions carefully and name the module containing them in a clear and intuitive way (e.g., don't give the name arcade_games to a module containing functions intended to partition and format hard disks)
* making many modules may cause a little mess - sooner or later you'll want to `group your modules` exactly in the same way as you've previously grouped functions - is there a more general container than a module?
* yes, there is - it's a package; in the world of modules, a package plays a similar role to a folder/directory in the world of files.

Python can do much more. It also creates a variable called `__name__`.

Moreover, each source file uses its own, separate version of the variable - it isn't shared between modules.

We'll show you how to use it. Modify the module a bit:

In [496]:
%%writefile module.py
print("I like to be a module.")
print(__name__)

Writing module.py

In [497]:
!python module.py

I like to be a module.
__main__

In [498]:
%%writefile main7.py
import module

Writing main7.py

In [499]:
!python main7.py

I like to be a module.
module

We can say that:

* when you run a file directly, its `__name__ ` variable is set to `__main__`;
* when a file is imported as a module, its `__name__` variable is set to the file's name (excluding .py)

In [500]:
# if __name__ == "__main__":
#     print("I prefer to be a module.")
# else:
#     print("I like to be a module.")

A few elements need some explanation, we think:

* the line starting with #! has many names - it may be called `shabang, shebang, hashbang, poundbang or even hashpling` (don't ask us why). The name itself means nothing here - its role is more important. From Python's point of view, it's just a `comment` as it starts with #. For Unix and Unix-like OSs (including MacOS) such a line instructs the OS how to execute the contents of the file (in other words, what program needs to be launched to interpret the text). In some environments (especially those connected with web servers) the absence of that line will cause trouble;
* a string (maybe a multiline) placed before any module instructions (including imports) is called the `doc-string`, and should briefly explain the purpose and contents of the module;
* the functions defined inside the module (`suml() and prodl()`) are available for import;
* we've used the `__name__` variable to detect when the file is run stand-alone, and seized this opportunity to perform some simple tests.

In [501]:
%%writefile module.py
#!/usr/bin/env python3 

""" module.py - an example of a Python module """

__counter = 0


def suml(the_list):
    global __counter
    __counter += 1
    the_sum = 0
    for element in the_list:
        the_sum += element
    return the_sum


def prodl(the_list):
    global __counter    
    __counter += 1
    prod = 1
    for element in the_list:
        prod *= element
    return prod


if __name__ == "__main__":
    print("I prefer to be a module, but I can do some tests for you.")
    my_list = [i+1 for i in range(5)]
    print(suml(my_list) == 15)
    print(prodl(my_list) == 120)

Overwriting module.py

In [502]:
!python module.py

I prefer to be a module, but I can do some tests for you.
True
True

In [503]:
%%writefile main8.py
from module import suml, prodl

zeroes = [0 for i in range(5)]
ones = [1 for i in range(5)]
print(suml(zeroes))
print(prodl(ones))

Writing main8.py

In [504]:
!python main8.py

0
1

![package-hirarcy.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/package-hirarcy.png)

In [505]:
# from sys import path
# path.append('..\\packages')

# import extra.iota
# print(extra.iota.funI())

In [506]:
# from sys import path

# path.append('..\\packages')

# import extra.good.best.sigma as sig
# import extra.good.alpha as alp

# print(sig.funS())
# print(alp.funA())

In [507]:
# from sys import path

# path.append('..\\packages\\extrapack.zip')

# import extra.good.best.sigma as sig
# import extra.good.alpha as alp
# from extra.iota import funI
# from extra.good.beta import funB

# print(sig.funS())
# print(alp.funA())
# print(funI())
# print(funB())

main.py 

sains (directory) -> \_\_init\_\_.py , fisika.py, matematika.py

In [508]:
import os
if not os.path.exists("./sains"):
  os.mkdir("sains")

\_\_init\_\_.py

In [509]:
%%writefile __init__.py
from .matematika import *
from .fisika import *

Writing __init__.py

fisika.py

In [510]:
%%writefile fisika.py
def kecepatan(jarak, waktu):
    print('menghitung kecepatan')
    return jarak / waktu

def waktu_tempuh(kecepatan, jarak):
    print('menghitung waktu tempuh')
    return jarak / kecepatan

Writing fisika.py

matematika.py

In [511]:
%%writefile matematika.py
def tambah(a, b):
    print('fungsi tambah')
    return a + b

def kurang(a, b):
    print('fungsi kurang')
    return a - b

Overwriting matematika.py

move to `sains` directory

In [512]:
import os
import shutil

files = ["__init__.py", "fisika.py", "matematika.py"]
for item in files:
  path_item = os.path.join("", item)
  despath_item = os.path.join("sains", item)
  shutil.move(path_item, despath_item)

os.listdir("./sains")

['fisika.py', 'matematika.py', '__init__.py']

main.py

In [513]:
%%writefile main8.py

from sains import tambah

tambah(2,1)

Overwriting main8.py

In [514]:
!python main8.py

fungsi tambah

## **\_\_main\_\_**

In [540]:
%%writefile main9.py
#!/usr/bin/env python3 
import sys

# Variabel global untuk menyimpan data Buku
buku = ['Matematika', 'Fisika', 'Biologi', 'Kimia']


# fungsi untuk menampilkan semua data
def show_data():
    if len(buku) <= 0:
        print("BELUM ADA DATA")
    else:
        for indeks in range(len(buku)):
            print("[%d] %s" % (indeks, buku[indeks]))


# fungsi untuk menambah data
def insert_data():
    buku_baru = input("Judul Buku: ")
    buku.append(buku_baru)

# fungsi untuk edit data
def edit_data():
    show_data()
    indeks = int(input("Inputkan ID buku: "))
    if(indeks > len(buku)):
        print("ID salah")
    else:
        judul_baru = input("Judul baru: ")
        buku[indeks] = judul_baru

# fungsi untuk menhapus data
def delete_data():
    show_data()
    indeks = int(input("Inputkan ID buku: "))
    if(indeks > len(buku)):
        print("ID salah")
    else:
        buku.remove(buku[indeks])

# fungsi untuk menampilkan menu
def show_menu():
    print("\n")
    print("----------- MENU ----------")
    print("[1] Show Data")
    print("[2] Insert Data")
    print("[3] Edit Data")
    print("[4] Delete Data")
    print("[5] Exit")
    
    menu = int(input("PILIH MENU> "))
    print("\n")
    
    if menu == 1:
        show_data()
    elif menu == 2:
        insert_data()
    elif menu == 3:
        edit_data()
    elif menu == 4:
        delete_data()
    elif menu == 5:
        exit();
    else:
        print("Salah pilih!")


if __name__ == "__main__":

    while(True):
        show_menu()

Overwriting main9.py

In [541]:
!python main9.py

# input instruction:
# 1 --> show data
# [0] Matematika
# [1] Fisika
# [2] Biologi
# [3] Kimia

# 2 --> insert data
#      --> Judul Buku: AI
# 3 --> Edit Data
#      --> Inputkan ID buku: 4
#      --> Judul baru: Artificial Intelligence
# 4 --> Delete Data
#      --> Inputkan ID buku: 4
# 5 --> exit

----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 1


[0] Matematika
[1] Fisika
[2] Biologi
[3] Kimia


----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 2


Judul Buku: AI


----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 3


[0] Matematika
[1] Fisika
[2] Biologi
[3] Kimia
[4] AI
Inputkan ID buku: 4
Judul baru: Artificial Intelligence


----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 4


[0] Matematika
[1] Fisika
[2] Biologi
[3] Kimia
[4] Artificial Intelligence
Inputkan ID buku: 4


----------- MENU ----------
[1] Show Data
[2] Insert Data
[3] Edit Data
[4] Delete Data
[5] Exit
PILIH MENU> 5

## **Python Package Index**

* open the Windows console (CMD or PowerShell, whatever you prefer)
* execute the following command:

```
pip --version
```

* the absence of this message may mean that the PATH variable either incorrectly points to the location of the Python binaries, or doesn't point to it at all; for example, our PATH variable contains the following substring:

```
C:\Program Files\Python3\Scripts\;C:\Program Files\Python3\;
```

* the easiest way to reconfigure the PATH variable is to reinstall Python, instructing the installer to set it for you.

How to use pip

Now we’re ready to ask pip what it can do for us. Let's do it – issue the following command:

```
pip help
```

If you want to know more about any of the listed operations, you can use the following form of pip invocation:

```
pip help operation
```

For example, the line:

```
pip help install
```

will show you detailed information about using and parameterizing the install command.

If you want to know what Python packages have been installed so far, you can use the list operation – just like this:

```
pip list
```

The pip list isn't very informative, and it may happen that it won't satisfy your curiosity. Fortunately, there’s a command that can tell you more about any of the installed packages (note the word installed). The syntax of the command looks as follows:

```
pip show package_name
```

We’re going to use it in a slightly deceptive way – we want to convince pip to confess something about itself. This is how we do it:

```
pip show pip
```

One of these cases occurs when you want to search through PyPI in order to find a desired package. This kind of search is initiated by the following command:

```
pip search anystring
```

The anystring provided by you will be searched in:

the names of all the packages;
the summary strings of all the packages.
Be aware of the fact that some searches may generate a real avalanche of data, so try to be as specific as possible. For example, an innocent-looking query like this one:

```
pip search pip
```

Sample

If you’re a system administrator, you can install pygame using the following command:

```
pip install pygame
```

If you're not an admin, or you don't want to fatten up your OS by installing pygame system-wide, you can install it for you only:

```
pip install --user pygame
```

The `pip install` has two important additional abilities:

  * it is able to update a locally installed package – e.g., if you want to make sure that you’re using the latest version of a particular package, you can run the following command:

```
pip install -U package_name
```

where `-U` means update. Note: this form of the command makes use of the `--user` option for the same purpose as presented previously;

* it is able to `install a user-selected version` of a package (pip installs the newest available version by default); to achieve this goal you should use the following syntax:

```
pip install package_name==package_version
```

(note the double equals sign) e.g.,

```
pip install pygame==1.9.2
```

If any of the currently installed packages are no longer needed and you want to get rid of them, pip will be useful, too. Its uninstall command will execute all the needed steps.

The required syntax is clear and simple:

```
pip uninstall package_name
```

so if you don't want pygame anymore you can execute the following command:

```
pip uninstall pygame
```

List of main pip activities looks as follows:

* `pip help operation` - shows brief pip's description;
* `pip list` - shows list of currently installed packages;
* `pip show package_name` - shows package_name info including package's dependencies;
* `pip search anystring` - searches through PyPI directories in order to find packages which name contains anystring;
* `pip install name` - installs name system-wide (expect problems when you don't have administrative rights);
* `pip install --user name` - install name for you only; no other your platform's user will be able to use it;
* `pip install -U name` - updates previously installed package;
* `pip uninstall name` - uninstalls previously installed package;

# **Input Output File**

**<h4>File Handling</h4>**

Different operating systems can treat the files in different ways. For example, Windows uses a different naming convention than the one adopted in Unix/Linux systems.

```
`Windows`
C:\directory\file

`Linux`
/directory/file
```

Suppose also that you want to assign a string containing the name of the file.

In Unix/Linux systems, it may look as follows:

```
name = "/dir/file"
```

But if you try to code it for the Windows system:

```
name = "\dir\file"
```

you'll get an unpleasant surprise: either Python will generate an error, or the execution of the program will behave strangely, as if the file name has been distorted in some way.

In fact, it's not strange at all, but quite obvious and natural. Python uses the \ as an escape character (like \n).

This means that Windows file names must be written as follows:

```
name = "\\dir\\file"
```

Fortunately, there is also one more solution. Python is smart enough to be able to convert slashes into backslashes each time it discovers that it's required by the OS.

This means that any the following assignments:

```
name = "/dir/file"
name = "c:/dir/file"
```

will work with Windows, too.

The key function for working with files in Python is the `open() function`.

```
open(file_name, mode=open_mode, encoding=text_encoding)
```

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

> "r" - Read - Default value. Opens a file for reading, error if the file does not exist

> "a" - Append - Opens a file for appending, creates the file if it does not exist

> "w" - Write - Opens a file for writing, creates the file if it does not exist

> "x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

> "t" - Text - Default value. Text mode

> "b" - Binary - Binary mode (e.g. images)

To open a file for reading it is enough to specify the name of the file:

`f = open("demofile.txt")`

The code above is the same as:

`f = open("demofile.txt", "rt")`

Because "r" for read, and "t" for text are the default values, you do not need to specify them.

**<h4>Open a File on the Server</h4>**

`f = open("demofile.txt", "r")`

`print(f.read())`

If the file is located in a different location, you will have to specify the file path

`f = open("D:\\myfiles\welcome.txt", "r")`

`print(f.read())`

**<h4>Read Only Parts of the File</h4>**

`f = open("demofile.txt", "r")`

`print(f.read(5))`

**<h4>Read Lines</h4>**

Read one line of the file:

`f = open("demofile.txt", "r")`

`print(f.readline())`

By calling readline() two times, you can read the two first lines:

Read two lines of the file:

`f = open("demofile.txt", "r")`

`print(f.readline())`

`print(f.readline())`

* `read(number)` – reads the number characters/bytes from the file and returns them as a string; is able to read the whole file at once;
* `readline()` – reads a single line from the text file;
* `readlines(number)` – reads the number lines from the text file; is able to read all lines at once;
* `readinto(bytearray)` – reads the bytes from the file and fills the bytearray with them;

Loop through the file line by line:

`f = open("demofile.txt", "r")`

`for x in f :`

`--print(x)`

**<h4>Close Files</h4>**

`f = open("demofile.txt", "r")`

`print(f.readline())`

`f.close()`

**<h4>Create a New File</h4>**

To create a new file in Python, use the open() method, with one of the following parameters:

> "x" - Create - will create a file, returns an error if the file exist

> "a" - Append - will create a file if the specified file does not exist

> "w" - Write - will create a file if the specified file does not exist

Create a file called "myfile.txt":

`f = open("myfile.txt", "x")`

Create a new file if it does not exist:

`f = open("myfile.txt", "w")`

**<h4>Write to an Existing File</h4>**

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

Open the file "demofile2.txt" and append content to the file:

`f = open("demofile2.txt", "a")`

`f.write("Now the file has more content!")`

`f.close()`


`f = open("demofile2.txt", "r")`

`print(f.read())`

Open the file "demofile3.txt" and overwrite the content:

`f = open("demofile3.txt", "w")`

`f.write("Woops! I have deleted the content!")`

`f.close()`

`f = open("demofile3.txt", "r")`

`print(f.read())`

* `write(string)` – writes a string to a text file;
* `write(bytearray)` – writes all the bytes of bytearray to a file;

**<h4>Delete a File</h4>**

To delete a file, you must import the OS module, and run its os.remove() function:

`import os`

`os.remove("demofile.txt")`

**<h4>Check if File exist</h4>**

`import os`

`if os.path.exists("demofile.txt"):`

`--os.remove("demofile.txt")`

`else:`

`--print("The file does not exist")`

**<h4>Delete Folder</h4>**

`import os`

`os.rmdir("myfolder")`

In [517]:
# input output file



"""
w = write mode / mode menulis dan menghapus file lama, jika file tidak ada maka akan dibuat file baru
r = read mode only / hanya bisa baca
a = appending mode / menambahkan data di akhir baris
r+ = write and read mode
"""
# membuat file text

file = open("data.txt",'w')

file.write("ini adalah data text yang dibuat dengan menggunakan python")
file.write("\nini baris kedua")
file.write("\nini baris ketiga")
file.write("\nini baris keempat")

file.close()

# membaca file text

file2 = open("data.txt",'r')

#print(file2.read(10))

print(file2.readline())

file2.close()


# appending mode

file3 = open("data.txt", 'a')

file3.write("\nbaris ini dibuat dengan menggunakan mode append")

file3.close()

ini adalah data text yang dibuat dengan menggunakan python

# **Exceptions**

```
ValueError: math domain error 
```
```
Traceback (most recent call last):
File "div.py", line 2, in 
value /= 0
ZeroDivisionError: division by zero
```

This exception error is called ZeroDivisionError.

```
Traceback (most recent call last):
File "lst.py", line 2, in 
x = list[0]
IndexError: list index out of range
```

This is the IndexError.

# **Try and Exception**

Ada setidaknya dua jenis kesalahan berdasarkan kejadiannya: 

* Kesalahan sintaksis (syntax errors) atau sering disebut kesalahan penguraian (parsing errors)

* Pengecualian (exceptions) atau sering disebut kesalahan saat beroperasi (runtime errors)

Kesalahan sintaksis terjadi ketika Python tidak dapat mengerti apa yang Anda perintahkan. Sedangkan pengecualian (kesalahan saat beroperasi) terjadi ketika Python mengerti apa yang Anda perintahkan tetapi mendapatkan masalah saat mengikuti yang Anda perintahkan (terjadi saat aplikasi sudah mulai beroperasi).

Kesalahan Sintaksis -> indentasi, invalid syntax

Pengecualian -> is not define, type input error

The `try` block lets you test a block of code for errors.

The `except` block lets you handle the error.

The `finally` block lets you execute code, regardless of the result of the try- and except blocks.

![tryexceptionteori.png](https://raw.githubusercontent.com/nurimammasri/Wooky-Python/main/image/tryexceptionteori.png)

In [518]:
#The try block will generate an error, because x is not defined:

try:
  print(z)
except:
  print("An exception occurred")

{'banana', 'cherry', 'microsoft', 'apple', 'google'}

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [519]:
#The try block will generate a NameError, because x is not defined:

try:
  print(z)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

{'banana', 'cherry', 'microsoft', 'apple', 'google'}

In [520]:
nol = 0
try:
    x = 1 / nol
    print(x)
except ZeroDivisionError:
    print('tidak bisa membagi angka dengan nilai nol')

tidak bisa membagi angka dengan nilai nol

In [521]:
try:
    with open('contoh_tidak_ada.py') as file:                   
        print(file.read())                          
except (FileNotFoundError, ):
    print('file tidak ditemukan')

file tidak ditemukan

In [522]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
    print(y)
except ZeroDivisionError:
    print("You cannot divide by zero, sorry.")
except ValueError:
    print("You must enter an integer value.")
except:
    print("Oh dear, something went wrong...")

print("THE END.")

Enter a number: 0
You cannot divide by zero, sorry.
THE END.

In [523]:
print("ini adalah program pembagian")

while True:
    try:
        # import panda
        penyebut = int(input("masukan angka penyebut: "))
        pembilang = int(input("masukan angka pembilang: "))
        hasil = penyebut/pembilang
        break
    except ValueError:
        print("yang anda masukan bukan angka\n")
    except ZeroDivisionError:
        print("angka pembilang yang anda masukan adalah nol, pilih yang lain ya bro/sist\n")
    except Exception as err:
        print(err)

"""
    type of exception errors:
    1. IOError
    2. ImportError
    3. ValueError
    4. Division by zero
    5. KeyboardInterupted
    6. EOFError
"""

print("berhasil, hasil pembagian adalah: ", hasil)

ini adalah program pembagian
masukan angka penyebut: sss
yang anda masukan bukan angka

masukan angka penyebut: 0
masukan angka pembilang: 0
angka pembilang yang anda masukan adalah nol, pilih yang lain ya bro/sist

masukan angka penyebut: 12
masukan angka pembilang: 2
berhasil, hasil pembagian adalah:  6.0

In [524]:
try:
  import panda
except ImportError:
  print("gak ada modulnya bro")

gak ada modulnya bro

In [525]:
# Contoh Exception kunci tidak ditemukan di DICTIONARY
d = {'ratarata': '10.0'}
try:
    print('rata-rata: {}'.format(d['rata_rata']))
except KeyError:                                 
    print('kunci tidak ditemukan di dictionary')
except ValueError:              
    print('nilai tidak sesuai')

kunci tidak ditemukan di dictionary

In [526]:
# Contoh Exception tipe tidak sesuai di DICTIONARY
d = {'ratarata': '10.0'}
try:
    print('rata-rata: {}'.format(d['ratarata']/3))
except KeyError:                                 
    print('kunci tidak ditemukan di dictionary')
except (ValueError, TypeError):
    print('nilai atau tipe tidak sesuai')

nilai atau tipe tidak sesuai

In [527]:
# Contoh Exception tipe konversi tidak cocok di DICTIONARY
d = {'ratarata': '10.0'}
try:
    print('pembulatan rata-rata: {}'.format(int(d['ratarata'])))
except (ValueError, TypeError) as e:         
    print('penangan kesalahan: {}'.format(e))

penangan kesalahan: invalid literal for int() with base 10: '10.0'

In [528]:
class MyZeroDivisionError(ZeroDivisionError):	
    pass


def do_the_division(mine):
    if mine:
        raise MyZeroDivisionError("some worse news")
    else:		
        raise ZeroDivisionError("some bad news")


for mode in [False, True]:
    try:
        do_the_division(mode)
    except ZeroDivisionError:
        print('Division by zero')

for mode in [False, True]:
    try:
        do_the_division(mode)
    except MyZeroDivisionError:
        print('My division by zero')
    except ZeroDivisionError:
        print('Original division by zero')

Division by zero
Division by zero
Original division by zero
My division by zero

**<h4>*Else*</h4>**

if no errors were raise

In [529]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

**<h4>*Finally*</h4>**

The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [530]:
try:
  print(z)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

{'banana', 'cherry', 'microsoft', 'apple', 'google'}
The 'try except' is finished

In [531]:
# This can be useful to close objects and clean up resources:

# try:
#   f = open("demofile.txt")
#   f.write("Lorum Ipsum")
# except:
#   print("Something went wrong when writing to the file")
# finally:
#   f.close()

In [532]:
def reciprocal(n):
    try:
        n = 1 / n
    except ZeroDivisionError:
        print("Division failed")
        n = None
    else:
        print("Everything went fine")
    finally:
        print("It's time to say goodbye")
        return n


print(reciprocal(2))
print(reciprocal(0))

Everything went fine
It's time to say goodbye
0.5
Division failed
It's time to say goodbye
None

**<h4>*Raise*</h4>**

In [533]:
# Raise an error and stop the program if x is lower than 0:

# x = -1

# if x < 0:
#   raise Exception("Sorry, no numbers below zero")

In [534]:
def bad_fun(n):
    raise ZeroDivisionError

try:
    bad_fun(0)
except ArithmeticError:
    print("What happened? An error?")

print("THE END.")

What happened? An error?
THE END.

In [535]:
def bad_fun(n):
    try:
        return n / 0
    except:
        print("I did it again!")
        raise

try:
    bad_fun(0)
except ArithmeticError:
    print("I see!")

print("THE END.")

I did it again!
I see!
THE END.

**<h4>*Build your own exception structure*</h4>**

In [536]:
class PizzaError(Exception):
    def __init__(self, pizza, message):
        Exception.__init__(self, message)
        self.pizza = pizza


class TooMuchCheeseError(PizzaError):
    def __init__(self, pizza, cheese, message):
        PizzaError.__init__(self, pizza, message)
        self.cheese = cheese


def make_pizza(pizza, cheese):
    if pizza not in ['margherita', 'capricciosa', 'calzone']:
        raise PizzaError(pizza, "no such pizza on the menu")
    if cheese > 100:
        raise TooMuchCheeseError(pizza, cheese, "too much cheese")
    print("Pizza ready!")

for (pz, ch) in [('calzone', 0), ('margherita', 110), ('mafia', 20)]:
    try:
        make_pizza(pz, ch)
    except TooMuchCheeseError as tmce:
        print(tmce, ':', tmce.cheese)
    except PizzaError as pe:
        print(pe, ':', pe.pizza)

Pizza ready!
too much cheese : 110
no such pizza on the menu : mafia