<img alt="DSC Unhas logo" src="https://drive.google.com/uc?export=view&id=1ET_yhAUAcpU98KklqF1TeYOU63jeUQNm" align="left" hspace="10px" vspace="10px"/>

<br><br><br><br>

# **Introduction to Python Part 1**

This colab will cover some introduction to Python Programming Language : 
- How to output a text
- Comment in Python
- Variables in Python
- Casting
- String
- Operators
- If - Else
- Looping
- Function
- Data Structure in Python

## **Print Command**

To put an output, you can just call print command : **print(  )**

In [ ]:
print("Hello DSC Universitas Hasanuddin")

Hello DSC Universitas Hasanuddin

In [ ]:
print(10)

10

In [ ]:
10

10

Try to print something on your own.

In [ ]:
# TODO : Print a text
print("Nur Imam Masri")
print("""
Nur Imam Masri
D12181322
Teknik Informatika
""")

Nur Imam Masri

Nur Imam Masri
D12181322
Teknik Informatika

## **Comment in Python**

Comments can be used to :
- make the code more readable
- prevent execution when testing code

In Python, you can make comment using **#** command.

In [ ]:
# This is the explanation of code
print("Comment is not execute.")

Comment is not execute.

For multi-line command you can use triple quotes and place command inside it.

In [ ]:
"""
MultiLine
First line comment
Second line comment
"""

"Comment Singgle Line"

print("Comment is not execute")

Comment is not execute

## **Variables in Python**

Data values can be stored in variables. Unlike other programming language, Python don't have command for declaring a variable. A variable is created at the moment you assign a value to it. Also, variable don't need to be declared with any particular type and can even change type after they have been set.

In [ ]:
x = 'DSC Unhas' # type of x is string

x = 10          # type of x change to int

print(x)

10

A variable can have a short name (like x and y) or a more descriptive name (age, carName, total_volume). Rules for Python variables:
- A variable name **must** start with a letter or the underscore character
- A variable name **cannot start with a number**
- A variable name can only contain **alpha-numeric characters and underscores** (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

Besides, Python also allows you to assign values to **multiple variables** in one line.

In [ ]:
a, b, c = "DSC", 'Unhas', 1

print(a)
print(b)
print(c)

DSC
Unhas
1

Or, you can assingn **same value** to multiple variables in one line.

In [ ]:
a = b = c = "DSC Unhas"

print(a, b, c)

DSC Unhas DSC Unhas DSC Unhas

In [ ]:
x = 10
y = 20
z = 30

#Type of print out variable
print("x = ",x,", y = ",y," z = ", z)
print("x = "+ str(x) +", y = "+ str(y) +", z = "+ str(z))
print("x = %d, y = %d, z = %d" % (x,y,z))

x =  10 , y =  20  z =  30
x = 10, y = 20, z = 30
x = 10, y = 20, z = 30

## **Casting**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- **int()** - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# Cast value to int

a = int(10)
b = int(10.82)
c = int('3')

print(a, b, c)

10 10 3

In [ ]:
# Cast value to float

a = float(10)
b = float(10.82)
c = float('3.02')

print(a, b, c)

10.0 10.82 3.02

In [ ]:
# Cast value to string

a = str(10)
b = str(10.82)
c = str('3.02')

print(a, b, c)

10 10.82 3.02

Why casting is important? Because you can't concatenate a string and a number. One of the ways to concatenate is to cast number value to string using **str()**.

In [ ]:
text = "This year is "
year = 2020

# TODO : fix the error
print(text + year)  # this will throw an error. Try to cast year to string first

TypeError: ignored

## **String**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**

In [ ]:
print('hello' == "hello")  # will return True

True

For multiline string, you can use triple quotes """ ... """ or triple single quote ''' ... '''

In [ ]:
text = """Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, 
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. """

print(text)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

### **Strings are Arrays**
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [ ]:
text = "DSC Universitas Hasanuddin"

# Get a character in position 2
print(text[2])

C

### **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string. Also, you can use negative indexes to start the slice from the end of the string.

In [ ]:
text = "DSC Universitas Hasanuddin"

print(text[:3])     # print text start from beginning to index 3(not include)
print(text[4:15])   # print text start from index 4 to index 15(not include)
print(text[:-2])    # print text start from beginning to index 1 from end (not include)

DSC
Universitas
DSC Universitas Hasanudd

In [ ]:
text = "DSC Universitas Hasanuddin"

# TODO : Try to print 'versit' from text using slicing

### **String Concatenation**

String concatenation in Python can be done these ways :
- Using str() function
- Using % operator
- Using format() function
- Using f-string

In [ ]:
date = 21
month = 'February'

print('Today is ' + month + ', ' + str(date) + 'st.')

Today is February, 21st.

In [ ]:
date = 21
month = 'February'

print('Today is %s, %dst.' % (month, date))

Today is February, 21st.

In [ ]:
date = 21
month = 'February'

print('Today is {}, {}st.'.format(month, date))

print('Today is {1}, {0}st.'.format(date, month))

Today is February, 21st.
Today is February, 21st.

In [ ]:
date = 21
month = 'February'

print(f'Today is {month}, {date}st.')

Today is February, 21st.

### **String Method**

Python has a set of built-in methods that you can use on strings. Reference : [String Method](https://www.w3schools.com/python/python_ref_string.asp)

## **Operators**

Operators are used to perform operations on variables and values.

### **Python Arithmetic Operators**
Arithmetic operators are used with numeric values to perform common mathematical operations.
- \+ : Addition
- \- : Subtraction		
- \* : Multiplication
- /	 : Division
- %	 : Modulus
- ** : Exponentiation	
- // : Floor division

In [ ]:
print(10 + 4)   # 14
print(10 - 4)   # 6
print(10 * 4)   # 40
print(10 / 4)   # 2.5
print(10 % 4)   # 2
print(10 ** 4)  # 1000
print(10 // 4)  # 2

14
6
40
2.5
2
10000
2

### **Comparison Operators**

Comparison operators are used to compare two values:
- **==** : Equal
- **!=** : Not equal
- **>** : Greater than
- **<** : Less than
- **>=** : Greater than or equal to
- **<=** : Less than or equal to

### **Logical Operators**

Logical operators are used to combine conditional statements:

- **and** : Returns True if both statements are true
- **or** : Returns True if one of the statements is true
- **not** : Reverse the result, returns False if the result is true

In [ ]:
print(10 > 5 and 'A' < 'a')     # True and True => True

print(10 >= 10 or 10 > 10)      # True or False => True 

print(not('hello' == "hello"))  # not True => False

True
True
False

### **Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

- **is** : Returns true if both variables are the same object
- **is not** : Returns true if both variables are not the same object

In [ ]:
list1 = ['a', 'b', 'c']
list2 = ['a', 'b', 'c']

print(list1 == list2)   # True because the value is the same

print(list1 is list2)   # False because list1 and list2 have different memory location

True
False

In [ ]:
list1 = ['a', 'b', 'c']
list2 = list1

print(list1 is list2)

True

### **Membership Operators**

Membership operators are used to test if a sequence is presented in an object.
- **in** : Returns True if a sequence with the specified value is present in the object
- **not in** : Returns True if a sequence with the specified value is not present in the object

In [ ]:
print('ni' in 'Universitas Hasanuddin')     # True because ni exist in thet text

True

## **If - Else**

### **If Statement**

An if statement is a programming conditional statement that, if proved true, performs a function or displays information.

An "if statement" is written by using the **if** keyword.

In [ ]:
if 40 > 20 :
    print('40 is larger than 20!')

40 is larger than 20!

Things to remember is that if statement using indentation to define scope in the code while other programming language often use curly-brackets.

### **Elif**

The **elif** keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
num1 = 10
num2 = 10

if num1 > num2:
    print("{} is greater than {}".format(num1, num2))
elif num1 == num2:
    print("{} and {} are equal".format(num1, num2))

10 and 10 are equal

### **Else**

The **else** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
num1 = 10
num2 = 100

if num1 > num2:
    print("{} is greater than {}".format(num1, num2))
elif num1 == num2:
    print("{} and {} are equal".format(num1, num2))
else:
    print("{} is less than {}".format(num1, num2))

10 is less than 100

### **Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
num1 = 100
num2 = 10

if num1 > num2: print("num1 is greater than num2")

num1 is greater than num2

### **Short Hand If - Else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
num1 = 10
num2 = 100

print("The bigger number is :")
print("num1") if num1 > num2 else print("num2")

The bigger number is :
num2

### **Nested If**

You can have if statements inside if statements, this is called nested if statements.

In [ ]:
num = 30

if num > 10:
  print("Above ten,")
  if num > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## **Looping**

Python has two primitive loop commands:
- **while** loops
- **for** loops

### **While Loop**

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print one to five
i = 1
while i <= 5:
    print(i)
    i += 1          # increment by one

1
2
3
4
5

In [ ]:
"""
TODO : Try to print a triangle like this :
*
**
***
****
*****
"""

'\nTODO : Try to print a triangle like this :\n*\n**\n***\n****\n*****\n'

#### **Break Statement**

With the **break** statement we can stop the loop even if the while condition is true.

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

In [ ]:
i = 1
while i <= 5:
    if i == 4:
        break
    print(i)
    i += 1

1
2
3

#### **Continue Statement**

With the **continue** statement we can stop the current iteration, and continue with the next. Remember to put increment before continue statement.

In [ ]:
i = 0
while i < 5:
    i += 1
    if i == 4:
        continue
    print(i)

1
2
3
5

### **For Loop**

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
for text in ['DSC', 'Universitas', 'Hasanuddin']:
    print(text)

DSC
Universitas
Hasanuddin

Even strings are iterable objects, they contain a sequence of characters.

In [ ]:
for char in 'DSC Unhas':
    print(char)

D
S
C

U
n
h
a
s

#### **range()**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

You can pass up to 3 parameter to range() :
- *start* : **Optional**. An integer number specifying at which position to start. Default is 0.
- *stop* : **Required**. An integer number specifying at which position to end.
- *step* : **Optional**. An integer number specifying the incrementation. Default is 1.

 range(5) => 0, 1, 2, 3, 4

 range(2, 5) => 2, 3, 4

 range(1, 8, 2) => 1, 3, 5, 7

In [ ]:
# TODO : Try to print 3, 7, 11, 15, 19, 23

#### **Nested Loop**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
adjectives = ["big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adjective in adjectives:
  for fruit in fruits:
    print(adjective, fruit)

big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## **Function**

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In Python, a function is defined using **def** keyword. And to call a function, use the function name followed by parenthesis.

In [ ]:
def print_hello():
    print("Hello")

print_hello()

Hello

#### **Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [ ]:
def print_hi(name):
    print("Hi, " + name)

print_hi("DSC Unhas")

Hi, DSC Unhas

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def print_hi(first_name, last_name):
    print("Hi, " + first_name + ' ' + last_name)

print_hi('Kevin', 'Chandra')

Hi, Kevin Chandra

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def print_hi(first_name, last_name):
    print("Hi, " + first_name + ' ' + last_name)

print_hi(last_name='Chandra', first_name='Kevin')

Hi, Kevin Chandra

**Arbitrary Arguments** (*args)

If you do not know how many arguments that will be passed into your function, add a **\*** before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [ ]:
def kids_list(*kids):
    print("The oldest child is " + kids[0])

kids_list('Bill', 'Jeff', 'Mark')

The oldest child is Bill

**Arbitrary Keyword Arguments** (**kwargs)

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

In [ ]:
def kids_list(**kids):
  print("The oldest child is " + kids["first"])

kids_list(first = "Bill", second = "Jeff", last = "Mark")

The oldest child is Bill

#### **Default Parameter Value**

Default Parameter value is the value that you assigned to a parameter so that if you call the function without argument, it uses the default value.

In [ ]:
def print_lucky_num(num = 10):
    print("My lucky number is " + str(num))

print_lucky_num(100)
print_lucky_num()

My lucky number is 100
My lucky number is 10

#### **Return Values**

To let a function return a value, use the **return** statement.

In [ ]:
def multiply_by_10(num):
    return num * 10

print(multiply_by_10(12))

120

#### **Recursion**

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In [ ]:
def factorial(num):
    if num < 0:
        return "Negative value don't have factorial"
    elif num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num-1)

print(factorial(-5))
print(factorial(0))
print(factorial(5))

Negative value don't have factorial
1
120

## **Data Structures in Python**

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered and unindexed. No duplicate members.
- **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

### **List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']
print(list_)

You access the list items by referring to the index number (index number start from 0). 

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

print(list_[0])     # Bill
print(list_[-2])    # Jeff

Bill
Jeff

Lists are **mutable** object which means you can modify a list object after it has been created. To change the value of a specific item, refer to the index number.

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_[2] = 'Elon'

print(list_)

['Bill', 'Jeff', 'Elon']

To determine how many items a list has, use the **len()** function

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']
print(len(list_))

3

**Add Items**

To add an item to the end of the list, use the **append()** method. And to add an item at the specified index, use the **insert()** method.

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.append('Elon')
print(list_)

['Bill', 'Jeff', 'Mark', 'Elon']

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.insert(1, 'Elon')
print(list_)

['Bill', 'Elon', 'Jeff', 'Mark']

**Remove Item**

There are several methods to remove items from a list.
- remove() : remove specified item
- pop() : remove the specified index (default : last item)
- del : remove specified index
- clear() : empty the list

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.remove('Bill')
print(list_)

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.pop(1)
print(list_)

['Bill', 'Mark']

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.pop()
print(list_)

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

del list_[0]
print(list_)

['Jeff', 'Mark']

In [ ]:
list_ = ['Bill', 'Jeff', 'Mark']

list_.clear()
print(list_)

[]

### **Tuple**

A tuple is a sequence of **immutable** Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [ ]:
tuple_ = ('Bill', 'Jeff', 'Mark')
print(tuple_)

('Bill', 'Jeff', 'Mark')

You access the tuple items by referring to the index number (index number start from 0).

In [ ]:
print(tuple_[2])

Mark

In [ ]:
print(tuple_[:-1])

Tuples are **immutable** which means you cannot update or change the values of tuple elements.

In [ ]:
# Following action is not valid for tuples
# tuple_[0] = 'Elon'

Removing individual tuple elements is not possible.

To explicitly remove an entire tuple, just use the del statement.

In [ ]:
tuple_ = ('Bill', 'Jeff', 'Mark')
print(tuple_)

del tuple_
print(tuple_)       # This will cause an error because tuple_ is no longer exist

('Bill', 'Jeff', 'Mark')

NameError: ignored

### **Dictionary**

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. Each key is separated from its value by a colon (:), the items are separated by commas.

In [ ]:
dict_ = {'Name' : 'Bill', 'Age' : 20, 'Address' : 'Poros Malino'}
print(dict_)

{'Name': 'Bill', 'Age': 20, 'Address': 'Poros Malino'}

To access dictionary elements, you can use the square brackets along with the key to obtain its value.

In [ ]:
print(dict_['Address'])

Poros Malino

You can change the value of a specific item by referring to its key name.

In [ ]:
dict_['Name'] = 'Jeff'
print(dict_)

**Loop Through a Dictionary**

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
for key in dict_:
    print(key)

Name
Age
Address

In [ ]:
# To print value from dictionary :
for key in dict_:
    print(dict_[key])

Bill
20
Poros Malino

In [ ]:
# Or use values() function
for value in dict_.values():
    print(value)

Bill
20
Poros Malino

In [ ]:
# Loop through both keys and values using items()
for key, value in dict_.items():
    print(key, value)

Name Bill
Age 20
Address Poros Malino

**Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [ ]:
print(dict_)

dict_['year_of_birth'] = 2000
print(dict_)

**Removing Items**

There are several methods to remove items from a dictionary.

The **pop()** method removes the item with the specified key name

In [ ]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.pop('Age')
print(dict_)

The **popitem()** method removes the last inserted item.

In [ ]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.popitem()
print(dict_)

The **del** keyword removes the item with the specified key name. The **del** keyword can also delete the dictionary completely.

In [ ]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

del dict_['Address']
print(dict_)

The **clear()** keyword empties the dictionary.

In [ ]:
dict_={
    'Name' : 'Bill', 
    'Age' : 20, 
    'Address' : 'Poros Malino',
    'year_of_birth' : 2000
}

dict_.clear()
print(dict_)

# **Let's play a game**

## **Hangman**

This is a Python script of the classic game "Hangman". The word to guess is represented by a row of dashes. If the player guess a letter which exists in the word, the script writes it in all its correct positions. The player has 10 turns to guess the word. You can easily customize the game by changing the variables.

In [ ]:
words = ['think', 'could', 'should', 'become', 'leave', 'begin', 'start', 'might',
 'believe', 'bring', 'happen', 'write', 'provide', 'stand', 'include', 'continue',
 'learn', 'change', 'understand', 'watch', 'follow', 'create', 'speak', 'allow',
 'spend', 'offer', 'remember', 'consider', 'appear', 'serve', 'expect', 'build',
 'reach']

import random
word = random.choice(words) # here we set the secret

guesses = ''                # creates an variable with an empty value

turns = 10                  # determine the number of turns

while turns > 0:            # check if the turns are more than zero
    failed = 0              # make a counter that starts with zero
  
    for char in word:       # for every character in secret_word  

        if char in guesses:               # see if the character is in the players guess
            print (char, end=" ")         # print then out the character

        else:
            print ("_", end=" ")          # if not found, print a dash
            failed += 1                   # and increase the failed counter with one

    if failed == 0:                       # if failed is equal to zero print You Won
        print ("You won")
        break                             # exit the script

    print() 
    guess = input("guess a char:")        # ask the user go guess a character

    guesses += guess                      # set the players guess to guesses

    if guess not in word:                 # if the guess is not found in the secret word
 
        turns -= 1                        # turns counter decreases with 1 (now 9)
        print ("Wrong")                   # print wrong
 
        print ("You have", turns, 'more guesses')   # how many turns are left

        if turns == 0:                              # if the turns are equal to zero
            print ("You Lose")                      # print "You Lose"
            print ("The right word :", word)

_ _ _ _ _ _ _ _ _ _

KeyboardInterrupt: ignored